[2013-01-23 10:58] fdaciuk opened #1 "Incluir Modernizr no lugar de HTML5 Shiv"
A Modernizr é mais completa e já tem o HTML5 Shiv embutido. O que acham?

[2013-01-23 15:05] claudiosanches opened #2 "Definir com qual Grid System iremos trabalhar"
Acredito que não preciso explicar o porque de usar um Grid System.

Precisamos definir qual Grid System será usado no projeto.

[2013-01-23 15:35] #1 closed, assigned to nobody

[2013-01-23 22:21] claudiosanches opened #3 "Criar templates padrões do WP"
Faltam ainda:
- 404.php
- archive.php
- archive-post_type.php (arquivo de exemplo para CPT)
- author.php
- category.php
- comments.php
- page.php
- search.php
- searchform.php
- single.php
- single-post_type.php (single de exemplo para CPT)
- tag.php

[2013-01-23 22:21] claudiosanches opened #4 "Funções para aprimorar o admin do WordPress"
Funções para limpar o Dashboard, cabeçalhos e outras coisas...

[2013-01-24 02:08] #3 closed, assigned to nobody

[2013-01-24 02:19] claudiosanches opened #5 "Funções e shortcode para botões de compartilhar"
Estou pensando em adicionar o Socialite.js no projeto e deixar funções e shortcodes prontos para chamar ele no tema.

Prefiro usar ele no lugar de inserir todos os botões um a um, pois ele tem opções de carregar tudo apenas quando rola a página ou passa o mouse nos botões.
Isso ajuda bastante no carregamento da página (já que o Facebook e Twitter gostam de zuar tudo xD).

O que vocês acham?

[2013-01-24 03:02] claudiosanches opened #6 "Adicionar LazyLoad"
O que vocês acham de adicionar [LazyLoad](http://www.appelsiini.net/projects/lazyload)?

Podemos aproveitar já a função para chamar as thumbnails e adicionar isso.

[2013-01-24 11:35] fdaciuk opened #7 "Ajustes no Aqua Resizer"
No arquivo inc/thumbnails.php, ajustar nas linhas:
- 138: Passar a variável $crop no lugar do true;
- 140: No return, a variável $image já está retornando a URL da imagem. Remover o parâmetro ['url'].

Não posso mexer agora, mas 12h30 eu ajusto isso xD

[2013-01-24 12:02] reiswalter opened #8 "Validação form comentários"
Pessoal,
Acho interessante incluir uma validação no form de comentários, geralmente os temas de WP o pessoal esquece disso.

Não vou conseguir fazer isso agora, se alguém puder.. seria legal..

[2013-01-24 12:41] ruanbarbosa opened #9 "Compatibilidade com bbPress e BuddyPress"
Eu particularmente gosto de utilizar esses dois plugins com alguns projetos. Pelo o que vi,  acredito que seja necessário inserir/alterar algumas divs. O que acham?

[2013-01-24 15:05] #7 closed, assigned to nobody

[2013-01-24 17:43] claudiosanches opened #10 "Compatibilidade com WooCommerce e Jigoshop"
Pode deixar comigo galera xD

[2013-01-25 00:46] claudiosanches opened #11 "Funções para de otimização e SEO"
@tudoparawp pode validar isso pra mim?

https://github.com/wpbrasil/odin/wiki/Fun%C3%A7%C3%B5es-do-optimize.php

[2013-01-25 05:30] claudiosanches opened #12 "Classe para Opções do tema"
Precisamos escrever ou encontrar alguma classe para gerar opções no tema.

[2013-01-25 05:30] claudiosanches opened #13 "Classe para Custom Post Types"
Precisamos encontrar uma classe pronta ou escrever um para criar Custom Post Types.

[2013-01-25 05:31] claudiosanches opened #14 "Classe para Custom Taxonomies"
Precisamos encontrar uma classe pronta ou escrever um para criar Custom Taxonomies.

[2013-01-25 05:31] claudiosanches opened #15 "Classe para Metaboxs"
Precisamos encontrar uma classe pronta ou escrever um para criar Metaboxs.

[2013-01-25 05:39] claudiosanches opened #16 "Adicionar suporte para Post Formats"
Precisamos adicionar suporte para Post Formats:
http://codex.wordpress.org/Post_Formats

E talvez até mesmo templates personalizados para eles.

[2013-01-25 05:41] claudiosanches opened #17 "Adicionar suporte para Infinite Scroll"
Acredito que seria legal adicionar suporte para o Infinite Scroll do JetPack.

[2013-01-25 06:08] claudiosanches opened #18 "Adicionar Slideshow/Galeria"
Pensando aqui em adicionar já suporte para montar galerias e slideshows.

Acho que o melhor candidato é o [bxSlider](http://bxslider.com/).
Ele não tem frufru igual o NivoSlider, entretanto ele é responsivo (funciona com touch e etc) e atende qualquer necessidade.

Exemplos do bxSlider:
http://bxslider.com/examples

[2013-01-25 06:10] claudiosanches opened #19 "Adicionar Lightbox"
Não sei vocês, mas em todo projeto acabo usando algum lightbox.

Gosto bastante do [Colorbox](http://www.jacklmoore.com/colorbox).
Ele é bem documentado e ainda vem com 5 temas nativos.

Talvez seria legal ter uma opção nos settings do tema no admin para selecionar os temas (mas isso fica para depois quando terminar a classe de **theme options**).

[2013-01-25 06:18] claudiosanches opened #20 "Criar imagens para Custom Header e Custom Background"
O @deblyn adicionou suporte para estas ferramentas, entretanto precisamos de algum design para gerar imagens padrões.

Quem tiver alguma ideia, por favor anexe neste ticket.

[2013-01-25 07:14] #17 closed, assigned to RafaelFunchal

[2013-01-26 17:09] #11 closed, assigned to gugaalves

[2013-01-26 18:51] #4 closed, assigned to nobody

[2013-01-26 20:16] #12 closed, assigned to nobody

[2013-01-26 20:41] #20 closed, assigned to nobody

[2013-01-26 21:57] #5 closed, assigned to nobody

[2013-01-27 02:44] #13 closed, assigned to nobody

[2013-01-27 03:24] #14 closed, assigned to nobody

[2013-01-27 03:28] #16 closed, assigned to nobody

[2013-01-27 03:54] #8 closed, assigned to reiswalter

[2013-01-27 04:23] #18 closed, assigned to nobody

[2013-01-27 17:37] #19 closed, assigned to nobody

[2013-01-27 17:48] claudiosanches opened #21 "Organização dos "features" e pastas"
Precisamos ver um jeito melhor para organizar os "features" para eles não virarem dependências do tema.

Estava adicionando o **colorbox** agora e deixei arquivos dentro do images/, js/, sass/ e inc/.

Acho que seria melhor construir uma estrutura do tipo:

[code]

No functions.php apenas chamamos o scriptX-init.php e já liga tudo de uma vez.
Se quiser remover isso do projeto basta deletar uma pas

[2013-01-27 18:20] #21 closed, assigned to nobody

[2013-01-30 02:35] ruanbarbosa opened #22 "Tags <h1> duplicadas"
Olá pessoal, enviei um commit com uma sugestão para o título do blog e sua descrição, pois as páginas estão com duas tags 'h1'. Já o motivo da retirada da tag 'h2' foi devido a ordem lógica (não ter nenhuma tag 'h1' antes).

[2013-01-30 03:05] #22 closed, assigned to nobody

[2013-01-30 03:10] claudiosanches opened #23 "Adicionar snippets de navegação para defiencientes visuais."
Precisamos deixar pronto esse tipo de navegação.
Com opções para ir direto para o conteúdo ou sidebar.

[2013-01-30 23:59] luanmuniz opened #24 "Adicionar jQuery e modificar main.js"
Poderiamos adicionar o jQuery ao footer.
Podemos usar o seguinte código antes do wp_footer()

[code]

Além disto poderiamos trocar o código do main.js para
Assim podemos usar o $ sem problema de conflitos
    jQuery.noConflict();
    (function($){
        $(function(){
            // Seu código vai aqui!
        });
    })(jQuery);

[2013-01-31 00:04] #24 closed, assigned to nobody

[2013-02-01 15:52] #2 closed, assigned to claudiosanches

[2013-02-04 03:52] #15 closed, assigned to nobody

[2013-02-04 03:53] claudiosanches opened #25 "Classe para criar Formulários"
Precisamos desenvolver ou encontrar alguma classe para desenvolver formulários.

[2013-02-04 04:07] claudiosanches opened #26 "UI/Design"
Acredito que estamos prontos para fazer algum design para começar o tema.

Como já expliquei para algumas pessoas, não vamos fazer o Twitter Bootstrap.
Apenas inserir uns estilos para marcar classes e ids importantes do tema.

Configurei um grid para ser usado no PS por aqui:
http://gridcalculator.dk/#/1180/12/20/10

Ele usa o tamanho padrão que foi usado no grid system que criamos.

@cristianoweb

[2013-02-04 04:12] claudiosanches opened #27 "Melhorar classe de menu do tema"
Será necessário melhorar a classe do menu do tema:
- Mover as variáveis de _private_ para _protected_;
- Corrigir o Javascript do campo de upload (tem uma classe que não existe nele);
- Mover o JS e CSS das opções para arquivos externos;
- Adicionar hook para inserir novos campos;
- Adicionar filtro para higienizar os campos antes de salvar.

[2013-02-04 04:30] claudiosanches opened #28 "Criar XML de "Sample Data""
Seria interessante desenvolver um XML de **Sample Data** e deixar aqui junto nesse repo.

Ajuda bastante ter um XML com imagens, vídeos, tipografia, formatos de posts e comentários.

Atualmente existe o:
https://wpcom-themes.svn.automattic.com/demo/theme-unit-test-data.xml

Entretanto a última vez que eu testei ele faltavam imagens e tinha algumas coisas quebradas.
Além da falta de teste para _oEm

[2013-02-04 14:49] claudiosanches opened #29 "Criar favicon default"
Acabei de lembrar que sempre esqueço de colocar favicon xD
Seria legal já deixar um set default para esse tipo de coisa.

[2013-02-07 22:16] claudiosanches opened #30 "Snippet de breadcrumbs"
Acredito que seria interessante ter um código pronto para gerar isso.

[2013-02-07 22:18] claudiosanches opened #31 "Snippet de post relacionados"
Preciso lembrar de adicionar uma função que já tenho pronta para isso.

[2013-02-09 17:35] #31 closed, assigned to claudiosanches

[2013-02-09 18:09] #23 closed, assigned to nobody

[2013-02-09 18:44] #29 closed, assigned to nobody

[2013-02-09 22:15] #28 closed, assigned to nobody

[2013-02-09 22:30] claudiosanches opened #32 "Criar pasta Core"
Estava olhando aqui e certas coisas que estão no `inc` deveria ficar em uma pasta que não deve ser alterada em cada projeto...

Desta forma deixamos a pasta `inc` para adicionar funções e outras coisas para cada projeto.

E criar uma pasta `core` com o **core** do Odin que não deve ser alterado no projeto.
Com isso será possível desenvolver um projeto com Odin e atualizar o core sem matar crianças

[2013-02-09 22:39] #27 closed, assigned to claudiosanches

[2013-02-09 23:13] #32 closed, assigned to nobody

[2013-02-09 23:29] #25 closed, assigned to nobody

[2013-02-10 01:44] #6 closed, assigned to nobody

[2013-02-10 01:46] claudiosanches opened #33 "Adicionar o Odin Grid System"
Falta adicionar o Odin Grid System no projeto.

Pretendo terminar algumas coisas dele e já substituir o Semantic.gs.

[2013-02-10 01:58] claudiosanches opened #34 "Criar README.md do projeto"
Precisamos criar um README.md descente para o projeto, pois falta pouco para colocar ele para o mundo com a versão 1.0 e seria interessante ter isso pronto :P

Alguém ai bom em redação esta afim de fazer?

Precisa ter o seguinte formato:
- Título
- Descrição do projeto
- "Instalação" (na verdade links para a nossa wiki onde tem as explicações gerais de quase tudo)
- Referencias (isso esta quase pr

[2013-02-10 04:58] #33 closed, assigned to claudiosanches

[2013-02-10 06:37] #34 closed, assigned to nobody

[2013-02-13 02:44] claudiosanches opened #35 "Template padrão para Attachments"
Talvez seria legal deixar um esquema de galeria igual tem no Twentyten.

Geralmente e muito chato clicar em uma imagem que esta linkando para a página dela... Layout sempre fica quebrado e tudo confuso.

No esquema do Twentyten tem link para retornar para o post e também ver as outras imagens.

[2013-02-13 03:27] claudiosanches opened #36 "Adicionar filtro na função odin_related_posts_custom_thumbnails()"
A função `odin_related_posts_custom_thumbnails()` esta no `functions.php` na linha 174.

Precisa adicionar o filtro `odin_thumbnail_html`, pois ele é utilizado pelo LazyLoad.

No caso precisa alterar:

[code]

Para:

[code]

[2013-02-13 06:28] claudiosanches opened #37 "Correção do LazyLoad com o JetPack Infinite Scroll"
Precisamos fazer uma correção no jQuery do LazyLoad para funcionar com o Infinite Scroll do JetPack.

Precisamos mudar o script dele para:

[code]

[2013-02-13 06:55] valdirljr opened #38 "Features List - Version 2"
Salve galera!

Conversando com o Claudio Sanches, pensei em algumas features para a V2:
- Painel de administração do Odin
- Painel Multi nível ( permissões )
- "Modularizar" : Habilidade de habilitar ou desabilitar algum pedaço do site. A idéia é padronizar a criação de blocos de informações dentro do projeto e facilitar a alteração, independente se for o desenvolvedor, administrator ou usuario se

[2013-02-15 15:31] claudiosanches opened #39 "Ocutar paginação de arquivos quando o Infinite Scroll estiver ativado"
Estava olhando aqui e a forma mais simples de fazer isso seria por CSS mesmo.
O Infinite Scroll adiciona uma classe no `body` e podemos usar ela para esconder a paginação.

[2013-02-15 16:05] claudiosanches opened #40 "Adicionar CSS Reset"
Comecei a desenvolver um tema e tive algumas problemas por causa do Normalize.css.

Além de que temos o `sass/source/_global.scss` que faz algo similar que o Normalize.css faz...

Estou pensando em "roubar" algumas coisas do Nornalize para o esse nosso global.scss e adicionar também um reset...

Desta forma o CSS Reset faz o papel dele removendo tudo e depois o nosso global.scss adicionar novament

[2013-02-17 05:05] #30 closed, assigned to nobody

[2013-02-17 05:18] #37 closed, assigned to nobody

[2013-02-17 05:20] #36 closed, assigned to nobody

[2013-02-17 16:27] deblynprado opened #41 "Bug com odin_admin_css()"
Ao fazer a chamada no functions.php recebo a seguinte mensagem no Admin

"Notice: wp_register_style foi chamada incorretamente. Scripts e estilos não devem ser registrados ou enfileirados até os ganchos wp_enqueue_scripts, admin_enqueue_scripts ou init. Consulte Depuração no WordPress para mais informações. (Esta mensagem foi adicionada na versão 3.3.) in /Applications/XAMPP/xamppfiles/htdocs/word

[2013-02-17 16:38] #41 closed, assigned to nobody

[2013-03-24 06:30] #40 closed, assigned to nobody

[2013-03-24 07:19] #39 closed, assigned to nobody

[2013-03-24 08:13] #26 closed, assigned to claudiosanches

[2013-03-24 18:08] claudiosanches opened #42 "Adicionar Grunt.js"
Adicionar Grunt.js no projeto.

Desta forma é possível comprimir todos os arquivos em apenas um.
Mas vamos deixar isso como alternativa para quem quiser usar e saber usar xD.

[2013-03-24 18:09] claudiosanches opened #43 "Deixar o layout repsonsivo"
Adicionar algumas tags para deixar ele responsivo.
E também para ser usado como exemplo do grid responsivo em SASS.

[2013-03-24 19:11] #10 closed, assigned to claudiosanches

[2013-03-24 19:16] #43 closed, assigned to claudiosanches

[2013-03-24 21:39] #35 closed, assigned to nobody

[2013-03-24 23:01] #42 closed, assigned to claudiosanches

[2013-03-26 14:38] lhas opened #44 "Traduzir para o inglês"
Não é um issue, mas seria interessante se traduzirmos toda a documentação para inglês. O que vocês acham?

[2013-03-27 03:35] #44 closed, assigned to nobody

[2013-03-31 13:02] RafaelFunchal opened #48 "Corrigir o ID da Sidebar no functions.php"
O id da sidebar estava errado no functions.php

Estava como 'mao=in-sidebar', só reparei por que um cara disse no grupo do Facebook que não estava conseguindo inserir os widgets.

[2013-03-31 13:02] #48 closed, assigned to RafaelFunchal

[2013-04-07 02:42] claudiosanches opened #49 "Melhor a estrutura de arquivos de projeto do SASS"
Ref: http://thesassway.com/beginner/how-to-structure-a-sass-project

[2013-04-14 21:37] claudiosanches opened #51 "Mudar função odin_excerpt() para usar wp_trim_words()"
Ref: http://codex.wordpress.org/Function_Reference/wp_trim_words

[2013-04-14 23:45] claudiosanches opened #52 "Documentação e website"
Esta na hora de documentar e ter um website de verdade.

Podemos fazer isso usando o WordPress mesmo, hospedando em algum lugar, ou podemos hospedar no GitHub o site e usar a Wiki que já temos.

Também podemos hospedar no GitHub e fazer um blog/documentação em HTML estático.
Para fazer isso da para usar o Jeckyll ou Octopress.

Bom, para quem não sabe o Jeckyll serve para desenvolver blogs usando

[2013-04-15 15:56] #51 closed, assigned to nobody

[2013-04-17 04:12] #49 closed, assigned to nobody

[2013-04-17 04:25] claudiosanches opened #53 "Criar shortcodes"
Acho que seria interessante ter alguns shortcodes padrões no core.
Isso pode ajudar bastante no desenvolvimento de temas e de sites também.
Todo tema pago se destaca por causa disso.

Estava pensando em criar shortcode para:
- [x] Botões
- [x] Caixas de alerta
- [ ] Conteúdo em aba (acho que não vai rolar legal com o Bootstrap puro, vamos ter que meter um JS)
- [x] FAQ/Accordion (aquelas caixa do

[2013-05-13 14:47] deblynprado opened #56 "Classe Metabox e Imagens no Post"
Estava desenvolvendo um template quando me deparei com o erro e resolvi testar no Odin puro.

Ao ativar o suporte aos Metaboxes, descomentando a linha 290 do functions.php não consigo inserir imagens em post/páginas.

Usando o botão de inserir mídia, após clicar em "Inserir no post" não é gerado o <img> referente à imagem.

[2013-05-14 03:09] #56 closed, assigned to nobody

[2013-05-14 03:38] adammacias opened #58 "Corrigir "Imagem Destacada" em: Post e Página"
Quando clico em "Remover imagem destacada" aparentemente ela é removida, porem ao atualizar o Post ou Página, a imagem destacada não é removida.

[2013-05-14 03:39] adammacias opened #59 "Corrigir "Imagem Destacada" em: Post e Página"
Quando clico em "Remover imagem destacada" aparentemente ela é removida, porem ao atualizar o Post ou Página, a imagem destacada não é removida.

[2013-05-14 03:44] #59 closed, assigned to nobody

[2013-05-14 16:25] #58 closed, assigned to nobody

[2013-05-16 03:12] danielantunes opened #61 "i18n e i10n"
E aí pessoal? "Forkei" hoje o Odin para começar a ajudar a comunidade. Muito legal a iniciativa. Vou me juntar a vocês para melhora-lo cada dia mais.

A primeira coisa que me chamou atenção, e que na minha opinião poderia ser mudado, é o padrão da linguagem usada, o português. O WordPress por padrão é em inglês (padrão mundial), portando o Odin deveria ser em inglês e com a tradução em pt_BR como

[2013-05-16 21:56] reiswalter opened #62 "Problema - PhotoSwipe"
Pessoal, estou começando a usar o Odin e ao usar o PhotoSwipe quando clico na imagem os controles, como avançar e fechar a galeria e etc... não aparecem como na versão demo que está no site da PhotoSwipe, será um erro do Odin ou "noobisse" minha, obrigado e o tema está show de bola, parabéns a todos. Espero contribui mais.

[2013-05-17 02:20] #62 closed, assigned to deblynprado

[2013-06-04 13:24] #61 closed, assigned to RafaelFunchal

[2013-06-07 22:01] claudiosanches opened #64 "Estrutura dos arquivos"
O @rafaelfunchal tinha falado do _s e talvez podemos adotar a mesma estrutura de arquivo deles.

Eles usam o archive.php para praticamente tudo e se fizer igual daria para tirar o tag.php, category.php, author.php e etc, deixando apenas um arquivo.

O que vocês acham?

[2013-06-08 22:06] #64 closed, assigned to nobody

[2013-06-12 17:50] deblynprado opened #65 "Melhorias no Metabox"
- Mudar a estrutura do Metabox afim de permitir que o desenvolvedor informe o tipo de input que será utilizado.
- Implementar Metabox de oEmbed seguindo esse exemplo https://github.com/jaredatch/Custom-Metaboxes-and-Fields-for-WordPress

[2013-06-13 04:34] #65 closed, assigned to claudiosanches

[2013-06-24 18:33] nandomoreirame opened #67 "Input type number class Odin_Metabox"
Salve galera do Wordpress Brasil.

Primeiro quero parabenizar todos pela iniciativa de cria esse super tema pai de todos! :+1:

Estou trabalhando em um tema usando o Odin e surgiu a necessidade de utilizar o input number nos Metaboxes...
Eu já inclui aqui mas seria uma boa se implementasse esse recurso nas próximas versões. :octocat:

Abrax!

[2013-08-13 00:40] claudiosanches opened #68 "Criar diretorio assets"
Acho que seria interessante criar um diretorio `assets` para deixar as pastas `images`, `js`, `css`, e `scss`.

Iria melhor bem a organização.

O que vocês acham?

[2013-08-13 00:44] claudiosanches opened #69 "Remover "plugins""
Estava pensando em remover o Colorbox, LazyLoad, PhotoSwipe e o Socialite do core do Odin e transformar eles em plugins a parte.

Sem nada de painel de configuração ou algo assim.
Apenas clicar em ativar e usar como fazemos hoje no Odin.

Acho que isso seria melhor para dar suporte para essas coisas e até mesmo manter os scripts deles atualizados.

[2013-08-13 02:39] #68 closed, assigned to nobody

[2013-08-13 02:41] claudiosanches opened #70 "Adicionar .editorconfig"
Acho que esta na hora de começar a usar xD

http://editorconfig.org/

[2013-08-13 02:50] #70 closed, assigned to nobody

[2013-08-21 00:45] claudiosanches opened #71 "Adicionar Bootstrap 3"
Adicionar Bootstrap 3: https://github.com/jlong/sass-bootstrap

[2013-08-21 00:46] claudiosanches opened #72 "Criar classe de form para front-end"
Criar classe para criar formulários no front-end.
Tanto para contato como para salvar conteúdo em CPTs.

[2013-08-21 02:47] #71 closed, assigned to claudiosanches

[2013-08-21 03:34] #53 closed, assigned to claudiosanches

[2013-08-21 03:38] #52 closed, assigned to nobody

[2013-08-21 03:39] #38 closed, assigned to nobody

[2013-08-21 03:39] #9 closed, assigned to nobody

[2013-08-21 04:21] #69 closed, assigned to nobody

[2013-08-23 05:42] claudiosanches opened #74 "Atualizar o attachment.php para audio e video"
Precisando atualizar o attachment.php para que seja possível adicionar direto o player novo do WordPress 3.6 de audio e video.

Sem esquecer é claro dos rich snippets para isso.

Não achei nenhuma função ainda para testar se é um audio ou video como existe a função `wp_attachment_is_image()`.

Entretanto podemos fazer por exemplo da seguinte forma:

[code]

[2013-08-28 14:23] claudiosanches opened #75 "Adicionar documentação inline para arquivo de template"
Precisamos adicionar documentação no começo dos arquivos de template explicando o que cada um faz.
Todos os temas nativos do WordPress tem isso e é importante para quem esta aprendendo a fazer tema.
Além de manter organizado..

[2013-08-29 01:20] #75 closed, assigned to nobody

[2013-08-30 00:42] #67 closed, assigned to claudiosanches

[2013-08-30 02:29] fdaciuk opened #76 "Classe Metabox - Opções para campos de formulário"
Adicionei uma nova variável para incluir qualquer atributo em qualquer campo de formulário. Para setar os atributos, deve-se passar o parâmetro **"attrs"** da seguinte forma:

[code]

Agora só precisa ver uma boa solução para passar atributos para os campos OPTION dos SELECTS xD

[2013-08-30 19:48] #76 closed, assigned to nobody

[2013-08-30 20:17] #74 closed, assigned to nobody

[2013-09-14 23:28] claudiosanches opened #79 "Shortcodes"
Acredito que daria para ter mesmo shortcodes para o Bootstrap no core do Odin.
Até mesmo sem o bootstrap seria útil para fazer os estilos deles sem problema.

Acho que seria legal forkar algum projeto e implentar isso.

**Exemplos:**
- https://github.com/filipstefansson/bootstrap-shortcodes
- http://wordpress.org/plugins/dw-shortcodes-bootstrap/developers/

**Shortcodes:**
- [x] Grid
- [x] Buttons

[2013-09-14 23:29] claudiosanches opened #80 "v2.1.0"

[2013-09-14 23:29] #80 closed, assigned to nobody

[2013-09-15 21:25] valdirljr opened #81 "Hgroup?"
Salve galera!
Faz um bom tempo que não programo e agora estou voltando a montar um projeto novo e usando o Odin como tema base.
Como estou bem por fora de HTML5, vi isto sobre o hgroup e fiquei em duvida:
http://www.w3schools.com/tags/tag_hgroup.asp

Procede?

[2013-09-16 20:52] #72 closed, assigned to claudiosanches

[2013-09-16 20:57] #81 closed, assigned to nobody

[2013-09-16 22:51] claudiosmweb opened #83 "Adicionar upload de arquivo na classe Odin_Post_Form"
Falta ainda poder fazer uploads na classe `Odin_Post_Form`.

[2013-09-16 22:53] claudiosanches opened #84 "Anexar arquivos na classe Odin_Contact_Form"
É necessário poder anexar arquivos na classe `Odin_Contact_Form`.

[2013-09-17 01:52] claudiosanches opened #85 "Adicionar filtro para gerenciar o redirecionamento da classe Odin_Front_End_Form"
Algumas pessoas sabem que fiz um esquema de redirecionar para a mesma página quando o form é enviado e desta forma impedir que seja enviado novamente quando o usuário aperta F5.
Acredito que seria legal ter um filtro para poder redirecionar para uma outra página qualquer depois que tudo der certo e assim montar mensagens de `sucesso` mais personalizadas.

[2013-09-21 07:23] #85 closed, assigned to claudiosanches

[2013-09-21 15:38] fdaciuk opened #86 "Separador na classe Metabox"
Algumas vezes é necessário fazer alguns campos que se repetem na metabox. Do jeito que está hoje, eles ficam meio "colados" quando cria-se essa repetição.

Por isso adicionei mais um tipo: **separator**.

O separador só precisa de dois atributos: `type` e `id`.

[code]

Isso gera o seguinte HTML na tabela:

[code]

O ID é usado para colocar um atributo ID na tag `<span>` que vai ser o separador. E

[2013-09-21 17:28] #86 closed, assigned to fdaciuk

[2013-09-22 02:34] fdaciuk opened #88 "Opções after e before para Metabox e Custom Fields na Classe Metabox"
Continuando a saga, criei agora umas opções para passar a tag que vai ser usada na abertura e fechamento da metabox, e também as tags para abertura e fechamento dos campos.

Segue o gist com as novas configurações (peguei o mesmo padrão do site http://wpod.in, apenas passando os novos atributos na criação do metabox e no primeiro custom field):

https://gist.github.com/fdaciuk/6656121

**Explicand

[2013-09-22 16:59] #88 closed, assigned to fdaciuk

[2013-09-26 21:49] claudiosanches opened #90 "Trocar options por choises nas classes do Core"
Estava estudando aqui o Theme Customization API e percebi que eles usam `choises` para indicar o array com opções para `select` e `radio`.

https://codex.wordpress.org/Theme_Customization_API
http://themes.trac.wordpress.org/browser/twentyeleven/1.6/inc/theme-options.php#L516

Será que fica mais claro e se vale apena a mudança para alinhar com as coisas do WP?

[2013-09-27 04:34] #90 closed, assigned to nobody

[2013-09-28 04:11] #79 closed, assigned to nobody

[2013-09-28 21:22] claudiosmweb opened #92 "Criar menu para Shortcodes"
Precisamos criar um menu com opções para ajudar inserir esses shortcodes que temos agora.

Aqui tem um exemplo de como fazer isso: https://github.com/claudiosmweb/gist-github-shortcode

[2013-09-28 21:23] claudiosanches opened #93 "Criar documentação dos Shortcodes"
Precisamos documentar os Shortcodes.

Segue alguns exemplos:

[code]

[2013-09-28 21:24] claudiosanches opened #94 "Criar documentação para a classe Odin_Post_Form"
Preciso documentar essa classe igual fiz com a do `Odin_Contact_Form`.

[2013-09-29 14:08] claudiosanches opened #95 "v2.2.0"

[2013-09-29 14:08] #95 closed, assigned to nobody

[2013-09-29 18:06] #93 closed, assigned to nobody

[2013-10-02 14:47] alissonally opened #96 "Problema com nginx"
Olá Cláudio,
Ao tentar usar o Odin em um servidor nginx me retornou o seguinte erro:

Fatal error: Cannot redeclare class Odin_Metabox in D:\Winginx\home\wp\public_html\blog\wp-content\themes\odin\core\classes\class-metabox.php on line 12

Isso após dá um require_once get_template_directory() . '/core/classes/class-metabox.php'; dentro do functions.php;
Ou seja, não ativa o tema chamando a class c

[2013-10-02 14:55] #96 closed, assigned to nobody

[2013-10-09 04:36] claudiosanches opened #100 "Widgets"
Acho que rola agora adicionar uns widgets personalizados no Odin.
A mesma ideia que tem em temas premium, por exemplo: widget com abas, facebook e etc.

Gostaria de sugestão de vocês.
O que vocês usam de widget e as vezes precisam instalar plugins porcos para fazer? xD

[2013-10-28 13:41] truizz opened #103 "o upload de foto"
como vai?

estou criando num tema [onde quero disponibilizar para turma] onde quero criar um painel de opções do tema.

bom ja criei opção do tema com 2 abas .

mas quero fazer o upload de uma imagem q servira de logotipo.

usei o exemplo do site:

[code]

mas esse exemplo nao funciona:

eu clico no upload mais a caixa para selecionar a img nao abre.

e se puder passa um exemplo de puxar esse id d

[2013-10-28 20:29] #103 closed, assigned to nobody

[2013-10-28 21:56] willmkt opened #104 "Remover query string dos arquivos css/js"
Remover query string dos arquivos css/js para melhorar a performance.

[code]

fonte: http://rtcamp.com/wordpress-nginx/tutorials/plugins/remove-query-string-css-js-files/

[2013-10-28 22:05] ninalost opened #105 "Ativar o tooltips e accordions"
Olá pessoal.
Estou usando o tema ODIN em um projeto, e queria saber como faço para ativar o tooltips e o Accordions do bootstrap no odin?

[2013-10-28 22:49] #105 closed, assigned to nobody

[2013-11-02 15:55] claudiosmweb opened #106 "Classe para custom fields em taxonomias"
Avaliar a necessidade e a possibilidade de criar classe gerar custom fields para taxonomias.

Ref: https://github.com/bainternet/Tax-Meta-Class

[2013-11-12 21:43] Rafaelpp opened #107 "Warning: class-theme-options.php on line 243"
Boa noite, estou tentando adicionar alguns campos no themes options do Odin mais está aparecendo esse
ERRO:
Warning: Invalid argument supplied for foreach() in C:\xampp\htdocs\wp\wp-content\themes\odin-master\core\classes\class-theme-options.php on line 243

alguém poderia me ajudar com isso por favor, o que poderia ser? Abraço!

[2013-11-13 02:52] #107 closed, assigned to nobody

[2013-11-15 05:28] Rafaelpp opened #108 "Campos para temas"
Bom dia gostaria de saber como faço para usar essas linhas de código para atualizar meu tema.

$odin_general_opts = get_option( 'odin_general' );

$odin_general_opts['your_id_name'];

ou
require_once get_template_directory() . '/core/classes/class-options-helper.php';

$odin_general_opts = new Odin_Options_Helper( 'odin_general', 'your_id_name' );

Queria saber aonde incluir eles e como linkar ele

[2013-11-15 14:58] claudiosanches opened #109 "Abrir possibilidade para usar o Odin como tema pai de child themes"
Estava lendo isso aqui:

http://www.supportdash.com/wordpress-theme-frameworks-animated-infographic/

Hoje o Odin não da muita abertura para ser usado como tema pai.
Mas para alguns projetos acho que seria uma grande vantagem poder usar ele assim.

O que vocês acham?

[2013-11-15 15:32] claudiosanches opened #110 "Aplicar standards de PHP"
Na verdade é atualizar o negocio.

O primeiro que tem que fazer é que as chaves/braces são obrigatórias sempre agora.
Aqui a decisão:
http://make.wordpress.org/core/2013/11/13/proposed-coding-standards-change-always-
require-braces/

Preciso confesar que eu nunca gostei muito disso e que estava acostumando agora xD

Outra coisa que precisava fazer era adotar logo tab no lugar de espaço para indent

[2013-11-15 15:33] claudiosanches opened #111 "Aplicar standards de JavaScript"
Acabaram de atualizar os standards para trabalhar legal com JSHint:
http://make.wordpress.org/core/handbook/coding-standards/javascript/

Ficou muito bom e vamos precisar atualizar, porque algumas coisas mudaram xD

[2013-11-15 17:46] claudiosanches opened #112 "Forkar de vez o aq_resize"
Forkar logo: https://github.com/syamilmj/Aqua-Resizer

[2013-11-15 17:54] #110 closed, assigned to nobody

[2013-11-15 17:55] #108 closed, assigned to nobody

[2013-11-15 18:48] #112 closed, assigned to nobody

[2013-11-15 19:29] #111 closed, assigned to nobody

[2013-11-19 22:52] tiagojlara opened #115 "get values metabox"
Ola,

Sou desenvolvedor wordpress, e gostei muito do projeto Odin, mas senti falta de um método para obter os valores inseridos no metabox.

Por exemplo, eu coloquei um campo no metabox para subir várias imagens mas o retorno da função get_post_meta me retornou uma string com os Ids das imagens separados por vírgula.

Vocês tem algo para fazer isso ou ainda está a desenvolver?

[2013-11-20 00:21] #115 closed, assigned to nobody

[2013-11-20 12:10] truizz opened #116 "como por um codigo php dentro da textarea"
como vai? estou criando em meu tema algumas areas de banners isso usando o odin para criar as opçoes de tema. mais gostaria de usar codigos php. pois criei uma função q cria uma area de gestao de banners rotativos que gera um codigo php.

no opçao de tema uso esse codigo:

http://pastebin.com/udx1kNij

[2013-11-20 16:20] #116 closed, assigned to nobody

[2013-11-25 16:42] truizz opened #117 "tema opção"
como vai? estou aqui eu a fazer alguns testes e estou com uma duvida .

estou inserindo um editor de texto no opçao tema com esse codigo:

[code]

mas na hora de exibir no tema nao exibi

[code]

[2013-11-25 16:46] #117 closed, assigned to nobody

[2013-12-02 21:12] adammacias opened #118 "Listar Taxonomy de Custom Type Post"
Pessoal,

Estou com uma dúvida, vamos supor que eu tenha criado um `custom type post` de "Livros" e para esse CTP, criei uma `taxomomy` chamada "Gêneros".

Quero saber como faço para exibir todos os CTP-Livros com essa taxonomy?

Tentei criar arquivos no diretório do meu tema como: `archive-livros.php`, `generos.php` e `taxonomy-generos.php` sem sucesso.

PS. para NÃO custom type post, funciona no

[2013-12-02 21:19] #118 closed, assigned to nobody

[2013-12-04 12:25] nicholasio opened #119 "Adicionar recurso "bootstrap""
Olá, esta é minha primeira participação no desenvolvimento do Odin. Há algum tempo eu desenvolvi um plugin no wordpress que facilitasse as configurações burocráticas (Carregar estilos, scrips, remover menus, renomear menus, desativar widgets da dashboards etc) Ele não está completo como eu queria, ainda preciso finalizar, então eu tive a ideia de implementar este recurso ao Odin e gostaria de sabe

[2013-12-04 12:29] #119 closed, assigned to nobody

[2013-12-05 19:40] adammacias opened #120 "Atualizar Bootstrap - versão 3.0.3"
[Bootstrap 3.0.3 released](http://blog.getbootstrap.com/2013/12/05/bootstrap-3-0-3-released/) - Data da versão 05/12/2013

[2013-12-06 18:39] fccoelho7 opened #121 "Documentação das Functions"
Percebi que há funções muito úteis no Odin, mas só é possível conhecer abrindo o core. Seria bacana estar documentando no site. :smile:

[2013-12-10 16:34] gugaalves opened #122 "Documentação de como usar o Grunt.JS"
Galera,

Criamos aqui no trabalho (@ernandesferreira e eu) uma documentação mais elaborada sobre como utilizar o Grunt.JS. Como faço para editar a página da documentação (http://wpod.in/pt-br/docs/usando-grunt-js/) que explica isso?

[2013-12-12 02:23] claudiosanches opened #123 "Atualizar templates para o padrão do Twenty Fourteen"
Na verdade é só um aviso isso daqui, porque estou fazendo isso agora xD

Vou atualizar tudo e deixar praticamente igual ao que é o Twenty Fourteen.

[2013-12-12 05:50] #109 closed, assigned to nobody

[2013-12-12 05:54] #123 closed, assigned to nobody

[2013-12-14 22:37] fdaciuk opened #124 "[CLASSE METABOX] Problema ao setar checkbox com atributo "checked" por padrão"
Ao setar o atributo `default` como `1` na criação do checkbox, ele sempre ficava marcado após salvar o post, ainda que desmarcasse, pois os valores da função checked() estavam invertidos.

Ajustado [nesse commit](https://github.com/wpbrasil/odin/commit/464ba13c6a2864ca405512c211c933dd9f559749).

[2013-12-24 11:11] #120 closed, assigned to nobody

[2014-01-08 20:21] alissonally opened #127 "Filtro Galeria"
Usando o Odin para um tema que vai precisar de galeria me veio a necessidade de filtrar somente os anexos do post, recurso disponível do media upload nativo (anexadas a este post).
Acredito que seria um plus no framework.

[2014-01-18 15:09] allysonsouza opened #129 "Custom Post Type menu_name Translation"
Olá pessoal, estou utilizando o Odin pela primeira vez para um projeto, e estou apanhando há um tempinho e não sei como resolver o problema.

Criando um CPT, na hora de definir o menu_name utilizo a função da seguinte forma:

[code]

Adicionei as traduções com o POEdit, salvei novamente o arquivo .mo, entretanto não funciona, tenho exibido no menu "MyCPT', ao invés da tradução 'MeuCPT'. Os widgets

[2014-01-18 18:52] #129 closed, assigned to nobody

[2014-01-22 21:56] allysonsouza opened #131 "Modificando arquivos e sua documentação"
Estamos utilizando pela primeira vez o Odin como Framework de desenvolvimento, e estamos gostando bastante, acredito que ele otimizou consideravelmente nosso tempo de desenvolvimento.

Agora, tenho algumas dúvidas. É o seguinte, supondo que eu altere drasticamente um arquivo, ele nada, ou pouco tenha do odin, como redefino, se redefino, o cabeçalho desse documento?

O copyright do rodapé não preci

[2014-01-22 22:00] #131 closed, assigned to nobody

[2014-01-23 17:29] nandomoreirame opened #132 "Criar mais de 1 bloco de fieldset para o formulário"
Salve equipe Odin!

Surgiu uma dúvida, existe a possibilidade de criar blocos de fieldset no formulário de contato do Odin?

E aproveitando a issue aqui vou deixar outra pergunta:

Também existe a possibilidade de fazer um capo oculto que só apareça quando selecionado uma opção (select ou radio)?

Sem mais, grato.

[2014-01-23 23:02] nandomoreirame opened #133 "ID ou Classe diferente em cada form-group"
Seria bom se cada bloco de 'form-group' ficasse com o id que foi setado no array fields do formulário ou até uma classe.

Apenas para diferenciar e talvez fazer um group do outro, assim facilitaria formatações diferentes para cada.

O que acham?

[2014-01-24 00:32] #133 closed, assigned to nobody

[2014-01-24 02:59] #132 closed, assigned to claudiosanches

[2014-01-29 18:56] AgtLucas opened #136 "Bower"
Existe interesse em adicionar o Bower para gerenciar as dependências do front-end?

PS: Se é que isso não foi discutido em outra ocasião...

[2014-02-01 22:59] #104 closed, assigned to nobody

[2014-02-03 03:04] lucianotonet opened #138 "Alteração de Screenshot"
Segue sugestões de alteração do screenshot.png
Opção 1:
![screenshot](https://f.cloud.github.com/assets/2693019/2062179/3d06b25a-8c7f-11e3-8706-988c82c3f14b.png)

Opção 2:
![screenshot](https://f.cloud.github.com/assets/2693019/2062180/48c1795e-8c7f-11e3-9a1a-563c18e24279.png)

As sugestões não são apenas para o screenshot, mas para ser utilizado em todo local onde for visualmente sugerido o Odin,

[2014-02-10 18:48] walterjaworski opened #140 "Como retiro o texto "Deixe uma resposta" dos comentários do post?"

[2014-02-10 19:36] #140 closed, assigned to nobody

[2014-02-16 06:47] claudiosanches opened #141 "Novas classes de opções do tema e metabox"
Já tem algum tempo que não estou satisfeito com o jeito que criamos as opções do tema, metaboxes e outras coisas.

Hoje funciona muito bem do jeito que esta, entretanto acaba ficando confuso para quem não manja muito ficar criando aquela infinidade de arrays que fazemos hoje!

Desta forma pensei em criar isso de uma forma mais simples, acabei de fazer uma primeira vez com as opções do tema apenas

[2014-02-16 16:04] #136 closed, assigned to nobody

[2014-02-16 16:10] #138 closed, assigned to nobody

[2014-02-17 20:29] nandomoreirame opened #143 "Preciso fazer o form do Odin enviar o anexo do field "file""
Estou tentando aqui mas ta me parecendo uma grande gambiarra, gostaria de alguma sugestão de vocês.

Grato.

[2014-02-20 03:45] claudiosanches opened #146 "Voltar documentação pro gh-pages"
Galera, estava avaliando aqui e não fizemos nada com o site do Odin xD
Além do servidor ter dado uns problemas, acho que seria viável voltar pro gh-pages novamente e documentar por aqui mesmo.
Vai ficar simples de todo mundo ajudar na documentação.

[2014-02-20 22:40] allysonsouza opened #147 "Menu com 3 níveis"
Olá pessoal, como criar um menu com 3 níveis no Odin? Estou apanhando para resolver isso. O código do wp_nav_menu está correto, o HTML é recebido corretamente, mas o terceiro nível fica escondido, sem setinha nem nada.

[2014-02-21 02:02] #147 closed, assigned to nobody

[2014-02-21 14:16] alexandremaeda opened #148 "Odin como um tema E-Commerce."
Quero usar o Odin para criar um tema E-Commerce(WooCommerce). Existe algum case desse tipo?

[2014-02-25 22:47] fagworio opened #149 "Warning: Invalid argument supplied for foreach()"
Boa noite, estou recebendo esse erro do odin Framework quando tento executar o código de exemplo do doc. referente a (Criando opções para a página:) obtenho um erro class-theme-options.php on line 238.

Estou seguindo esse tutorial
http://wpod.in/pt-br/docs/criando-opcoes-para-tema/

Eu li o tópico acima, mas não consegui identificar o erro,
Criei uma página - funcionou perfeitamente,
Criei as aba

[2014-02-25 22:56] #148 closed, assigned to nobody

[2014-02-26 14:38] #149 closed, assigned to nobody

[2014-03-13 14:32] valdirljr opened #150 "Icones sumiram"
Olá,

Tenho um projeto no ar e os ícones não apareceram. Lembro de ter visto algo sobre problemas do glyphicons no Odin a algum tempo atras.
O link é http://apasbotucatu.com.br/

Obrigado

[2014-03-13 14:38] #150 closed, assigned to nobody

[2014-03-17 15:33] adammacias opened #151 "Conflito de CSS Odin x Bootstrap"
Existe um conflito de CSS ao usar as classes <code>input-lg</code> e <code>input-sm</code>
![captura de tela 2014-03-17 12 21 34](https://f.cloud.github.com/assets/1139893/2437579/5866e8c8-ade8-11e3-96e5-2df9752228ad.png)

Creio que o problema esteja no arquivo [_core.scss](https://github.com/wpbrasil/odin/blob/master/assets/sass/odin/_core.scss) na seção <code>/\* Fix Foms */</code> ... Onde isto

[2014-03-18 14:55] allysonsouza opened #152 "Classe para criar metaboxes baseadas em taxonomies e custom taxonomies"
Estava trabalhando em um projeto em que uma série de termos de uma taxonomia já estaria cadastrada, e a seleção dos termos deveria ser diferente do padrão definido pelo WordPress. No caso, eram tags referente a cores, e precisava listá-las em um checkbox para cada produto, e o usuário definir marcando quais cores aquele produto dispunha.

Não sei se é uma boa solução, mas criei uma classe Taxonomy

[2014-03-23 16:09] #151 closed, assigned to nobody

[2014-03-25 17:38] nandomoreirame opened #153 "Envio de e-mail autenticados com Odin Form"
Olá equipe Odin,
Existe uma forma de enviar emails autenticados com os formulários de contato do Odin?

Abraço!

[2014-03-25 17:39] #153 closed, assigned to nobody

[2014-04-02 13:40] walterjaworski opened #154 "Qual a melhor forma de inserir Google Font no Odin?"
Via enqueue_script no functions.php ou direto no header?

[2014-04-02 21:59] #154 closed, assigned to nobody

[2014-04-03 17:01] walterjaworski opened #155 "Metabox criado, mas como vincular apenas a uma página específica?"
Criei alguns metaboxes pra controlar textos da home, que serão utilizados somente nela.

A home é uma "página", logo, no código de criação do metabox coloquei " 'page' ", porém ele aparece em todas as páginas.

Gostaria de que estes metaboxes fossem exibidos apenas quando vou editar a página home, e não as outras. Tem como?

[2014-04-03 18:25] #155 closed, assigned to nobody

[2014-04-05 23:17] walterjaworski opened #156 "Permalink do Custom Taxonomy não funciona no Custom Post Type"
Estou criando um tema utilizando o Odin como base. Já criei um Custom Post Type do tipo "post" chamado "produtos" e Custom Taxonomy pra poder criar categorias. Porém, ao criar um "produto", o permalink abaixo do título não pega a categoria. Deveria ficar: "www.site.com.br/produtos/categoria/nome-do-produto" mas fica "www.site.com.br/produtos/nome-do-produto", como posso consertar isso?
https://gis

[2014-04-06 13:01] #156 closed, assigned to nobody

[2014-04-08 17:47] walterjaworski opened #157 "Paginação na category.php não funciona"
Devo estar louco ou, mais provavelmente, esquecendo de alguma coisa importante, porém não consigo fazer a paginação da category.php funcionar, mesmo que não tenha editado nada na página. Será que é porque troquei o label de posts para "produtos"?

http://wjaworski.com/redecompacta/produtos/
Aqui a paginação está ok, funcionando certinho

http://wjaworski.com/redecompacta/ferragens-padrao-copel/
Ao

[2014-04-11 04:07] allysonsouza opened #160 "Custom Query para a odin_paging_nav()"
Eu pensei em tentar mexer, mas não entendi muito bem como foi construída a função do odin_paging_nav(), mas venho sugerir para quem compreende-a melhor, se não é possível utilizá-la com custom queries, talvez implementar algum parâmetro possível na função.

Posso estar viajando, mas ela não funciona no caso de, por exemplo, eu definir uma template page para fazer a exibição dos posts de um site.

[2014-04-11 15:31] #157 closed, assigned to nobody

[2014-04-13 18:07] #160 closed, assigned to nobody

[2014-04-13 18:24] #146 closed, assigned to nobody

[2014-04-13 18:24] #122 closed, assigned to nobody

[2014-04-13 18:26] #152 closed, assigned to nobody

[2014-04-13 18:26] #143 closed, assigned to nobody

[2014-04-13 22:16] #84 closed, assigned to claudiosanches

[2014-04-14 03:42] deblynprado opened #161 "Colocar exemplo de Código na Página de Demos"
Alterar as páginas com demo dos Shortcodes para ter também o exemplo de código de cada demo.

[2014-04-18 19:49] deblynprado opened #163 "Permitir adicionar classes ao Label em Contact_Form"
Mudar a estrutura da classe Abstract-front-end-form de modo que seja possível inserir classes no label (sr-only, por exemplo).

Acho que o ideal seria aceitar um array no label.

[code]

[2014-04-20 04:35] deblynprado opened #164 "Arquivos .js com 404 usando "grunt c""
Ao usar a função `grunt c` o zip gerado não contém os arquivos `main.js`,  `bootstrap.min.js` e `jquery.fitvids.js`.

Todos os arquivos são chamados por padrão no tema, isso gera erro 404 para cada um dos arquivos.

[2014-04-20 04:37] #164 closed, assigned to nobody

[2014-05-04 04:48] valdirljr opened #165 "Grid Jeet GS"
Galera, conhecem o Jeet Grid System ?
Achei interessante. Tem uns videos no site deles: http://jeet.gs/

Seria interessante trabalhar com ele ao invés do Bootstrap ?

Abraços,

[2014-05-04 07:51] dlzi opened #166 "Radio image metabox"
Eu sei que a classe metabox não tem esse tipo de campo, então eu estou tentando criar um, mas não está fácil. Abaixo está o código que estou tentanto fazer funcionar. Espero que alguem consigo me ajudar aqui.

PHP:

[code]

JS:

[code]

CSS:

[code]

EXAMPLE:

[code]

[2014-05-05 14:09] #165 closed, assigned to nobody

[2014-05-14 17:17] fccoelho7 opened #167 "Livereload"
Pessoal, pensei em facilitar a vida para o pessoal que necessita de livereload no desenvolvimento. Sugestão:

Gruntfile.js

[code]

Functions.php

[code]

[2014-06-18 03:10] sergiofelipe opened #170 "Como utiliza a class Odin_Thumbnail_Resizer ?"
Vi que o Odin tem está classe baseada no Aqua-Resizer, gostaria de saber como usar, na realidade um exemplo ? Não encontrei nada na documentação.

[2014-06-18 03:35] #170 closed, assigned to nobody

[2014-06-18 17:37] wpmidia opened #171 "Odin Breadcrumbs"
Olá pessoal.
Hoje notei algo estranho que está acontecendo com o breadcrumb do Odin.

Quando estamos na página de uma subcategoria, o Post Type fica maluco!

Vejam a imagem:
![Problema](https://www.dropbox.com/s/uju3my70vxmiuzg/odin%20breadcrumbs%20problem.png?dl=1)

Devia ser "Produtos", mas aparece "Slides".

O que seria isso?

---

Só lembrando que eu alterei o código um pouquinho para as minha

[2014-06-24 03:43] #171 closed, assigned to nobody

[2014-06-27 12:28] luisfdeandrade opened #172 "Thumbnail não busca no cache quando a imagem já foi gerada"
[code]

Percebi isso porque estava um pouco lento para exibir uma galeria, quando verifique a data de modificação dos arquivos, estavam todos atualizados para o momento em que a página foi gerada.

Corrigi temporariamente substindo a linha 135 por

[code]

[2014-06-30 16:13] valdirljr opened #173 "Theme Panel"
Sinto a necessidade de oferecer painel para os clientes.
Seria interessante integrar algumas funcionalidades básicas de configuração no painel do Odin ou adicionar em uma lista de plugins recomendados este plugin? ( Ou até mesmo outros plugins que todo mundo acaba usando, como o CF7 ).
Acham que seria interessante integrar ao Odin?

http://wordpress.org/plugins/option-tree/

[2014-06-30 17:50] #173 closed, assigned to nobody

[2014-07-10 16:02] MaurilioNovais opened #174 "É possível definir um Post Format em um Custom Post"
Defini um Custom Post para vídeos e gostaria de habilitar um Post Format somente de vídeo, isso é possível?

[2014-07-10 22:02] allysonsouza opened #175 "Odin theme options - image-field"
Olá pessoal, estou tentando fazer uma página de opção para um tema com campos de imagem. Utilizando o próprio exemplo da wiki (https://github.com/wpbrasil/odin/wiki/Classe-Odin_Theme_Options - Exemplo Completo), não tem funcionado por aqui o salvamento das imagens. Parece que tem algum problema com números, se por exemplo, eu testo o valor do input como a url (%3$s), este é salvo.

Dei uma olhada

[2014-07-11 01:11] #174 closed, assigned to nobody

[2014-07-20 17:30] #175 closed, assigned to nobody

[2014-07-20 18:21] #172 closed, assigned to nobody

[2014-07-20 18:52] fdaciuk opened #178 "Metabox em categoria específica"
Temos como sugestão do @matheusgimenez de adicionarmos uma oção na classe Metabox para aparecer para uma categoria específica.

Precisamos melhorar a abordagem da chamada da criação da Metabox, para não precisar passar tantos parâmetros na criação da mesmo. Talvez usar alguns métodos `setter()` pode ser interessante.

[2014-07-22 21:59] jonasrafael opened #179 "Odin_Contact_Form e Flamingo"
Alguém por ventura já utilizou o Contact Form do Odin com Flamingo? Funciona?

"Flamingo is a WordPress plugin created to be a total CRM package. With this version, you can manage your contact list and messages submitted via contact form plugins. It has not yet matured, but we are enhancing it rapidly."

[2014-07-25 19:09] walterjaworski opened #180 "Paginação no taxonomy-$taxonomy.php não funciona"
Achei estranho porque é o loop padrão do WP, aqui o código utilizado: https://gist.github.com/walterjaworski/2c8a98c7d4c480a4024d e aqui a página http://euvoudegleisi.com.br/2014/webtv/voce-na-webtv/

[2014-07-29 02:16] #166 closed, assigned to nobody

[2014-08-02 00:22] jimmymacedo opened #181 "Tabs e Subtabs"
Olá, vi no demo das abas (http://wpod.in/demo/shortcodes/tabs/) que é possível colocar 'subabas' (apresentado no formato de dropdown).
Como ficaria o shortcode para esta utilização?

[2014-08-02 00:37] #181 closed, assigned to nobody

[2014-08-02 18:41] leobaiano opened #182 "Erro no nome das actions para metaboxes"
Na documentação os nomes das 3 actions disponiveis na classe metaboxes estão incorretas, acredito que os nomes foram modificados em algum dos commits e não foi corrigido na documentação.

Na documentação atual temos:
- odin_metabox_table_before_SLUG
- odin_metabox_table_after_SLUG
- odin_metabox_field_SLUG

Porém na classe Odin_Metabox os filtros são aplicados com outros nomes e existem outros fil

[2014-08-04 19:24] leobaiano opened #183 "Odin Framework para desenvolvimento de plugins"
Tive a ideia de utilizar o Odin como framework para desenvolver um plugin e percebi que ele atende bem a este proposito, então tive a ideia de criar uma versão do Odin para plugins.

Copiar o core para dentro do diretório do plugin não é tão efetivo e é necessário mudar os caminhos que utilizam a URL do tema ativo como base para arquivos CSS e JS. Por exemplo, eu precisei alterar a classe de metab

[2014-08-04 20:18] #180 closed, assigned to nobody

[2014-08-05 00:35] claudiosanches opened #184 "Site do Odin"
Galera, na moral mesmo, acho que seria mais vantagem voltar isso para o Github, não estamos usando para nada o site xD
Acho que vou deixar no WordPress mesmo só o demo e a homepage do Odin podia virar um HTML aqui.

O que vocês acham?
Alguém anima de fazer uma página nova usando o logo novo?

[2014-08-09 20:34] chrdesigner opened #185 "Não grava o valor "0" no meu input number"
Olá pessoal, me surgiu uma dúvida, estou trabalhando no meu tema com o framework Odin, eu criei uma metabox com o um field number para gerar resultados de partidas de futebol, mas o mesmo não salva o valor "0" ele deixa o campo em branco... Por favor, se alguem passou por isso teria como me falar como eu consigo passar esse valor "0" para o meu field.

Grato desde já...

César Ribeiro

[2014-08-10 15:14] #185 closed, assigned to nobody

[2014-08-11 07:46] luciopwegner opened #186 "Duvidas a respeito do código fonte"
1- Qual a razão ou funcionalidade da seguinte tag estar aberta em várias partes do código?

<?php
get_sidebar();
get_footer();

2- Como posso tornar a sidebar acessível apenas em determinadas páginas do site?

[2014-08-11 11:24] #186 closed, assigned to nobody

[2014-08-11 21:22] luciopwegner opened #187 "Erro com taxonomia personalizada"
Estou tentando utilizar o framework para desenvolver um site para venda de imóveis e estou seguindo a documentação para tanto. O que acontece de errado com meu código?  O Post type é gerado mas a categoria (taxonomia personalizada) não aparece no menu. Abaixo o código exatamente como eu inseri no código fonte do framework:

[code]

[2014-08-12 01:53] #187 closed, assigned to nobody

[2014-08-13 20:27] castroalves opened #188 "Formulário de Contato Personalizado"
Pessoal,

Em alguns projetos daqui da agência já recebemos o front-end pronto de outro design ou agência parceria. Nesses casos, normalmente, eles sequer usam Odin.

Na hora de implementar o formulário de contato, eu fico travado porque não posso mexer na estrutura do HTML.

O que vocês sugerem nesse caso? Descartar o uso da classe de formulário de contato?

[2014-08-13 21:20] #188 closed, assigned to nobody

[2014-08-18 18:06] rodrigo-brito opened #189 "Filtro para limitação de caracteres"
Gostaria de saber se já tem alguma classe inclusa para restringir o tamanho cadeia de caracteres como o título dos posts. Dei uma olhada na documentação e não achei nada a respeito. Tenho um velho script que uso, mas gostaria de saber se no Odin tem algo do tipo. Pois o projeto está sensacional!

[2014-08-18 18:49] #189 closed, assigned to nobody

[2014-09-13 16:12] viniciusmartin opened #190 "Metabox de taxonomia - Select"
Olá, estou tentando criar um select de taxonomia na criação do post, mas não estou conseguindo.

Com o get_categories() eu consigo puxar os valores para "category", que é o padrão do WordPress.

Porém, quando mudo o valor para "taxonomy" => "SLUG_DA_TAXONOMIA" o campo não mostra nenhum valor. Tentei utilizar o get_the_terms(), mas também não obtive sucesso.

[2014-09-13 18:42] #190 closed, assigned to nobody

[2014-09-19 01:25] jonasrafael opened #192 "link wordpress brasil group"
o link que leva pro grupo no face do http://wpod.in/ ta errado.

[2014-09-23 20:02] wpmidia opened #193 "Taxonomy: Permitir definir a mesma taxonomia para varios post types"
Bom, não sei se é um "issue", mas enfim, não quis postar lá no grupo de WordPress, já que já disseram diversas vezes que o link era esse aqui.

Enfim, tenho uma taxonomia que eu gostaria de usar para dois Custom Post Types.

No instanciamento da classe, existe um parâmetro onde definimos a qual post type determinada taxonomia vai pertencer. Teria como definir um array() ali?

[2014-09-24 15:47] #193 closed, assigned to nobody

[2014-09-24 22:30] allysonsouza opened #194 "class-metabox nonce action"
Estava aqui tentando consertar o funcionamento de uma classe que criei, herdando a classe Metabox, e percebi que o nonce era sempre retornado como inválido. Demorei, mas percebi, que o problema era que, a ação definida no método metabox() - utilizado da classe pai, pois não precisava ser modificado - era definido com base no diretório do arquivo, porém utilizando a constante \__FILE__ .

Logo, na

[2014-10-01 05:40] brenoalvs opened #195 "Classe Walker mais enxuta para projetos sem Bootstrap"
O Odin já tem um walker pra gerar o menu corretamente para o Bootstrap. Mas que tal criar um para gerar um HTML do menu mais enxuto do que o padrão do WordPress? Acho que seria muito útil para os projetos que não usam Bootstrap, e ficaria mais elegante sem aquele monte de classes que quase ninguém usa.

Ou então pensar em um walker simples, mas "configurável", podendo ter:
- Definição/alteração de

[2014-10-01 11:28] #192 closed, assigned to nobody

[2014-10-06 17:26] jonasrafael opened #196 "Conteúdo logado / deslogado"
Galera, noto que quando estou deslogado o thumbnail no front end não aparece. E quando ta logado aparece.
É algo no odin? tem alguma conf?

[2014-10-06 17:31] fccoelho7 opened #197 "Nova função odin_get_thumbnail();"
Pessoal, blz?! Sempre utilizo a função odin_thumbnail(); mas percebi que caso eu crie um outro formato de query, tal como "get_posts();", não consigo obter a imagem destacada. Gostaria de sugerir a função odin_get_thumbnail(); que possuirá um campo para informarmos o ID do post.

[2014-10-06 18:14] #196 closed, assigned to nobody

[2014-10-07 00:26] jonasrafael opened #198 "Atualização"
Como vocês costumam atualizar o odin em um projeto que já esta no ar?

Atualiza só as pastas, /js /inc ou os arquivos da raiz do tema também?

[2014-10-07 14:57] #198 closed, assigned to nobody

[2014-10-08 19:13] castroalves opened #199 "Função odin_admin_login_logo() não existe"
Para trocar a logo da página de login, a documentação sugeria que fosse usada a função `odin_admin_login_logo()`.

Entretanto, além de ela não existir no arquivo **admin.php** (e consequentemente disparar um erro), ela não é necessária, já que basta editar o arquivo **custom-admin.css**.

Editei a página [Personalizando o Admin](https://github.com/wpbrasil/odin/wiki/Customizando-o-Admin), no trech

[2014-10-13 15:18] nandomoreirame opened #200 "Front end form com a classe Odin_Post_Form"
Olá!
Preciso desenvolver um formulário para salvar um Custom Post Type direto do site, notei que existe uma classe que cria esse form mas não existe documentação para isso...

Eu consegui criar o form mas o meu problema é com as imagens...

Eu preciso salvar 8 imagens em um Metabox de galeria que criei usando o Odin...

Existe uma forma de salvar essas imagens usando essa classe Odin_Post_Form?

G

[2014-10-13 15:26] allysonsouza opened #201 "Action 'odin_metabox_field_' . $this->id"
Na linha 231 da classe metabox, quando um campo cai na verificação como default, tem esse trecho de código:
 `do_action( 'odin_metabox_field_' . $this->id, $type, $id, $current, $options, $attrs );`

Onde essa action vem a ser definida? (Ou, ela realmente não está sendo definida?)

[2014-10-19 18:43] nandomoreirame opened #202 "Inserir post atualizando o term da taxonomy com a class Odin_Post_Form"
Olá, estou utilizando a classe Odin_Post_Form para criar um formulário em um projeto aqui.

Estou tentando atualizar o termo selecionado no formulário com o método `set_terms($terms)`
o parâmetro passado nesse método é um array que é utilizado no método `save_terms()` onde ele faz um foreach com esse array... `foreach ( $this->terms as $taxonomy => $term ) {`

Bom, o problema é que eu não estou co

[2014-10-21 21:05] #201 closed, assigned to nobody

[2014-10-21 21:14] #202 closed, assigned to nobody

[2014-10-24 00:05] #197 closed, assigned to nobody

[2014-10-24 00:07] #199 closed, assigned to nobody

[2014-10-29 13:49] LucasBRamos opened #204 "Caminho de Imagem quebrado"
A imagem que fica no final do link https://github.com/wpbrasil/odin/wiki/Classe-Odin_Metabox não está sendo exibida.

[2014-11-02 20:55] castroalves opened #206 "[Odin_Post_Form] Relacionar campos checkbox do Odin com os do ACF"
Pessoal,

Criei um formulário com o Odin para publicar o conteúdo direto em um CPT, cujos campos foram criados com ACF.

Como faço para correlacionar os campos checkbox do Odin (frontend form) com os do ACF?

[2014-11-04 07:11] #204 closed, assigned to nobody

[2014-11-05 17:39] jonasrafael opened #208 "Odin Breadcrumb Woocommerce Single Product"
Tô usando o Odin com o Woocommerce, na interna do produto ele teima em aparecer o link pra ?taxonomy=product_type&term=simple

![screen shot 2014-11-05 at 3 35 12 pm](https://cloud.githubusercontent.com/assets/1548002/4922488/6a7557a2-6512-11e4-91d1-c3b719316f47.png)

alguém?

[2014-11-27 19:09] valeriosouza opened #211 "Troca do nome das classes"
Não seria melhor trocar o nome das classes do template tags pra manter um padrão?

https://github.com/wpbrasil/odin/blob/master/inc/template-tags.php#L9

`odin_full_page_classes`

https://github.com/wpbrasil/odin/blob/master/inc/template-tags.php#L23

`odin_page_sidebar_classes`

Creio que deveria chamar

`odin_page_full_classes` e `odin_page_sidebar_classes`

[2014-11-28 15:18] fdaciuk opened #214 "Corrigir no site"
- [x] Corrigir _tambem_ -> **também**
- [x] Corrigir _resposivo_ -> **responsivo**
- [x] Adicionar favicon

[2014-11-30 11:21] #214 closed, assigned to nobody

[2014-11-30 23:07] claudiosanches opened #218 "Botão de demo ao lado de download"
Se possível adicionar também um botão de demo do lado do botão de download.

[2014-12-01 05:52] #218 closed, assigned to nobody

[2014-12-01 19:43] #211 closed, assigned to nobody

[2014-12-01 19:58] #184 closed, assigned to nobody

[2014-12-02 00:22] #161 closed, assigned to nobody

[2014-12-13 18:49] ghost opened #224 "Permitir posicionamento dos custom posts no dashbar"
básicamente seria poder utilizar o argumento menu position, para posicionar o custom post type onde o desenvolvedor preferir, seja no fim da lista, abaixo de posts, etc.

[2014-12-13 19:15] #224 closed, assigned to nobody

[2014-12-19 13:44] valeriosouza opened #225 "Erro no link da documentação no Demo"
http://demo.wpod.in/ está enviando para o endereço antigo da documentação.

[2014-12-19 13:59] #225 closed, assigned to nobody

[2014-12-23 13:59] #167 closed, assigned to nobody

[2014-12-24 20:09] claudiosmweb opened #226 "Adicionar add_theme_support() para HTML5"
Ref: http://codex.wordpress.org/Semantic_Markup

[2015-01-05 21:44] adammacias commented on #226
Boa @claudiosmweb ! esta feito, aproveitei e pensei que seria uma boa add suporte para o 'title-tag' tambem, fiz uma pull resquest, se acharem útil, só aceitar :)

[2015-01-05 21:44] #226 closed

[2015-01-05 22:18] claudiosmweb commented on #226
Então com isso precismos atualizar por exemplo o form de busca para usar o input do tipo `search` quando ativado o suporte para HTML5.
Acredito que só falta essa atualização.

[2015-01-05 23:24] fdaciuk commented on #226
Booa! :+1:

[2015-01-05 23:28] adammacias commented on #226
Forms de busca ok! =)

[2015-01-06 00:34] adammacias opened #230 "Adicionar 'the_post_navigation()' e 'the_archive_description()'"
O que vocês acham de implementarmos as funções ```the_post_navigation()``` e ```the_archive_description()```? Já estão usando no tema **twentyfifteen**, foram criadas na versão WP 4.1.

Referencias:
- https://developer.wordpress.org/reference/functions/the_archive_title/
- https://developer.wordpress.org/reference/functions/the_archive_description/
- https://themes.svn.wordpress.org/twentyfifteen/

[2015-01-06 04:52] adammacias opened #232 "bug em paginação de arquivos: datas, categoria, tags e autor"
Pessoal, quando **Links Permanentes** está no formato **padrão** a paginação deixa de funcionar nos arquivos de `datas, categoria, tags e autor`.

[2015-01-06 05:02] adammacias opened #233 "bug ao mostrar shortcode mídia de audio"
A função esc_attr() na linha  está impedindo o shortcode de áudio ser exibido na página.

[2015-01-06 19:31] claudiosmweb commented on #226
Ótimo :D

[2015-01-06 19:33] claudiosmweb commented on #230
Por mim ótimo, bem melhor assim e menos string de tradução xD

[2015-01-06 19:34] #230 closed

[2015-01-06 19:37] claudiosmweb commented on #232
Na verdade o formato pode ser ocultado, o WordPress já gera isso.

[2015-01-06 19:38] claudiosmweb commented on #232
Para esses dois da para seguir o exemplo do WooCommerce que vai funcionar para tudo https://github.com/woothemes/woocommerce/blob/master/templates/loop/pagination.php#L23-L24

[2015-01-06 19:38] #233 closed

[2015-01-06 23:06] #232 closed, assigned to nobody

[2015-01-10 20:55] netoliveira opened #235 "Menu dropdown em níveis"
Olá!

Existe alguma configuração para exibir o menu em vários níveis?

Pesquisei um plugin em jQuery para a criação de menu em níveis e com dropdown no hover, testei e funcionou legal.

Vcs pretendem criar essa opção de mais níveis no menu? Uma solução seria adicionar esse plugin ao tema.

[2015-01-11 01:27] claudiosmweb commented on #235
Só usar o menu do normal do WordPress.
Se for usar com os estilos do Bootstrap vai rolar apenas com 1 sub nível.
Bootstrap por padrão não aceita mais.

[2015-01-11 01:27] #235 closed

[2015-01-28 12:44] leobaiano opened #236 "Incluir opção no tema para alterar/ definir valores para as template tags"
As funções do arquivo `incs/template-tags.php` estão retornando valores diretamente e isso pode atrapalhar um pouco, por exemplo, se eu quiser utilizar a estrutura do Odin como base e precisar alterar a largura da área de conteúdo e da sidebar tenho que modificar direto na função, talvez fosse interessante incluir isso nas opções do tema.

[2015-02-02 16:53] rodrigo-brito opened #237 "Erro na função odin_thumbnail()"
Em casos onde a miniatura é menor que os valores de corte passados, a função retorna uma imagem com url vazia. Preciso passar alguma parâmetro a mais ou fazer algum condicional em caso de miniaturas menores que o corte?

![thumb](https://cloud.githubusercontent.com/assets/7620947/6004566/dccc015c-aaea-11e4-9007-dc92e1a8f888.jpg)
.

[2015-02-02 18:14] fdaciuk commented on #237
Se não me engano, já foi arrumado esse problema. Você está com a versão mais recente do Odin?

[2015-02-03 00:21] rodrigo73 commented on #237
Atualizei o código do core/helpers.php e também a classe core/classes/class-thumbnail-resizer.php
Não consegui encontrar outra dependência do odin_thumbnail, e o problema continua me alfinetando haha. Vlw pela ajuda, vou continuar tentando aqui.

[2015-02-03 00:33] rodrigo73 commented on #237
Fiz uma alteração temporária e por enquanto, resolve bem o problema, acredito que seja o Aqua Resizer... vou fazer alguns testes com ele separado e ver se realmente é ele.
![desk](https://cloud.githubusercontent.com/assets/7620947/6012140/79e2cb8e-ab2b-11e4-9ea3-4e2f3470855c.jpg)

[2015-02-03 15:33] rodrigo73 commented on #237
Descobri o problema, baixei do repositório original do Aqua Resizer a classe para corte, dei uma olhada e vi que o process tinha dois parâmetros a mais. O último deles é o de upscale, ele vai forçar a ampliação mas pelo menos não quebra o layout por tamanhos de imagens muito pequenas que não são retornadas.

Ela tem esse mesmo problema de corte quando as imagens são menores que o tamanho indicado.

[2015-02-03 15:38] fdaciuk commented on #237
Massa @rodrigo73! Vi isso em um projeto e apliquei somente nele.. achei que tinha enviado pro Odin =/
Mas pode mandar PR sim, não precisa nem pedir :D

[2015-02-03 17:17] rodrigo73 commented on #237
Não sei se está certo, segui as orientações e enviei la. Vlw pela ajuda pessoal.
Problema aqui foi resolvido, abraços!

[2015-02-09 13:17] valeriosouza opened #239 "Verificar possibilidade de incluir o SmoothScroll.js"
Seria interessante usar o SmoothScroll.js pra aliviar a rolagem do tema em navegadores como o chrome.

[2015-02-09 13:29] rafaelfunchal commented on #239
Isso para todo o site ou somente em one page sites?

[2015-02-09 13:30] valeriosouza commented on #239
Acho que pra tudo, ou deixar um jeito da pessoa escolher ativar ou não

[2015-02-09 13:46] fdaciuk commented on #239
Acho que tem isso pra alguns scripts, não? Pra selecionar qual vc quer ativar.. daria pra fazer o mesmo :)
Boa @valeriosouza :dancer:

[2015-02-09 16:19] fdaciuk commented on #184
Sei que já tá fechada essa treta, mas só pra avisar todo mundo: Odin entrou no [Beautiful Open](http://beautifulopen.com/)! :dancer: :dancer:

[2015-02-09 16:38] rafaelfunchal commented on #184
\o/

[2015-02-09 18:01] adammacias commented on #184
It is beautiful! :open_mouth: :rainbow:

[2015-02-09 18:21] rodrigo73 commented on #184
Show!

[2015-02-10 12:55] rodrigo73 opened #240 "Uso do odin_pagination() com get_posts"
Bom dia pessoal, estou tentando utilizar a função que faz as paginações do odin, o meu tema possui um CPT de fotos e gostaria que ele fosse incluso na listagem da categoria, criei um get_posts mas não faço ideia se a paginação funciona nesse caso. Vi que um dos parâmetros da função é uma $query, mas vi também que a função pega algumas variáveis globais do loop.

Não achei nada na wiki, abaixo segu

[2015-02-10 14:15] adammacias opened #241 "Erro de conexão demo.wpod.in"
Está sendo exibida a mensagem ```Error establishing a database connection``` ao acessar o [site de demostração](http://demo.wpod.in/) do Odin.

[2015-02-10 14:44] rodrigo73 commented on #240
Troquei o get posts por um filtro no pre_get_posts e estou usando o loop principal, mas posteriormente terei que usar em um local com vários loops, ainda seria de grande ajuda se a paginação funcionasse.

[2015-02-10 14:47] leobaiano commented on #240
Já tentou trocar a `get_posts();` pela `WP_Query();`?

[2015-02-10 14:51] claudiosmweb commented on #240
Troca para WP_Query() assim pode passar a query certa.
get_posts() é para trabalhar com dados, como arrays ou objetos e não para exibir conteúdo.

[2015-02-10 14:51] #240 closed

[2015-02-10 14:52] #241 closed

[2015-02-10 15:24] rodrigo73 commented on #240
Obrigado pessoal, o filtro que inseri para alterar o "post_type" da listagem de categorias resolveu bem,  posteriormente eu irei precisar de algo parecido em um shortcode, estou trabalhando com algumas galerias. não sei ao certo, mas o  WP_Query()  não altera as variáveis globais do loop? poderia ter algum problema com o uso dele dentro de outro loop?

[2015-02-14 17:26] adammacias opened #243 "Remover "if IE" do header"
Pessoal, o que acham de remover o código abaixo do `header`?
[code]
e deixar apenas:
[code]
Afinal de contas, acredito que assim como eu, a maioria de vocês, se não todos, não usa com frequência essas classes para IE8 muito menos para IE7. Mesmo se for usar, é mais comodo uma pessoa inserir este código do que vinte precisar remover-lo. Nem o thema **Twenty_Fifteen** está usando mais isso. :yum:

[2015-02-14 17:32] fdaciuk commented on #243
:+1:
Boa! Acho que não precisa mais disso também :)

[2015-02-16 20:10] adammacias commented on #243
PR feito! =) Também removi `<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />`.

Antes fiz uma pesquisa  para saber se outros temas, como **Twenty_Fifteen** e **_s**, estão usando esse hack também e não estão! Acredito que seja pelo mesmo motivo, IE 7, 8 está morrendo de vez! :dancers:

[2015-02-16 23:46] valdirljr opened #245 "Alguém usa o Koala para compilar SASS aqui ?"
Olá.

Alguém usa Koala para compilar aqui? Sempre que tento configurar não funciona. Cheguei a abrir uma issue no repo deles mas nada feito.
Sempre dá erro  do compass
- - - - - - - - - - - -
D:\wamp\www\agencia14.com.br\wp-content\themes\agencia14news\assets\sass\style.scss
Error: File to import not found or unreadable: compass/css3.
       Load path: D:/wamp/www/agencia14.com.br/wp-content/theme

[2015-02-17 23:54] rafaelfunchal commented on #245
Você já tem o Compass devidamente instalado?

[2015-02-19 18:53] luhciano opened #246 "Usar posts relacionados com Odin"
Pessoal, estou achando sensacional o Odin, porem me deparei com um problema.
Preciso deixa o tamanho dos posts relacionados dentro do single com tamanho padrão fixo.

Alguém saberia como mudar? sei que na no arquivo helper.php tem lá o functions com nome de  odin_related_posts .. só que não entendi como mudar o tamanho!

Helpe pliss!!

[2015-02-19 19:02] leobaiano commented on #246
@luhciano o que você quer dizer com "tamanho padrão fixo"? Você quer definir um tamanho fixo para a DIV onde os posts relacionados aparecem? Se for isso veja que a DIV tem um ID chamado related-post e você pode alterar o CSS dela.

[2015-02-19 19:14] luhciano commented on #246
não testei fixa o tamanho da div. irei testa-lo! Obrigado pelo o Help!

[2015-02-20 04:20] AlyssonIdeagi opened #247 "Adicionar CATEGORIA em um módulo"
Pessoal criei um Módulo de Cursos com o ODIN e estou querendo adicionar nele as CATEGORIAS igual a categoria de um post de notícias do wordpress exemplo! :p

Código abaixo:

<?php
function odin_cursos_cpt() {
    $cursos = new Odin_Post_Type('Cursos','cursos');
    $cursos->set_labels(
        array('menu_name' => __( 'Cursos', 'odin' ))
        );

    $cursos->set_arguments(
        array(

[2015-02-20 04:23] leobaiano commented on #247
@AlyssonIdeagi  o que você quer é criar uma taxonomia, da uma olhada na documentação: https://github.com/wpbrasil/odin/wiki/Classe-Odin_Taxonomy

[2015-02-20 04:31] AlyssonIdeagi commented on #247
seria isso @leobaiano ?

http://pastebin.com/i4TnLcNy

Só faltou ler de baixo pra cima essa documentação e não consegui entender =/
Sabe o menu que tem:
- Listar
- Adicionar
Eu queria que aparecesse o CATEGORIAS e la criaria as categorias. Funciona assim?

Obrigado pela atenção abraços

[2015-02-20 04:39] leobaiano commented on #247
`$cursos = new Odin_Taxonomy(
        'Categoria de Cursos', // Nome (Singular) da nova Taxonomia.
        'categoria', // Slug do Taxonomia.
        'post' // Nome do tipo de conteúdo que a taxonomia irá fazer parte.
    );`

Onde tem post você deve colocar o CPT que criou, dessa forma ai ele criou a taxonamy no Post mesmo, pode ir em Posts que deve tá aparecendo lá. No seu caso coloque cursos, q

[2015-02-20 04:41] leobaiano commented on #246
@luhciano posso fechar a issue?

[2015-02-20 04:41] AlyssonIdeagi commented on #247
Pow vei não sei nem como agradecer :D Obrigado mesmo deu super certo.
Vou ver agora como faço pra chamar na frente. Vlw @leobaiano Abraços

[2015-02-20 04:45] leobaiano commented on #247
Bom saber que resolveu, vou fechar a issue, abração!

[2015-02-20 04:45] #247 closed

[2015-02-20 05:17] AlyssonIdeagi opened #248 "Listar categorias"
Pessoal to criando um SHORTCODE pra mostrar as CATEGORIAS cadastradas, mas não sei como chamar na frente =/

Já consegui criar a categoria no módulo através da ajuda do amigo @leobaiano.
Esse é o módulo: http://pastebin.com/1BwAar3L
Faltando apenas chamar na frente ;) Fico grato pela ajuda de todos.

Meu sócio que era fera nisso saiu da empresa, ai sobrou pra mim rsrs ainda bem que aprendi algumas

[2015-02-20 06:01] AlyssonIdeagi commented on #248
Consegui listar as categorias do módulo, falta apenas puxar o link correto que liste os cursos daquela determinada categoria. Ajuda?

Código que usei para lista: http://pastebin.com/H3evkrNt

[2015-02-20 12:14] everaldomatias commented on #248
Ele está retornando algum erro, como comentou que falta 'pixar o link correto'?

Tenta com esse código: http://pastebin.com/BdZsAWHP
Testei aqui, com posts e a category padrão e funcionou perfeitamente.

[2015-02-20 12:19] adammacias commented on #248
Você lembrou de setar o  `$type` do post como *cursos*?

[2015-02-20 12:25] adammacias commented on #245
@valdirljr conseguiu com a dica do @rafaehlers?

[2015-02-20 12:56] AlyssonIdeagi commented on #248
Sim sim @adammacias. Ele mostra a categoria mas não retorna nenhum link @everaldomatias
Eu queria que quando clicasse na categoria o mesmo direcionasse para outra página listando os cursos daquela categoria. Obrigado pela atenção ;)

Como fica o link no html: <a href="" title="Category Name">Gestão</a>

[2015-02-20 12:58] everaldomatias commented on #248
@AlyssonIdeagi em "Gestão" você tentou mandar algum link de exemplo? Ele está retornando para essa mesma página no Github.

[2015-02-20 13:00] AlyssonIdeagi commented on #248
Exatamente isso @everaldomatias , aqui no meu local acontece a mesma coisa, como ta sem nenhum caminho o link retorna para a mesma página!

[2015-02-20 13:02] everaldomatias commented on #248
Cola aqui, diretamente, o HTML gerado por esse trecho de código por favor?

[2015-02-20 13:04] AlyssonIdeagi commented on #248
Agora :D

<ul class="category_list">
<li><a href="" title="Category Name">Beleza</a></li>
<li><a href="" title="Category Name">Gestão</a></li>
</ul>

[2015-02-20 13:05] everaldomatias commented on #248
Iche, acho que o Github tá interpretando seu HTML, é isso, rsrs.

[2015-02-20 13:05] AlyssonIdeagi commented on #248
kkkk ta sim, vou mandar no pastebin

http://pastebin.com/3UPWc9it

[2015-02-20 13:07] everaldomatias commented on #248
Ótimo.

Com o trecho de código que mandei, não funcionou?

Tente mudar os argumentos, apenas para testar com os posts, faça assim:

$args = array(
        'type'                     => 'post',
        'child_of'                 => 0,
        'parent'                   => '',
        'orderby'                  => 'name',
        'order'                    => 'ASC',
        'taxonomy'

[2015-02-20 13:10] AlyssonIdeagi commented on #248
Mesmo jeito =/ Ele mostra as categorias cadastradas, mas não retorna nenhum link.

[2015-02-20 13:13] everaldomatias commented on #248
Usando esse código: http://pastebin.com/BdZsAWHP

Na linha 14 coloque isso:

echo $category->term_id;

E entre a linha 15 e 16, coloque isso:

echo $category_link;

E me diga o que ele retorna.

[2015-02-20 13:14] leobaiano commented on #248
@allysonsouza você quer pegar o link dos termos de uma taxonomia, mas está usando a função que retorna o link das categorias padrão do tipo post, por isso não está funcionando.

No href substitua a função `get_category_link();` pela função `get_term_link();` que deve resolver. Observe que o parametro passado é diferente, ao invés de passar o ID você vai passar o termo completo, veja exemplo na doc

[2015-02-20 13:20] AlyssonIdeagi commented on #248
@everaldomatias retornou os ID das categorias.

4
Beleza
2
Gestão

Vou testar isso que você falou @leobaiano vlw

[2015-02-20 13:25] everaldomatias commented on #248
Exato, segue o exemplo do @leobaiano mesmo, é mais coerente.

[2015-02-20 13:45] AlyssonIdeagi commented on #248
É isso mesmo @leobaiano! Só que deixa eu te aperriar mais um pouco rsrs
Pelo o que eu entendi, o arquivo que ele mostra logo após é o taxonomy.php né isso?
Teria como quando eu clicasse na categoria ele me mostrar uma listagem (que pode até ser criada em uma page-categoria.php)?

Eu usava assim antigamente para listar os cursos sem categoria.
http://pastebin.com/0C3H0jke

[2015-02-20 13:47] luhciano opened #249 "Menu não aparece na página de categoria!"
Olá pessoal, o meu menu não está aparecendo na página de categoria! alguém saberia me dizer porque?

Meu codigo do header onde lista o menu:

	<section class="container">
		<div class="row">
			<nav class="navbar navbar-default menuTop" id="nav" role="navigation">

            <?php
            wp_nav_menu( array(
                'menu'              => 'category-menu',
                'theme_locat

[2015-02-20 13:52] AlyssonIdeagi commented on #248
Obrigado pela ajuda @everaldomatias ;)

[2015-02-20 14:00] everaldomatias commented on #248
@AlyssonIdeagi disponha.

Sobre essa listagem, deixa eu ver se entendi, você quer que ao clicar em 'Gestão', ele exiba uma listagem dos posts dessa categoria? Apenas o título e um link para ver o post, é isso?

Se for isso você pode duplicar o taxonomy.php e renomear para taxonomy-{$type}.php (substitua $type pelo nome do CPT) e edite esse arquivo como deseja.

[2015-02-20 14:04] AlyssonIdeagi commented on #248
Vou tentar isso @everaldomatias vlw.

[2015-02-20 14:06] leobaiano commented on #248
@allysonsouza você fazia errado antes.... Para mostrar os posts das categorias é só criar um arquivo category.php e usar o loop padrão, você além de criar uma página usou `query_posts();` para modificar o loop padrão e mostrar os posts da categoria... faz isso não cara, nunca use `query_posts();` e sempre que possível opte pelo padrão do WP.

Para mostrar os posts da taxonomia é só criar o taxonom

[2015-02-20 14:08] luhciano commented on #246
sim!

[2015-02-20 14:08] #246 closed

[2015-02-20 14:13] AlyssonIdeagi commented on #248
Mas todos os meus módulos, shortcodes e afins foram criados através do ODIN. Por isso vim pedir ajuda a vocês. Mas vou analisar aqui. Vlw @leobaiano obrigado pela atenção

[2015-02-20 14:15] AlyssonIdeagi commented on #248
Só me tira mais uma dúvida, o taxonomy é aberto em que página? Por que pelo o que eu vi aqui, ele é jogado em alguma outra página né isso? Ou estou errado? Abraços

[2015-02-20 14:19] leobaiano commented on #248
@everaldomatias onde você viu esse template taxonomy-CPT.php? Isso não existe... é taxonomy-slug_taxonomy.php ou taxonomy-slug_taxonomy-slug_termo.php ou só taxonomy.php... Os CPT tem a nomeclatura archive, no caso para listar os posts de um CPT você pode criar o archive.php ou o archive-slug_do_cpt.php.

É legal que queira ajudar e a comunidade precisa disso, mas tenha cuidado para não ensinar er

[2015-02-20 14:21] leobaiano commented on #248
@AlyssonIdeagi quando você pergunta em que página ele é aberto quer saber qual a URL ou qual arquivo ele utiliza como template?

[2015-02-20 14:28] AlyssonIdeagi commented on #248
Seria o arquivo @leobaiano. Mas acho que consegui o que eu queria :+1: Obrigado pela ajuda de todos, é difícil achar pessoas como vocês que ajudam sem pro algum. Vlw mesmo ;)

[2015-02-20 14:34] everaldomatias commented on #248
Pois é @leobaiano, escrevi errado, @AlyssonIdeagi o correto é taxonomy-slug_taxonomy.php

[2015-02-20 14:35] AlyssonIdeagi commented on #248
Tranquilo @everaldomatias . Obrigado pela ajuda de todos :D

[2015-02-20 14:37] #248 closed

[2015-02-20 16:18] adammacias commented on #249
É só na página de categoria?

Você já verificou se está imprimido o HTML? As vezes está e é alguma coisa no CSS que faz com que o menu fique oculto...

[2015-02-20 16:18] brunoguimaraes opened #250 "ID Main duplicado em page.php e single.php"
Olá galera,

percebi que no header.php temos uma div com ID "main" na linha 83, e nos templates de paginas internas page.php, single.php, archive.php entre outros temos elementos <main> com IDs "main".

Isso tem algum motivo especifico é algo que deveria ser corrigido?

[2015-02-20 16:28] walterjaworski opened #251 "Database error no Demo do odin"
Galera, tá dando erro de conexão ao bano de dados no demo: http://demo.wpod.in/

[2015-02-20 16:37] luhciano commented on #249
é so na página de category .. e não está imprimindo HTML não aparece nada! @adammacias

[2015-02-20 17:07] everaldomatias commented on #249
Em outras páginas ele roda normal?

Veja de usar underline no ID dos menus, assim: category_menu e também tente deixar o argumento 'menu' em branco.

[2015-02-20 17:28] claudiosmweb commented on #249
E é chamado esse menu na página de categoria?
Alias, não me parece ser um issue com o Odin e sim simplesmente PHP ou HTML.
Fechando.

[2015-02-20 17:28] #249 closed

[2015-02-20 17:29] claudiosmweb commented on #245
Precisa instalar o compass com esse Koala.

[2015-02-20 17:29] #245 closed

[2015-02-20 17:30] claudiosmweb commented on #250
Hey galera: https://github.com/wpbrasil/odin/search?p=1&q=id%3D%22main%22&utf8=%E2%9C%93
Agradeço quem pode ajudar.

[2015-02-20 17:31] luhciano commented on #249
@claudiosmweb é chamado sim na página de categoria, alies em todas as páginas, mais na de categoria não mostra! na página normal mostra, nos pots mostras, mais em categoria não!

[2015-02-20 17:31] #251 closed

[2015-02-20 17:32] claudiosmweb commented on #239
Sinceramente acho que realmente devemos evitar libs JS, como já fizemos removendo outras.

[2015-02-20 17:32] #239 closed

[2015-02-20 19:34] leobaiano commented on #250
Posso fazer isso, mas o que vocês acham melhor:

1 - Mudar o ID no header.php
2 - Mudar o ID main em todos os outros arquivos
3 - Simplesmente remover o ID dos outros arquivos já que a tag HTML <main> já da a semantica necessária para o bloco

???

[2015-02-20 19:35] claudiosmweb commented on #250
Na verdade acredito que o melhor é trocar os de dentro mesmo, por `main-content` ou algo assim.

[2015-02-21 04:49] #243 closed

[2015-02-21 16:51] fdaciuk opened #253 "Votação para agilizar merge de pull requests"
Fala galera! Queria sugerir algo pra que possamos agilizar os pull requests aqui, visto que alguns ficam bastante tempo aguardando que alguém aprove.

No [cerebro](https://github.com/cerebrobr/cerebro/issues/16), nós estamos fazendo da seguinte forma:

* Pessoa envia um pull request;
* Algum colaborador do projeto analisa o código, se é válido ou não, e vota: **+1** ou **-1**.
* Se tiver 2 votos p

[2015-02-21 16:57] nandomoreiraweb commented on #253
+1

[2015-02-21 16:57] nandomoreiraweb commented on #253
:+1:

[2015-02-21 17:09] adammacias commented on #253
:+1: haha aprovado. Mas tipo, dois não é pouco? Quer dizer, duas pessoas aprovam em 5 min e nem dá chance de outras pessoas darem opinião =D Poderia ter um tempo minimo para o merge. Que tal? Tipo 1 ou 2 dias, se ninguém contestar, já era, mete bala :gun:

[2015-02-21 17:10] claudiosmweb commented on #253
Vocês são muito viados xD
Só questão de bom senso e ai OK dar merge, não precisa esperar por mim ou por alguém.

[2015-02-21 17:14] fdaciuk commented on #253
Mas acho que não é nem questão de dar tempo @adammacias.. se tiver 2 ou 3 conferências já tá legal xD

Mas o problema é bem esse @claudiosmweb.. o negócio fica muitas vezes parado porque a galera tem medo de dar merge no projeto até você vir aqui e fazer isso :stuck_out_tongue_winking_eye:

Também acho zuado dar merge direto.. pode acabar passando algo que dê problema depois e ninguém viu, porque

[2015-02-21 17:30] espellcaste commented on #253
Não participo muito, mas vocês não tem um prazo para adicionar funcionalidades? Como o WP, BP  e bbPress tem?

[2015-02-21 17:40] adammacias commented on #253
@fdaciuk mas o negócio funciona aqui haha, os PR que estão pendente a mais tempo o próprio cara quem fez que deixou de lado.

[2015-02-21 17:44] fdaciuk commented on #253
Sim, o PR é feito por quem enviou. É isso que eu tô dizendo: o PR deveria ser feito sempre por outra pessoa, :smile:

[2015-02-21 17:52] valeriosouza commented on #253
Acho que podia criar um outro nível só com essa funcionalidade. Um grupo de 4 pessoas para fazer mercê.

[2015-02-21 18:14] leobaiano commented on #253
Acho ruim que a mesma pessoa que fez o pr faça o merge na master, talvez nem precise de votação só que alguém dê uma olhada antes de dar merge pra garantir que o autor não se passou em algo. Sem muita frescura, até porque qualquer coisa só voltar um commit né.

[2015-02-21 18:17] fdaciuk commented on #253
Exato, pode ser também @leobaiano! A ideia de votar é só pra garantir que alguém viu que a alteração realmente não vai quebrar nada.. quem vota coloca o seu na reta, haha xD

[2015-02-21 18:37] tiagosousaweb opened #254 "Título Duplicado"
Ae galera me deparei com o seguinte:

• O título tá aparecendo duplicado, vejam ae a imagem que eu upei.
http://prntscr.com/6827yy

Desde já, grato pela ajuda!

[2015-02-21 20:25] #254 closed

[2015-02-22 01:00] adammacias opened #256 "Adicionar Sourcemaps"
Eu li o artigo [Sourcemaps - Debugando JS e CSS minificados](http://blog.da2k.com.br/2015/02/21/sourcemaps-debugando-js-e-css-minificados/) do @fdaciuk , por sinal muito bom, e achei que ficaria legal adicionar isso no Odin :smile: testei aqui e deu certo o debug, inclusive o [grunt-contrib-uglify](https://github.com/gruntjs/grunt-contrib-uglify#sourcemap) já tem esse recurso, basta ativar via `Gr

[2015-02-22 15:04] tiagosousaweb opened #257 "Chamada de função"
Olá pessoal, não estou conseguindo implementar (chamar) a função que captura o texto digitado pelo usuário no meu tema.
Para entender melhor: http://prntscr.com/68et1p

[2015-02-22 15:10] leobaiano commented on #257
Faltou dar echo para imprimir o valor.

[2015-02-22 15:17] tiagosousaweb commented on #257
Ok. Acho que isso é mais sobre php mesmo do que o próprio framework neh. Valeuzão ae.
Se tiver como me mostrar aí como fica, agradeço, não manjo muito de php.

[2015-02-22 15:18] leobaiano commented on #257
`echo $var`

Sendo que `$var` é o nome da variável cujo valor você deseja imprimir.

[2015-02-22 15:19] tiagosousaweb commented on #257
Veleu...

[2015-02-22 15:20] #257 closed

[2015-02-22 18:20] rafaelfunchal commented on #253
:+1:

[2015-02-24 11:33] walterjaworski opened #259 "ícone ao lado do home em wp_menu_nav"
Pessoal, estou procurando a classe que cria o link HOME do odin, preciso inserir um ícone antes deste item, porém não estou encontrando. Aonde posso achar a parte que cria esse link, ou melhor ainda, tem como criar um código no meu functions que adicione esse ícone?

[2015-02-24 11:49] #259 closed

[2015-02-24 11:53] walterjaworski commented on #259
Vacilei e fiz uma pergunta sem nexo nenhum. O item em questão foi adicionado manualmente.

[2015-02-26 01:49] lucasmiranda5 opened #260 "[BUG] Post Type"
Quando crio um post type no  Wordpress 4.1.1 e acesso o post criado ele da erro 404

[2015-02-26 01:50] fdaciuk commented on #260
Gerou novamente os permalinks?

[2015-02-26 02:57] rafaelfunchal commented on #260
Poxa, @lucasmiranda5, te mandou mensagem, eu falei que era Permalink e você abriu issue mesmo assim? rs

[2015-02-26 03:02] #260 closed

[2015-02-27 04:25] jrstylle opened #261 "Página de showcase"
Seria interessante o site do odin ter uma página com os sites que já foram desenvolvidos com ele.

[2015-03-03 11:25] felipescalice commented on #237
Eu iria fazer a msm pergunta, pois tive o msm problema recentemente e agradeço pela ajuda!

[2015-03-03 16:15] randsonjs opened #262 "Odin Custom Post Status"
Pessoal,

recentemente fiz uma aplicação em wordpress. Ela usa os status do post para fazer filtros. Precisei olhar na documentação e fazer uso da função `register_post_status()`.

Talvez seria ideal deixar como uma classe para o Odin. Eu fiz um esboço de uma classe [aqui](https://gist.github.com/randsonjs/b16834e69ffebb4169e7). Ainda estou terminando. Mas adianto que sem a classe funciona tudo pe

[2015-03-03 22:48] lucasmiranda5 commented on #183
Galera o framework para plugin vai sair? se sim posso ajudar

[2015-03-04 00:48] rafaelfunchal commented on #183
Uma hora sai, calma.

Fique ligado nesse canal para ver os próximos capítulos :)

[2015-03-04 00:49] matheusgimenez commented on #183
Eu ainda acho que deveria funcionar como o underscores por exemplo, na hora do download altera o nome das classes/funções, pra evitar sobrepor.

[2015-03-05 21:06] allysonsouza commented on #262
Legal, mas eu acho que é um recurso mais específico, que é muito bom que exista, mas não seja algo a ser adicionado no core para a maioria dos projetos não utilizar. (ainda que seja uma classe, com 120 linhas apenas, 3KB | e ainda que tenham outras coisas que ninguém usa em todo projeto, etc...)

[2015-03-05 21:07] allysonsouza commented on #261
+1

[2015-03-05 21:07] allysonsouza commented on #256
Curti, não conhecia Sourcemaps!

[2015-03-05 21:17] allysonsouza commented on #236
Você fala de criar uma página de opções no painel @leobaiano? Ou algum tipo de configuração em arquivo/script?

[2015-03-05 21:28] #194 closed

[2015-03-05 21:29] leobaiano commented on #236
No arquivo `template-tags.php` temos:

`
function odin_classes_page_sidebar_aside() {
	return 'widget-area col-md-4 hidden-xs';
}
`

No arquivo `sidebar.php`:

`
<div id="secondary" class="<?php echo odin_classes_page_sidebar_aside(); ?>" role="complementary">
`

Eu quero a sidebar com 3 colunas, para isso ou apago o echo na div ou modifico a função no template-tags.php. Se a função recebesse o va

[2015-03-05 21:35] allysonsouza commented on #236
Agora entendi!

+1

[2015-03-05 22:08] randsonjs commented on #262
Isso é uma questão relevante e irrelevante ao mesmo tempo @allysonsouza.

No próprio `functions.php` do odin tem isso:

[code]

Onde tem classes que não serão usadas em "todos os projetos". Temos frameworks também que a maioria dos projetos não usam ele completamente.

Eu acharia o máximo o Odin disponibilizar essa classe para utilizar. Assim como tem a classe `user-meta.php`.

A própria classe `u

[2015-03-05 22:18] allysonsouza commented on #262
"e ainda que tenham outras coisas que ninguém usa em todo projeto, etc..." - foi minha opinião, o projeto é open source, tá aqui a issue para os demais comentarem! : )

[2015-03-05 23:26] fdaciuk commented on #256
Acho uma boa.. até porque ajuda a debugar :)
+1

[2015-03-06 01:04] randsonjs commented on #262
Tranquilo hehe

Vamos esperar a galera pra ver que acham! :)

[2015-03-06 01:08] matheusgimenez commented on #262
Acho útil e como o @randsonjs falou mesmo, colocando comentado não vai pesar na hora de rodar.

+1

[2015-03-06 01:17] fdaciuk commented on #262
Acho válido @randsonjs :)
Essa sua classe já funciona?

[2015-03-06 04:46] randsonjs commented on #262
Essa que está no gist não. Mas ela finalizada já está sendo usada em produção.

Vou terminar ela e envio como Pull Request!

[2015-03-06 18:31] adammacias commented on #256
Bacana, fiz um PR.

[2015-03-06 18:33] adammacias commented on #262
+1
Só que também precisamos criar a documentação de como utiliza-la. :)

[2015-03-06 18:35] adammacias commented on #253
Pessoal, então ficou decidido +2 o PR fica liberado! Podemos fechar esse tópico?

[2015-03-06 18:37] claudiosmweb commented on #256
Na verdade no WordPress não seria tão boa ideia fazer isso.

Seria melhor trocar para:

[code]

Desta forma enquanto esta desenvolvendo você consegue configurar corretamente o seu ambiente com o modo de debug do WordPress.

[2015-03-06 18:44] adammacias commented on #236
Podemos enviar como parâmetro **$classes** ao invés de **$cols**, por que vai que o cara queira deixar o uma coluna com 4 colunas em *small-screen* e 5 em *large-screen*. Daí só fazer uma validação caso o **$classes** for nula, aplica o tamanho da coluna padrão do **Odin**.
De resto concordo plenamente com você @leobaiano precisamos mudar isso! :+1:

[2015-03-07 00:15] fdaciuk commented on #256
A solução do @claudiosmweb é ainda melhor mesmo.. assim não tem o custo de gerar os sourcemaps :)

[2015-03-07 03:39] adammacias commented on #256
Acredito que o *sourcemap* é mais útil para o pessoal que trabalha com **Grunt** mas como sabemos que é a minoria, esse modo do @claudiosmweb se adequá melhor mesmo! :+1: Deem uma olhada no PR agora por favor =)

[2015-03-07 03:47] #250 closed

[2015-03-07 04:25] adammacias commented on #236
@leobaiano verifica por favor se está tudo ok :smile:

[2015-03-07 18:55] claudiosmweb commented on #236
Agora que vi pra que foi a alteração do template tags.
Sinceramente a ideia é você alterar essas classes na mão no Odin e dentro de um tema filho você pode sobrescrever essas funções.
Exatamente por isso ela são "Pluggable Functions".

[2015-03-07 18:57] #256 closed

[2015-03-08 00:07] jrstylle commented on #261
Acredito que com exemplos de sites desenvolvidos com o odin, e as pessoas, principalmente as menos experientes teriam uma maior noção do que o odin é capaz de fazer, assim iria aumentar a adesão do framework e claro, isso ajudaria no desenvolvimento do ferramenta.

[2015-03-10 12:16] fdaciuk commented on #261
Tinhamos um lugar pra isso no site antigo, mas acho que não chegou a ser publicado nenhum. A ideia é ótima! Talvez podemos usar o Mailchimp para receber os links, ou até por aqui mesmo, criando issues :)
:+1:

[2015-03-10 12:51] allysonsouza commented on #261
Não sei se seria ruim, mas talvez incluir uma listagem no Readme, ou então algum item da wiki.
Ou como o @fdaciuk disse, com issues, podíamos criar uma nova label: "madewithodin", "referências", algo do tipo.

[2015-03-10 13:12] everaldomatias commented on #261
+1

Acho a ideia animal, só acho meio sensível ser apenas por link's, pois isso vai gerar a demanda de sempre validar quais links ainda continuam sendo em Odin ou mesmo deixem de existir.

Poderia ser algo com thumbs como primeira instância caso o link se quebre como comentei acima.

[2015-03-10 13:17] allysonsouza commented on #261
Sendo em issues a própria pessoa consegue facilmente adicionar os prints no comentário. Só não fica aquele showcase em vários thumbs, pro pessoal ver em uma tacada só, isso acho que o ideal seria no site...

[2015-03-10 13:18] everaldomatias commented on #261
É isso @allysonsouza legal.

[2015-03-10 16:13] adammacias commented on #261
Acho que já recebemos alguns cases quando o site ainda era o outro.

Acredito que seria melhor separar em dois repositórios: **Odin** para o *theme* e **Odin Expo** para os *showcase*, se não em alguns meses teria mais *issues* de cases do que outra coisa.

Referencia: Podemos forkar o http://beautifulopen.com/ e fazer com *Jekyll* mesmo.

:neckbeard:

[2015-03-10 20:23] AlyssonIdeagi opened #267 "Título Imagem Galeria de Fotos"
Boa tarde a todos, como faço pra puxar o TÍTULO de uma imagem?

Esse é o código que uso para chamar a imagem:

<?php
    $args = array('post_type' => 'consultoria','posts_per_page' => 1,'order' => ASC);
    query_posts($args);
    if (have_posts()) :
      ?>
    <?php
    // Start the Loop.
    while ( have_posts() ) : the_post();
    global $post, $wpdb, $nggdb;
    $galeria_de_fotos   = get_pos

[2015-03-10 20:25] AlyssonIdeagi commented on #267
<?php foreach ( explode( ',', $galeria_de_fotos ) as $image_id ){?>
      <?php $imageUrl = wp_get_attachment_image_src($image_id, 'full' ); ?>

          <?php $resizer = Odin_Thumbnail_Resizer::get_instance();
          $image = $resizer->process($imageUrl[0], 185, 185, true, true ); ?>
          <?php $alt = get_image_tag($alt); ?>
          <?php echo '<img class="wp-image-thumb img-responsive

[2015-03-10 20:32] allysonsouza commented on #267
Dá uma olhada nessa função do WordPress: http://codex.wordpress.org/Function_Reference/wp_prepare_attachment_for_js

Senão tem essa função, postada nesta discussão aqui, que deve servir: https://wordpress.org/ideas/topic/functions-to-get-an-attachments-caption-title-alt-description

[code]

[2015-03-10 20:37] AlyssonIdeagi commented on #267
Mas isso se aplica no ODIN? Não teria alguma função já do odin pra isso não? Tipo, dentro dessa função que usei para chamar e redimensionar a imagem eu poderia chamar o titulo da mesma não?

Obrigado pela ajuda allysonsouza

[2015-03-10 20:41] allysonsouza commented on #267
Não, nessa classe Odin_Thumbnail_Resizer ela se restringe ao que o seu nome diz, redimensionar imagens. A partir o ID que você possuí tem que utilizar os recursos do WordPress mesmo para acessar o título da imagem.

De nada :v:

[2015-03-10 20:57] rafaelfunchal commented on #267
Sobre usar query_posts().

http://codex.wordpress.org/Function_Reference/query_posts

[2015-03-10 20:57] #267 closed

[2015-03-10 20:58] AlyssonIdeagi commented on #267
Por que o amigo fechou? Ainda não consegui resolver meu problema.

[2015-03-10 21:03] AlyssonIdeagi commented on #267
Consegui resolver usando isso:

<?php $title_image = get_the_title($attach_id) ?>

[2015-03-10 21:03] AlyssonIdeagi commented on #267
Obrigado allysonsouza pela ajuda abraços

[2015-03-10 21:06] rafaelfunchal commented on #267
@AlyssonIdeagi fechei por que isso não é um problema do Odin.

Como o @allysonsouza disse anteriormente:

[2015-03-10 21:23] allysonsouza commented on #267
@rafaelfunchal está certo, era uma dúvida de WordPress geral. E pode crer, get_the_title() serve já que attachment é um post type, vacilo meu propor soluções mirabolantes : P

[2015-03-10 21:29] AlyssonIdeagi commented on #267
Certo @rafaelfunchal desculpe. Pois é @allysonsouza mas obrigado pela atenção. Abraços

[2015-03-11 02:38] rafaelfunchal commented on #261
Concordo com a ideia do @adammacias. Um repositório diferente para o showcase seria o ideal

[2015-03-11 21:57] allysonsouza commented on #261
Não dá para incluir uma sessão, antes ou depois dos colaboradores, com o showcase no http://wpod.in/? E ai o pessoal da PR nesse branch, já adicionando o seu projeto na página?

[2015-03-12 17:13] adammacias commented on #261
@allysonsouza acho que seria interessante como você disse, mas uma sessão apenas com uns 4 *thumbnails* dos cases em "destaque" e um botão enviando para o outro repositório **Odin Expo** :D Os quatro cases em destaque dá para gente abrir um *issue* aqui para "votação" dos melhores e atualizar uma vez por mês... Já os PR de novos cases poderiam ser enviado pro **Odin Expo**.

[2015-03-12 17:31] allysonsouza commented on #261
Não sei @adammacias, era para ser algo simples e acho que estamos complicando no final das contas... Parece muita volta para algo que podia ser um .txt com links.

Essas votações vão ficar exigindo "esforço" do pessoal, além das atualizações, e etc., qual a preocupação em ter todo esse filtro na seleção?

Talvez fosse melhor criar o "Odin Expo" e só manter no readme mesmo, ai quem quiser inserir c

[2015-03-12 18:56] adammacias commented on #261
Beleza, a votação foi só para o destaques, mas foi só uma sugestão.

@allysonsouza Podemos fazer então o **Odin Expo** como você disse, mas ainda acho que seria legal ter algo visual usando Jekyll igual o http://beautifulopen.com/ =)

@rafaelfunchal pode criar um repositório chamado "Odin Expo" aí por favor? Não tenho permissão para isso. Assim já fecha essa *issue* :)

[2015-03-12 19:04] rafaelfunchal commented on #261
Repositório criado, galera! https://github.com/wpbrasil/odin-expo

Vamos levar esse papo pra lá :-)

[2015-03-12 19:06] claudiosmweb commented on #261
Precisamos disso não jovens, só criar na Wiki como uma porrada de projeto já faz xD

[2015-03-12 19:07] claudiosmweb commented on #261
Alias, da para fazer também no gh-pages aqui.
Exemplo desse http://beautifulopen.com/, precisamos de um json com nome do site, descrição, foto e URL.
E ai esta tudo pronto, só fazer um parser e criar usando Jekyll ou qualquer outra coisa.

[2015-03-13 05:07] adammacias commented on #261
Pronto pessoal, o que acham? http://adammacias.github.io/odin-expo/
@rafaelfunchal abusando novamente da sua hospitalidade, cria o *branch gh-pages* lá no **odin-expo** para que eu consiga dar um PR, e já seta ele como *branch* padrão *please*. :dancers:

[2015-03-13 05:08] claudiosmweb opened #268 "Demo do Odin fora do ar por tempo indeterminado"
Eu matei o demo do Odin.
Quando rolar tempo eu coloco no ar de novo, mas sei lá se precisa mesmo de demo.

[2015-03-13 12:56] allysonsouza commented on #261
@adammacias eu não manjo das pages do github, mas e isso que o @claudiosmweb disse: "Alias, da para fazer também no gh-pages aqui." - Precisamos mesmo de outro repositório?

[2015-03-13 13:54] rafaelfunchal commented on #261
Acho que fica mais organizado com outro repositório

[2015-03-13 14:18] claudiosmweb commented on #261
Por que outro repo só para isso?
Da para colocar tudo no mesmo.
Trocar o template do site que é feito em HTML puro por Jekyll também.

[2015-03-13 14:36] valdirljr opened #269 "odin_thumbnail() , adicionar tag title"
Sinto que falta a tag title aí.
O que acham ?

Referência: https://github.com/wpbrasil/odin/wiki/Redimensionando-a-imagem-destacada-(thumbnail)

[2015-03-13 14:41] rafaelfunchal commented on #261
Eu sei, mas repo diferente evitaria dor de cabeça com galera mandando pro branch errado. Só questão de organização mesmo.

[2015-03-13 14:56] valdirljr commented on #245
Galera, instalei o Compass e tudo mais, tentei com varios compiladores, nada ia. Daí copiei a pasta do compass para dentro do projeto e foi de boa.
Preciso migrar para linux logo. Facilitará minha vida.
Obrigado pela força!

[2015-03-13 16:16] adammacias commented on #261
Eu compartilho da mesma opinião do @rafaelfunchal xD iria ficar desorganizado, não a questão do site, mas sim dos PRs e Issues.

Funchal, nós podemos então fazer um *test drive* aqui, se ficar ruim a gente migra para outro, se não deixa quieto.

[2015-03-13 16:59] rafaelfunchal commented on #261
Por mim beleza.

[2015-03-13 17:53] rafaelfunchal commented on #269
`title` não é um atributo válido para a tag `img`.

Referência: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img

[2015-03-13 18:08] fdaciuk commented on #269
Na verdade `title` é um atributo global, que pode ser usado em qualquer elemento:
http://w3c.github.io/html-reference/img.html
http://w3c.github.io/html-reference/global-attributes.html

:smile:

[2015-03-13 18:10] claudiosmweb commented on #269
Mas se já tem `alt`, não tem muito motivos para ter `title` também.

[2015-03-13 18:11] fdaciuk commented on #269
`title` só serve quando passa o mouse em cima.

[2015-03-13 18:15] rafaelfunchal commented on #269
:+1:

[2015-03-13 20:46] adammacias commented on #269
:+1:

[2015-03-13 20:50] adammacias commented on #268
Seu fanfarrão haha, quer que eu bote no meu servidor e tu só aponta o DNS?

PS. Também não sei se precisa mesmo de um demo. Um *screenshoot* resolveria o problema caso o usuário queira ver como é a aparência inicial do Odin.

[2015-03-13 22:49] fdaciuk commented on #268
:+1:

[2015-03-14 10:42] valdirljr commented on #269
Sei que title não terá efeito algum em SEO, visto que irá usar a tag alt para isto.
Porém, para acessibilidade, ajuda visto que você pode colocar informações adicionais a imagem.
Eu não ligaria para isto se não fosse algo que estivesse ali para ser preenchido, quando se edita uma imagem no WP:
![title fw](https://cloud.githubusercontent.com/assets/558397/6651356/71bde3e2-ca1d-11e4-9cbc-b6982a873cb

[2015-03-14 10:43] valdirljr commented on #269
Sei que title não terá efeito algum em SEO, visto que irá usar a tag alt para isto.
Porém, para acessibilidade, ajuda visto que você pode colocar informações adicionais a imagem.
Eu não ligaria para isto se não fosse algo que estivesse ali para ser preenchido, quando se edita uma imagem no WP:
![title fw](https://cloud.githubusercontent.com/assets/558397/6651356/71bde3e2-ca1d-11e4-9cbc-b6982a873cb

[2015-03-16 17:29] adammacias commented on #269
Ok @valdirljr vendo por esse lado, acho pode ser útil :smile: :+1:

[2015-03-16 17:46] claudiosmweb commented on #269
Na real acessibilidade é com a tag alt mesmo.
Ela não serve apenas para SEO e sim para ser como uma alternativa para a imagem, descrevendo ela caso ela não seja carregada.

[2015-03-17 18:53] valdirljr commented on #269
Concordo que a title não é usada para nada além de passar o mouse em cima e exibir o texto @claudiosmweb  , porém, ao chamar um thumb com link não exibe a tag title.
Posso exibir assim:
<a href="<?php the_permalink(); ?>" title="<?php the_title_attribute(); ?>"><?php echo odin_thumbnail( 555, 312, ''.get_the_title().'', true, 'minha-classe' ); ?></a>

Porém, se for utilizar somente a thumb sem lin

[2015-03-17 18:55] valdirljr commented on #268
Paga a hospedagem senão o UOL/Locaweb derruba mesmo rs

[2015-03-17 19:00] valdirljr opened #271 "Número de páginas na paginação"
Há alguma forma de alterar o numero de páginas exibidas na paginação?
Pelo que vi, a função não aceita parâmetros e estou com um layout que o designer colocou 10 páginas para serem exibidas na paginação. Estou adorando os layouts deste cara!

[2015-03-17 19:00] claudiosmweb commented on #269
Não existe `the_title_attribute()` para a imagem até então desta forma, precisa pegar do attchment.

[2015-03-17 19:04] valdirljr commented on #269
http://codex.wordpress.org/Function_Reference/wp_get_attachment_metadata

[2015-03-17 19:16] allysonsouza commented on #269
Na verdade, discutimos isso em outro tópico, e havia me esquecido que simplesmente `get_the_title()` serve para pegar o título de attachmentes.

[2015-03-17 19:22] rafaelfunchal commented on #271
`odin_pagination()` aceita parâmetros sim.

Dê uma olhada na função: https://github.com/wpbrasil/odin/blob/master/core/helpers.php#L26

[2015-03-17 21:32] claudiosmweb commented on #269
@valdirljr mas nesse caso vai usar o post como title e não o title da imagem que você mostrou na imagem?

[2015-03-18 03:08] adammacias commented on #269
Essa função **wp_get_attachment_metadata()** pega os dados do arquivo, exemplo: Quando uma pessoa, normalmente fotografo, altera as propriedades de um arquivo no Photoshop ou Lightroom, ele consegue colocar essas informações no arquivo em questão. Como exemplo "Titulo, Copyright, Câmera, Lente...". Só para constar, essas informações também pode ser editadas através do "Propriedades >> Detalhes" de

[2015-03-18 03:10] #271 closed

[2015-03-18 03:23] adammacias commented on #268
Caso precise, tirei um *full print* :smile:
![odin-framework---so-mais-um-site-wordpress](https://cloud.githubusercontent.com/assets/1139893/6702063/75292f34-cd04-11e4-99ec-8d68bfdd55e9.jpg)

[2015-03-18 12:32] 72fcosta opened #272 "GruntJS demora para compilar SASS"
Olá mundo. Desenvolvia temas a partir de um kick start próprio. Senti falta de algo para adcionar metaboxes personalizadas em meu kick start. Buscando praticidade, na questão dos metaboxes entre outras, encontrei ontem o Odin e resolvi testar. No pacote de testes entrou GruntJS. Minha dúvida; Anteriormente eu compilava o Sass com o Scout e era bem rápido e agora usando o GruntJS demora 5 segundos

[2015-03-18 13:25] vitorbritto commented on #272
@72fcosta olá! Então, seria interessante posicionar sua dúvida no grupo do WordPress Brasil no Facebook também, já que estamos tratando do Odin.

Como está a configuração do Sass no seu Gruntfile? Pode compartilhar o código conosco? =]

[2015-03-18 13:38] 72fcosta commented on #272
Super coincidência. Estava em seu blog lendo sobre o LiveReload no Grunt, ao mudar a aba para ver se havia alguma resposta por aqui, olha quem apareceu. Me desculpe por postar em local errado. Achei que seria algo relacionado ao tema, pois tanto o Odin quanto o Grunt são novidades pra mim. Eu apenas dei um npm install no diretório src e não alterei nada
![capturar](https://cloud.githubusercontent.

[2015-03-18 13:59] gbrlsepulveda commented on #272
@72fcosta no Odin é utilizado compass, é uma biblioteca um pouco pesada. Se não estiver utilizando nada do Compass, sugiro mudar o compilador para o lib-sass ou node-sass

[2015-03-18 14:14] 72fcosta commented on #272
@gbrlsepulveda e @vitorbritto, obrigado! Vou iniciar a briga com o Grunt para mudar o compilador. Abraços.

[2015-03-18 14:27] vitorbritto commented on #272
@72fcosta não está em local errado. Entretanto, o pessoal pode dar uma força por lá também.

Pode enviar um print do config.rb também?

Uma alternativa seria esta que o @gbrlsepulveda mencionou acima. É importante verificar quais arquivos estão definidos para compilar e tentar não forçar o _overwrite_ dos arquivos. No objeto `options` coloca a propriedade **force** com valor boleano definido em _f

[2015-03-18 14:47] 72fcosta commented on #272
@vitorbritto Se eu migrar para outro compilador, mais tarde o Compass pode me fazer falta para algum outro recurso do Odin?
![capturar](https://cloud.githubusercontent.com/assets/11538191/6711231/7b34e32c-cd64-11e4-93f6-cdc5a58bcab0.JPG)

[2015-03-18 14:57] claudiosmweb opened #273 "Remover dependencia ao Compass"
Não precisamos de Compass uma vez que estamos usando o Bootstrap que já tem vários mixins.

Ref #272

[2015-03-18 16:17] 72fcosta commented on #273
@claudiosmweb ótimo! Vou começar minha experiência com o Odin por aí então...estou tentando colocar o node-sass no lugar! Impressionado com a atenção dispensada por todos! Obrigado.

[2015-03-19 12:46] 72fcosta commented on #273
Estou tentando a compilação Sass com o node-sass. Está retornando "file to import not found" na linha 7 (// Odin variables configuration.). Compass já instalado e já executado a instruções anexa. O erro continua aparecendo.
![capturar](https://cloud.githubusercontent.com/assets/11538191/6730592/ddd5dd48-ce1c-11e4-9c7a-15dec5910500.JPG)

[2015-03-19 13:16] 72fcosta commented on #272
Migrei a compilação do style.scss do Odin do Grunt para o Gulp e continuo com problemas (1 erro "file not found" e a performance baixa "5s";
1) Erro na importação "@import "compass/css3";".  (Compass já está instalado.);
2) Comentei a linha acima para verificar a performance e não obtive nenhuma melhora (em torno de 5s).
Devo estar fazendo algo bem errado :(
Será que é pela quantidade de arquivos

[2015-03-19 13:18] 72fcosta commented on #272
Em busca de melhorar a performance da compilação eu migrei para o Gulp e continua em 5 segundos cada alteração.
Devo estar fazendo algo bem errado :(
Será que é pela quantidade de arquivos importados? Devo usar outra stylesheet para personalizar meu tema?

[2015-03-19 13:48] fdaciuk commented on #272
@72fcosta não vai resolver muito usar o Gulp, pois o SASS é compilado pelo Ruby. Tente usar o lib-sass pra compilar :smile:

[2015-03-19 13:55] 72fcosta commented on #272
@fdaciuk (da2k), eu já tinha tentado usar o lib-sass também indicado por @gbrlsepulveda, mas graça a minha completa inesperiência não consegui :(( Vou tentar de novo. Muito obrigado.

[2015-03-19 13:58] fdaciuk commented on #272
Você tá usando o `gulp-sass`? Ele já usa o libsass.

[2015-03-19 13:58] #272 closed

[2015-03-19 14:06] 72fcosta commented on #272
@claudiosmweb me desculpe acho que a minha questão não é para o fórum do Odin.

[2015-03-19 15:12] claudiosmweb commented on #272
@72fcosta você esta procurando suporte para usar grunt e gulp, não como usar o Odin.

[2015-03-19 15:52] 72fcosta commented on #272
@claudiosmweb ok

[2015-03-23 17:27] VieiraSA opened #275 "Como o odin faz o upload de uma imagem?"
Olá Caros,

Primeiramente parabéns pelo framework, ele é muito útil. Tenho vontade de contribuir para ele também.

Gostaria de saber como o odin faz o upload de uma imagem. Andei analisando um pouco o código e ainda não consegui decifrar a forma que o odin envia e recebe os valores, tais como, post_id e outros. Seria um hook nas ações de criação e atualização dos posts?

O odin utiliza a função wp

[2015-03-24 03:24] VieiraSA commented on #275
Para aqueles que acompanharam o caso, eu resolvi de uma forma mais elegante. Eu adicionei uma nova row na tabela post_meta associando a galeria pai com sua filha. Dessa forma, as duas galerias ficaram associadas. Contudo ainda ficou meio obscuro a parte que a modal salva uma imagem no banco de dados.

[2015-03-24 03:24] #275 closed

[2015-04-01 18:40] allysonsouza commented on #273
Pô, não entendi porquê remover o Compass, não dava para coexistir uma task de Sass, outra de Compass, e cada um que utilizasse o que coubesse em seu projeto, comentando ou não o import do compass no seu _config.scss?

[2015-04-01 18:48] claudiosmweb commented on #273
Na verdade o certo é mudar para https://github.com/gruntjs/grunt-contrib-sass
Assim se quiser usar compass é só indicar `compass: true`.

[2015-04-10 16:48] Adrian1995 opened #278 "Erro ao acionar Menu Responsivo do Odin"
Pessoal, estou com um problema. Ao redimensionar o tamanho da tela, automaticamente a página faz o menu desaparecer e exibe um novo botão para fazer o menu aparecer em dropdown, porém ao clicar nesse botão que deveria exibir o menu em dropdow nada acontece. Acredito que seja um erro do próprio template, pois efetuei uma instalação do zero e o problema já ocorre.

[2015-04-14 10:44] ThiagoRezende opened #279 "Adicionar Metabox em Páginas"
Pessoal, gostaria de saber se é possível criar metabox em páginas (template) usando a classe Odin_Metabox? Pois não encontrei na documentação, se for possível, favor apresentar um exemplo. Obrigado.

[2015-04-14 13:11] allysonsouza commented on #279
@ThiagoRezende a classe metabox cria meta boxes para post types, seja eles os padrões criados pelo WordPress (post, page, attachment) ou não.

Então, ao criar sua metabox, basta utilizar o slug do post type páginas, que é page. Exemplo:

[code]

[2015-04-14 13:15] ThiagoRezende commented on #279
@allysonsouza obrigado!

[2015-04-14 13:20] #279 closed

[2015-04-15 18:40] ThiagoRezende opened #280 "Adicionar metabox de forma dinâmica através de botão"
Boa tarde, pessoal.

Meu conhecimento em PHP é de básico a intermediário, e eu precisava adiconar metaboxes num custom post de forma dinâmica, ou seja, ao adicionar um post preciso de um botão ou algo similar que ao clicar nele adicione uma metabox, essas metaboxes teriam sempre os mesmos campos.

Alguém sabe me dizer como posso fazer?

Desde já agradeço.

[2015-04-15 21:35] allysonsouza commented on #278
@Adrian1995, um erro do tema não deve ser, pois diversas pessoas já o utilizaram e ninguém teve problema com isso ainda, eu inclusive. Você tem mais informações sobre este erro? Verificou o console do navegador para ver se há algum alerta?

[2015-04-15 22:47] ivanildodias commented on #278
Chequei aqui também e realmente não tá funcionando o toggle. Deve ser algo errado com a chamado do collapse. Nada aparece no console. Mas notei que se eu acrescentar a classe "in" no ".navbar-main-navigation" o menu e o form de pesquisa aparecem. Tem algo errado no evento de click do botão.

[2015-04-16 01:57] vinigarcia87 opened #281 "Odin Theme Options"
Olá,
Estou usando a classe de Theme Options "stand alone" em um theme que estou criando.
Tenho duas duvidas:

		$settings->set_fields(
			array(
				'odin_general_fields_section' => array( // Slug/ID of the section (Required)
					'tab'   => 'odin_general', // Tab ID/Slug (Required)

Tab é sempre required?
Eu nao posso criar uma pagina de options usando varias sections e nenhuma tab?
Se tem como,

[2015-04-20 12:16] andersonsimproarte opened #282 "Popup no Odin"
Galera, Bom dia! Estou com alguns problemas no Odin Framework. O Menu responsivo não funciona quando aparece o botão toggle, e nenhum plugin de popup funciona com esse tema, já testei o Ninjja Popup e o Simple popup manager.

Preciso da ajuda de vocês.

Obrigado!

[2015-04-20 13:08] andersonsimproarte commented on #278
Também estou com o mesmo problema, e nenhum plugin de popup funciona corretamente.

[2015-04-20 13:28] leobaiano commented on #278
Vocês tem certeza que estão usando a versão atual do tema? Acabei de clonar o repositório para ver o erro e corrigir, mas acontece que aqui não tem erro nenhum no menu, vejam os prints.

![captura de tela 2015-04-20 as 10 24 28](https://cloud.githubusercontent.com/assets/957257/7230840/b6796708-e747-11e4-8e14-524806f75366.png)
![captura de tela 2015-04-20 as 10 24 50](https://cloud.githubuserconte

[2015-04-20 13:32] andersonsimproarte commented on #278
Obrigado Leo, Eu não criei tema filho não, mas não alterei nada na pasta core. Vou baixar novamente e testar.

O problema com o menu eu resolvi de outra forma, acabei instalando um outro menu. segue link. http://taticadigital.com.br

Meu problema agora é que não consigo fazer os plugins de popup funcionar.

[2015-04-20 13:46] andersonsimproarte commented on #278
Acabei de baixar o zip do tema e reinstalei em servidor local, o toggle continua sem funcionar aqui.
![image](https://cloud.githubusercontent.com/assets/8260050/7231207/6b2221fc-e74a-11e4-87c0-fbfb7dc92294.png)

[2015-04-20 13:53] leobaiano commented on #278
@andersonsimproarte vou fazer uns testes aqui para tentar reproduzir o erro, porque aqui pra mim o erro não ocorre.

[2015-04-20 13:54] andersonsimproarte commented on #278
@leobaiano, se você quiser, eu posso subir e você dá uma olhada, mas a minha instalação tá limpinha, não mudei nada e não funcionou o popup nem o menu, acredito que seja alguma coisa simples, mas eu não encontro de jeito nenhum.

[2015-04-20 14:14] rafaelfunchal commented on #278
Checaram ai se está dando 404 no `/assets/js/main.min.js` ?

[2015-04-20 14:32] andersonsimproarte commented on #278
Rafael, eu chequei aqui e não deu nenhum erro de 404, mas eu não tenho esse arquivo minificado, eu tenho /assets/js/main.js

[2015-04-20 14:34] leobaiano commented on #278
@rafaelfunchal acabou com o mistério! Essa versão está usando uma task no grunt para minificar e unir todo JS em um unico arquivo. Você precisa rodar essa task para gerar o JS ou coloca a linha abaixo no seu wp-config.php para chamar os arquivos em modo debug:

```define('SCRIPT_DEBUG', true);```

[2015-04-20 14:44] rafaelfunchal commented on #278
Isso mesmo @leobaiano :+1:

[2015-04-20 14:46] andersonsimproarte commented on #278
Galera, o menu funcionou direitinho, mas eu ainda estou com o problema nos plugins de popup.

[2015-04-20 14:48] rafaelfunchal commented on #278
@andersonsimproarte qual erro informado no console do inspetor?

[2015-04-20 14:54] andersonsimproarte commented on #278
@rafaelfunchal não apresenta nenhum erro, o popup não carrega no odin, quando eu troco de tema ele funciona certinho.

[2015-04-20 14:59] leobaiano commented on #278
Qual o nome do plugin @andersonsimproarte ?

[2015-04-20 15:00] andersonsimproarte commented on #278
Oi @leobaiano eu estou testando o Simple Popup manager e o Ninja Popup

[2015-04-20 15:04] rafaelfunchal commented on #278
Acabei de testar com o [Welcome Popup](https://wordpress.org/plugins/welcome-popup/) e funciona de boa.

Não tenho como testar com o Ninja Popup por que ele é Premium :P

[2015-04-20 15:04] leobaiano commented on #278
Vou testar o simple pop up aqui para ver se reproduzo o erro.

[2015-04-20 15:08] andersonsimproarte commented on #278
@rafaehlers funcionou de boa mesmo, eu queria o ninja poque é pra usar em uma lista do aweber, e ele tem outras funções legais rs.

Eu não sei se existe regra pra isso aqui, mas eu não vejo problema em compartilhar com quem está me ajudando, qualquer coisa eu tiro depois.

SEGUE LINK DO NINJA POPUP -> https://www.dropbox.com/s/stvukm5klnt3ura/ninja%20popup.zip?dl=0

[2015-04-20 15:09] leobaiano commented on #278
Simple pop up in action.

![captura de tela 2015-04-20 as 12 06 48](https://cloud.githubusercontent.com/assets/957257/7233121/cae894c6-e755-11e4-8b51-8d9c90ed599e.png)

Você disse que estava com uma instalação zerada, sem plugin e tal, correto? Tem certeza que o problema não são suas configurações ai no plugin? Tem um checkbox que coloca ele em modo debug e ignora cookie, habilita isso ai pra ver

[2015-04-20 15:10] leobaiano commented on #278
@andersonsimproarte eu acho que sua licença não permite distribuição do plugin, então você não poderia compartilhar com ninguém os arquivos.

[2015-04-20 15:15] claudiosmweb commented on #278
Para galera, erro ai só se for de JavaScript com algo que foi adicionado a mais.
Isso não é "Menu Responsivo do Odin", é menu "Responsivo do Bootstrap", se não sabe usar Bootstrap, é simples, basta aprender ou não usar.

[2015-04-20 15:15] #278 closed

[2015-04-20 15:18] claudiosmweb commented on #282
Tema é para desenvolvimento.
Qualquer plugin pode funcionar com ele e o menu é apenas Bootstrap, basta você verificar o CSS e JavaScript e alterar como você preferir.

Este plugin funciona bem: https://wordpress.org/plugins/ultimate-modal/

Agora se você esta testando plugin ruim, ai é outra história.

[2015-04-20 15:18] #282 closed

[2015-04-26 00:08] tofanelli commented on #100
galera...

pergunta de marinheiro de 1a viagem... acabei de descobrir o odin e venho trabalhando um bocado com bootstrap...

como anda esta parte aqui?

uma coisa que eu acho que seria interessante era a criacao de uma parte estilo um codepen ou jsfiddle ou algo assim dentro do wordpress... ae poderiamos fazer o codigo todo ali do bootstrap e depois so adicionar o shortcode relativo a este codigo

[2015-04-28 19:47] AlecBeltrami opened #283 "Showcase"
Abaixo o case desenvolvido com o Odin, Site encontrado no http://cssreel.com/.

http://www.redbullbrasil.com.br/

[2015-04-28 19:50] AlecBeltrami commented on #261
Abaixo o case desenvolvido com o Odin, Site encontrado no http://cssreel.com/.

http://www.redbullbrasil.com.br/

[2015-04-28 20:57] claudiosmweb commented on #261
@adammacias agora que o Red Bull do Brasil esta usando Odin, realmente vale apena ter um showcase, nem que estático na nossa página inicial mesmo.
Tem a moral de fazer?

[2015-04-30 14:33] allysonsouza commented on #281
@vinigarcia87 quanto as tabs, utilizei pouco esse recurso do Odin, mas acredito que elas sejam necessárias da forma que a classe está estruturada, mas você pode tentar dividir a sua página de opções com um elemento html, utilizando o campo html: https://github.com/wpbrasil/odin/wiki/Classe-Odin_Theme_Options#html

Quanto ao css é estilo, nada que vá fazer algo parar de funcionar (pelo menos não de

[2015-05-13 18:58] ThiagoRezende opened #284 "CTP não aparece na listagem de Post Types para adicionar ao menu"
Pessoal,
Não consigo trazer os posts types (link para archives) nos menus do WP, isso começou quando comecei a usar o ODIN, tentei via função no functions e também com plugins e nada.

Na listagem de de posts types na página Aparência > Menus do admin fica somente um loader e não carrega os posts types.

Alguem já teve este problema ou sabe a solução?

[2015-05-13 19:04] allysonsouza commented on #284
Nunca tive esse problema, sempre apareceram normalmente.
Seus CPT's são públicos? Tenta passar na criação o argumento "show_in_nav_menus" => true e veja se eles então aparecem.

(Pode tentar postar um print deste loader que disse que está carregando também, nunca vi isso)

[2015-05-13 19:38] ThiagoRezende commented on #284
@allysonsouza o problema era este mesmo, os CTP's estavam com "show_in_nav_menus" => false.
Não me atentei a isso, obrigado!

[2015-05-13 19:39] allysonsouza commented on #284
De nada! :+1:

[2015-05-13 19:39] #284 closed

[2015-05-19 10:19] matheusilario opened #287 "Arquivo contact_me.php não encontrado"
Bom dia, estou tentando utilizar a classe de formulário de contato mas o arquivo contact_me.php não consta no tema. Segui os passos da documentação. Alguém já passou por isso?

[2015-05-19 12:42] #287 closed

[2015-05-19 12:42] matheusilario commented on #287
Fiz a uma nova instalação do Wp e funcionou.

[2015-05-23 13:43] fdaciuk opened #289 "Adicionar colunas para metaboxes"
Foi enviada uma proposta em #203 para adicionar colunas em metaboxes. O PR foi fechado porque estava com conflito e por falta de interação. Se alguém se encarnar em fazer isso, acho que é uma funcionalidade legal para o projeto ;)

[2015-05-23 13:51] #253 closed

[2015-05-27 14:52] diogenesjup opened #290 "Problema com permalinks e custom post type"
Pessoal estou com um problema,
no odin eu criei um custom post type da seguinte maneira:

function odin_cursos_cpt() {
    $cursos = new Odin_Post_Type(
        'Cursos', // Nome (Singular) do Post Type.
        'cursos' // Slug do Post Type.
    );

    $cursos->set_labels(
        array(
            'menu_name' => __( 'Cursos', 'odin' )
        )
    );

    $cursos->set_arguments(
        array

[2015-05-27 14:56] rafaelfunchal commented on #290
Lembrou de salvar os Links Permanentes?

[2015-05-27 14:58] diogenesjup commented on #290
Claro, foi a primeira coisa que verifiquei
quando eu altero para Padrão funciona normalmente, porém não fica com uma URL amigável
dai altero para Nome do Post da 404, isso apenas no custom post type que criei,

[2015-05-27 15:08] leobaiano commented on #290
Isso não parece ser problema no Odin. Tem alguma página ou qualquer outra coisa com o mesmo slug do CPT que você acabou de criar? Lembrando que o CPT tem o singular e plural, então se seu slug do CPT for produto e existir uma página chamada produtos vai dar conflito e pode gerar esse erro 404.

[2015-05-27 15:16] diogenesjup commented on #290
@leobaiano eu tenho uma página com o slug "cursos-energias" isso pode ser a causa? por que como tem o "-energias" não deveria dar conflito com "cursos" de toda forma vou testar

[2015-05-27 15:26] diogenesjup commented on #290
Fiquei na esperança de ser isso, mais não deu certo.
registrei um novo com o slug "cursoteste" e mesmo assim continua dando 404

[2015-05-27 15:28] cirino commented on #290
Testa cteste, vai saber
Em 27/05/2015 12:26, "Diogenes Oliveira Junior" <notifications@github.com>
escreveu:

[2015-05-27 15:29] cirino commented on #290
Tenta fazer um cpt simples, só para testar. Ver se Ta gravando mesmo.
Em 27/05/2015 12:27, "Dagmar Cirino" <dagmar.mv@gmail.com> escreveu:

[2015-05-27 15:44] diogenesjup commented on #290
boa, resolvi o problema,
criei um simples chamado cteste e rolou,
mais meio estranho esse negócio de ter parte do nome de um outro slug e ai não rolar.

[2015-05-27 15:47] cirino commented on #290
Hehehehehe, minha ideia funcionou. Huhuhu. Então o problema é com seu bd.
Da uma olhada no MySQL, esse nome pode estar gravado nele, em uma chamada
Antiga.
Em 27/05/2015 12:44, "Diogenes Oliveira Junior" <notifications@github.com>
escreveu:

[2015-05-27 15:57] rafaelfunchal commented on #290
Até mesmo slugs de posts na lixeira podem gerar conflito.

Legal que encontrou o erro, @diogenesjup .

[2015-05-27 15:57] #290 closed

[2015-06-01 13:23] AdsonCicilioti commented on #22
2 anos se passaram e o Gustavo nada.. xD

Bom então vou ressuscitar o tópico pois o assunto é sério e rola até penalidade dos motores de busca, então vale a pena darmos mais atenção.
Nas Paginas de Arquivos e Categorias, o 1º H1 é título da pagina dentro de uma <section>, depois vem o loop com seus <articles> e seus respectivos H1's.

Não sou expert em SEO, mas por mais que existam formas válidas

[2015-06-01 13:43] AdsonCicilioti commented on #22
Vale ainda um adendo - um artigo sobre as formas corretas de utilizar multiplos H1's - http://webdesign.tutsplus.com/articles/the-truth-about-multiple-h1-tags-in-the-html5-era--webdesign-16824

[2015-06-01 14:27] deblynprado commented on #22
O Google não deveria punir a utilização de mais de 1 h1 a não ser que ele de fato esteja sendo utilizado de forma errada.

A especificação do HTML5 permite que tenhamos h1 dentro da Section, por exemplo. Inclusive o validador reclama se você colocar uma section sem algum **h** dentro

http://www.w3.org/TR/html5/sections.html#the-h1,-h2,-h3,-h4,-h5,-and-h6-elements

[2015-06-01 15:22] zergiocosta opened #291 "thumb resizer e plupload"
Seguinte, galerë...  Estou utilizando o Odin pela primeira vez em um site e, obviamente, algumas dúvidas aparecem. Enfim...

A dúvida é a seguinte: Dentre outros, estou utilizando dois módulos, em especial, para este caso específico.
Subindo várias imagens pelo campo `plupload`. Só que, obviamente, as imagens vem em tamanhos diferentes.
Vi que no `resizer` do odin, eh utilizado o `aqua resizer`...

[2015-06-01 15:39] leobaiano commented on #291
@zergiocosta uma das vantagens de usar o `aqua resizer` ao invés do WP é que ele faz o crop na hora que a imagem é chamada e não na hora do upload como o WordPress faz. Sendo assim basta chamar ele que as imagens que já foram upadas serão cropadas no tamanho definido na chamada da função do Odin.

A documentação completa você pode ver aqui: [Redimensionando imagens](https://github.com/wpbrasil/odi

[2015-06-01 15:47] AdsonCicilioti commented on #22
Entendi @deblynprado - Mas então, como eu disse não sou expert em SEO, e essa história de punição me deixou grilado em arriscar. Mas no caso das páginas que citei, elas estão estruturadas de forma correta?
Em síntese a estrutura está assim:
[code]

[2015-06-01 16:06] zergiocosta commented on #291
Isso, eu To ligado. Mas isso ai é relativo às post thumbnails. O que eu quero saber, é sobre as imagens que são subidas pelo campo "plupload", que é aquele campo de múltiplo upload de imagens, do odin...

[2015-06-01 17:18] deblynprado commented on #22
A estrutura a respeito do `h1` está correta sim @AdsonCicilioti, uma outra possibilidade seria utilizar

[code]

o que pode ser repensado aí é a utilização da `<section>` do lado de fora

http://www.w3.org/TR/html5/sections.html#the-article-element

[2015-06-01 18:05] leobaiano commented on #291
Verdade @zergiocosta. Acho que você pode usar o método `odin_get_image_url();` dessa mesma classe.

Não está na wiki, mas é simples e está comentado dentro da classe.

`
/**
 * Get a image URL.
 *
 * @param  int     $id      Image ID.
 * @param  int     $width   Image width.
 * @param  int     $height  Image height.
 * @param  boolean $crop    Image crop.
 * @param  boolean $upscale Force the resi

[2015-06-01 18:21] zergiocosta commented on #291
hum... acho que funciona perfeitamente! o `foreach` do `image_plupload` já traz as IDs das imagens. Só passar o ID, junto com os outros parâmetros necessários, dentro desse método `odin_get_image_url()` e acho que está tudo certo! Valeu, @leobaiano !

[2015-06-01 18:51] leobaiano commented on #291
Depois de testar volta aqui pra dar um feeback e fecha a issue na moral.

[2015-06-01 18:52] zergiocosta commented on #291
sim, claro! assim que testar, volto aqui pra fazer isso! só esqueci de deixar isso claro, no último comment xD

[2015-06-01 20:46] guicamarotto opened #292 "Ajuda com Odin"
Olá pessoal! Boa tarde. Encontrei o Odin esses dias navegando pela net e queria entender mais como funciona, o que ele faz etc. tem algum tutorial, video aula, primeiros passos? Eu faço sites em wordpress mas tudo com tema pronto e plugins prontos, mas queria algo mais high level hehe

valeu!

[2015-06-01 20:55] allysonsouza commented on #292
Olá @guicamarotto,

O Odin é um framework, um tema base que foi criado pela comunidade após o pessoal discutir e ver que ao desenvolver um tema nos projetos muita coisa era "refação", "snippet", "copy/paste".

Ele é um framework de WordPress, então, o que ele vai te oferecer? Funções e Classes para criação de Custom Post Types, criação de Taxonomies, criação de Meta Boxes, geração de Breadcrumbs,

[2015-06-01 21:01] guicamarotto commented on #292
show cara muito obrigado!

Em 1 de junho de 2015 17:55, Allyson Alves de Souza <
notifications@github.com> escreveu:

[2015-06-01 21:02] allysonsouza commented on #292
De nada, precisando estamos ai!

[2015-06-01 21:02] #292 closed

[2015-06-02 17:32] claudiosmweb commented on #22
@AdsonCicilioti você disse que não é especialista em SEO, mas fez varias acusações e especulações.

Como que isso que você "fica" com a "facilidade e velocidade", principalmente "velocidade"? xD
Como você pode afirmar que algo é mais rápido ou não? Você mesmo falou que não é expert... Ou como você fala de "facilidade" sem saber como acontece?

Alias, antes de começar a especular e acusar sobre alg

[2015-06-02 17:32] claudiosmweb commented on #179
Teste e me diga se funciona.

[2015-06-02 17:32] #179 closed

[2015-06-02 20:00] zergiocosta commented on #291
acabei de testar e funcionou perfeitamente, @leobaiano !

ficou assim:

[code]

valeu =D

[2015-06-02 20:00] #291 closed

[2015-06-02 21:05] claudiosmweb commented on #281
Sim é obrigatório indicar uma tab, já que ele esta preparado para dividir o conteúdo em várias abas.
JS e CSS são principalmente para os campos de upload, se quer usar em outro lugar já é custom code e custom code não tem suporte aqui!

[2015-06-02 21:05] #281 closed

[2015-06-02 21:06] claudiosmweb commented on #283
Divulguei no Facebook, vamos ver de incluir no showcase quando ficar pronto.
Obrigado.

[2015-06-02 21:06] #283 closed

[2015-06-02 21:06] claudiosmweb commented on #280
Ainda não temos suporte para isso, o @fdaciuk e eu vamos adicionar em alguma versão futura.

[2015-06-02 21:06] #280 closed

[2015-06-02 21:07] claudiosmweb commented on #273
Resolvido em #277

[2015-06-02 21:07] #273 closed

[2015-06-02 21:08] #269 closed

[2015-06-02 21:10] claudiosmweb commented on #262
Fechado em favor de #266

[2015-06-02 21:10] #262 closed

[2015-06-02 21:11] claudiosmweb commented on #206
Não.

[2015-06-02 21:11] #206 closed

[2015-06-02 21:11] claudiosmweb commented on #206
Na verdade já da, só salvar como custom field mesmo xD

[2015-06-02 21:13] claudiosmweb commented on #195
Sem bootstrap é melhor não usar essa classe, ela só esta ai para suportar o Bootstrap.

[2015-06-02 21:13] #195 closed

[2015-06-02 21:13] claudiosmweb commented on #183
Talvez no futuro, tenho alguns planos para melhorar essas classes e assim deixar mais simples de usar utilizado, mas não vejo isso acontecendo agora e talvez deva ser movido o projeto para outro repo.

[2015-06-02 21:13] #183 closed

[2015-06-02 21:15] jonasrafael commented on #179
Esqueci de responder... Eu testei e não funcionou. Tive que usar o contact form mesmo.

[2015-06-13 16:53] cirino commented on #290
Olá,

Gostaria que você fizesse parte da minha rede do LinkedIn para compartilhar atualizações e manter contato.

- Dagmar

Confirme que você conhece Dagmar: https://www.linkedin.com/e/v2?e=4cazec-iava82gt-4h&amp;a=preRegInvite&amp;tracking=eml-guest-invite-cta&amp;ek=invite_guest&amp;sharedKey=r_7I-Rjq&amp;invitationID=6015531189203410944

Você recebeu um convite de conexão. O LinkedIn utiliza se

[2015-06-13 18:51] rafaelfunchal commented on #290
Não!

[2015-06-18 01:08] fnovais opened #293 "Odin + Woocommerce"
Estou utilizando o Odin Framework junto com Woocommerce. O padrão do Woocommerce é que os produtos sejam exibidos na página de posts recentes (arquivo). Nesta página, não consigo exibir a sidebar. Se eu troco para um outro tema (forefront, por exemplo), a sidebar aparece instantâneamente. Procurei em tudo que é canto da internet, mas não encontro nada a respeito.

[2015-06-18 04:40] claudiosmweb commented on #293
Só trocar o template da página...
Tem um template deles com sidebar.
Só olhar o que esta fazendo e tudo vai dar certo!

Edite a página e olhe os atributos de pagina, lá tem a opção do template.

[2015-06-18 04:40] #293 closed

[2015-06-19 20:51] ThiagoRezende opened #294 "Chamar função JS na página de cadastro de post de um CPT"
Pessoal, preciso inserir uma função ao cadastrar um post de um CTP, por exemplo um alert no momento em que o administrator publique um post, algo assim:

jQuery('seletor_do_form').on('submit', function(){});

A questão é, alguem sabe me dizer como chamo essa função no momento que irei cadastrar o post, no caso seria no "post-new.php?post_type=slugdoCTP", sendo a função específica para um determina

[2015-06-19 20:52] claudiosmweb commented on #294
Como você faria isso se não estivesse usando o Odin?

[2015-06-19 20:55] rafaelfunchal commented on #294
Mas dá pra carregar scripts no Admin do WordPress sem usar o Odin, @claudiosmweb ?

[2015-06-19 20:58] ThiagoRezende commented on #294
@claudiosmweb Na verdade meu conhecimento em PHP é intermediário, pesquisei na web e não encontrei algo que resolva..

[2015-06-19 20:59] claudiosmweb commented on #294
@ThiagoRezende e porque perguntando aqui então?
Melhor seria um grupo sobre WordPress do que aqui.
Se fosse pergunta que envolve exclusivamente este tema aqui, ai beleza.

[2015-06-19 20:59] #294 closed

[2015-06-19 21:00] ThiagoRezende commented on #294
OK. pode fechar. Obrigado.

[2015-06-20 12:42] fnovais opened #295 "Sidebar em site Odin + Woocommerce"
Olá.
Estou construindo um site com Odin + Woocommerce, porém, a sidebar de categorias não aparece na página de produtos, mesmo que eu altere o tipo de template no Admin. Quando troco para outro tema, como o Storefront, por exemplo, a sidebar aparece normalmente. Não consigo encontrar solução.
Caso queira testar, a URL é
http://pilhadecoisashomologacao.com.br/
e tem um usuário para testar:
User: te

[2015-06-20 13:47] claudiosmweb commented on #295
Tente remover esta linha de código https://github.com/wpbrasil/odin/blob/master/inc/woocommerce/hooks.php#L30

Agora que estou vendo que o @adammacias colocou ela.
@adammacias alguma razão para isso ?

[2015-06-20 13:59] fnovais commented on #295
Agora a sidebar apareceu, mas ela fica abaixo de todo o conteúdo, pois a #primary está pegando col-md-12 do bootstrap, e como fica com 100%, joga a sidebar para baixo. Tenho de ajustar isto no meu CSS, ou o ajuste é no template?

[2015-06-20 14:02] adammacias commented on #295
Wow, eu estava nesse arquivo agora @claudiosmweb haha.
Coloquei para deixar mais fácil pro pessoal remover, mas acabei esquecendo de deixar comentado, vou consertar isso agora. Valeu pelo toque. :+1:

@fnovais seleciona o modela do página com sidebar (with sidebar) que deve corrigir.

[2015-06-20 14:02] #295 closed

[2015-06-20 14:05] adammacias opened #296 "Melhorar disposição de hooks WooCommerce"
Tirar obrigatoriedade do hook de remover sidebar conforme relatado #295

[2015-06-20 14:09] fnovais commented on #295
@claudiosmweb  e @adammacias. Obrigado pela ajuda, mas o problema ainda não foi solucionado. A sidebar continua aparecendo abaixo dos produtos. Atualizei na URL que passei acima, e mesmo com o modelo "with sidebar" habilitado, não houve alteração.

[2015-06-20 14:22] adammacias commented on #295
@fnovais Experimenta trocar a função `odin_classes_page_full()` por `odin_classes_page_sidebar_aside()` na linha https://github.com/wpbrasil/odin/blob/master/inc/woocommerce/functions.php#L17

[2015-06-20 14:34] fnovais commented on #295
@adammacias, ainda não deu certo. Agora, ambas, sidebar e primary ficaram com 4 colunas cada.

[2015-06-20 14:40] adammacias commented on #295
Eu havia colocado `odin_classes_page_sidebar_aside()`e em seguida editei para `odin_classes_page_sidebar()`você chegou a colocar qual dessar? :laughing:

[2015-06-20 14:46] fnovais commented on #295
@adammacias, com a classe odin_classes_page_sidebar() funcionou. Tenho 2 dúvidas, se você puder responder, e se estiverem no escopo desta thread. Com esta alteração, o grid ficou com 4 cols para sidebar e 8 cols para a primary. Existe alguma maneira já prevista de eu alterar para um grid e 3 e 9 cols?

A outra dúivda é: o que exatamente eu não posso editar no framework? Criei um tema filho para ev

[2015-06-20 15:01] adammacias commented on #295
Sim, são essas função responsáveis pelo tamanho da coluna principal e a lateral [template-tags.php#L23-L49](https://github.com/wpbrasil/odin/blob/master/inc/template-tags.php#L23-L49)

Poder editar, pode tudo rs, mas não recomendo mexer em qualquer coisa que estiver no diretório **core**, pois as mudanças mais significativas são feitas aí. De resto, foi feito para você editar conforme gosto do cli

[2015-06-20 15:18] fnovais commented on #295
Sensacional. Muito obrigado pela ajuda @adammacias e @claudiosmweb.

[2015-06-25 02:22] #296 closed

[2015-06-29 19:22] ivanildodias commented on #100
Acho interessante alterar a parte que forma os widgets padrão do Wordpress para as formações padrão do Bootstrap.

Por exemplo:
Se colocarmos `class="nav"` no elemento `<ul>` da lista de categorias ele já fica com um visual bem mais "bootstrap".
No caso da lista de comentários, poderia ser `class="list-group"` no elemento `<ul>` e `class="list-group-item"` nos elemento `<li>` para ficar com a apar

[2015-06-30 11:08] joao-parana commented on #100
oi @ivanildodias achei a ideia muito boa. Minha dúvida é como fazer isso no código do Wordpress de forma robusta, ou seja, o que acontece com os arquivos alterados quando você atualiza a versão do Worpress ? você teria de aplicar as alterações na nova versão, certo ?

Desculpe se não entendi a abordagem, talvez eu tenha perdido algo na sua explicação.

Abs.

[2015-06-30 13:41] ivanildodias commented on #100
@joao-parana, nesse meu exemplo eu fiz assim:

1. Criei um novo arquivo chamado `default-widgets.php`;
2. Copiei o código das classes padrão para ele;
3. Fiz as alterações, mas mantive o mesmo `classname` que é passado na função `__construct()` das classes padrão;
4. Usei a função `register_widget();` para registrá-las.

Assim, não alterei nada padrão do WordPress (mantendo a possibilidade de atua

[2015-06-30 14:30] joao-parana commented on #100
oi ,

o código que você copiou foi de wp-includes/default-widgets.php, certo ?

Meu questionamento é sobre a seguinte situação.

Imagine que o pessoal do Wordpress numa futura atualização de versão, digamos, da 4.2.2 para 4.2.3,  altere o código do construtor ou outra parte do código em wp-includes/default-widgets.php que afete radicalmente o comportamento. Neste caso teremos de fazer um **diff**

[2015-06-30 16:25] ivanildodias commented on #100
@joao-parana... Como eu falei.. Não sei se essa é a melhor forma de fazer isso. Por isso lancei a ideia aqui para os nossos amigos experts do WPBrasil indicarem um caminho melhor.

Mas, a respeito de atualizações, acho que não teria problemas pois funcionaria como um widget personalizado que é chamado em vez do widget padrão, já que usa o mesmo `classname`. Só teria problema se o pessoal do WordPr

[2015-07-01 17:04] #268 closed

[2015-07-01 17:19] adammacias commented on #237
Documentação atualizada [Redimensionando a imagem destacada (thumbnail)](https://github.com/wpbrasil/odin/wiki/Redimensionando-a-imagem-destacada-(thumbnail))

[2015-07-01 17:19] #237 closed

[2015-07-01 22:21] #289 closed

[2015-07-02 22:36] adammacias commented on #208
@jonasrafael testei aqui e aparentemente o destino do link das categorias estão tudo funcionando.

**assim:**

 `/?product_cat=simple`.

Talvez o WooCommerce já deve ter corrigido o problema que você citou, por isso vou fechar a issue, caso ainda tenha esse problema, comente ;)

[2015-07-02 22:39] adammacias commented on #261
@claudiosmweb foi mal, esqueci de te avisar, fiz o [showcase do Odin](https://github.com/wpbrasil/odin-expo/pull/2), acho que já podemos essa issue.

[2015-07-02 22:52] adammacias commented on #236
Concordo com o pensamento em relação ao "Pluggable Functions", até porque, dá o mesmo trabalho fazer:

`<div id="sidebar" class="<?php echo odin_classes_page_sidebar_aside( $cols = 4 ); ?>">`

ou isso:

`<div id="sidebar" class="<?php echo odin_classes_page_sidebar_aside(); ?> col-md-4">`

Acho que podemos fechar essa.

[2015-07-04 00:32] matheusgimenez opened #301 "Customize API e opções do Odin"
Só trazendo um assunto um pouco chato pra cá, não sei se todos viram:

http://wptavern.com/wordpress-org-now-requires-theme-authors-to-use-the-customizer-to-build-theme-options

Tradução e resumo de uma linha: agora os temas do repo do WP precisam estar usando a customize API e não a settings API (usada pelo Odin).

Pensei que talvez fosse interessante fazermos algo pra tentarmos adaptar. Duas sol

[2015-07-07 01:36] #261 closed

[2015-07-07 16:01] allysonsouza opened #302 "Theme options editor field"
Olá pessoal, não sou muito conhecedor da Settings API, então vim perguntar. Simplesmente criei uma página de opções do tema, com um campo "editor", como descrito na wiki. Porém na exibição do campo ele desconsidera todo o HTML inserido no editor. É preciso algum passo além do que está lá descrito para a exibição de campos do editor com o HTML?

[2015-07-07 16:44] AdsonCicilioti commented on #302
Sim @allysonsouza , por padrão o WP não mantém as tags HTML no Editor. Eu também tive essa experiência duas soluções:
1) Usar um campo textarea.
ou
2) Usar um pequeno snippet para habilitar manter as tags, segue:

[code]
coloquei no final do arquivo functions aqui e funcionou de boa

[2015-07-07 17:35] AdsonCicilioti commented on #302
Ah, esqueci de perguntar:
Ele está retornando pelo menos texto simples?

Não sei se entendi bem. xD

[2015-07-07 19:00] AdsonCicilioti opened #303 "Validação HTML5 no comment_form"
Olá prezados!

Estou a tentar habilitar a validação html5 no formulário de comentário, e até agora só consegui deixar os campos prontos para receber a validação, faltando a retirada do atributo `novalidate` do `<form>`. Segue a modificação que fiz no arquivo comments.php do tema:
[code]

Atualmente estou removendo usando jQuery, mas não quero depender de js pra isso.
Acho que ficaria mais limpo um

[2015-07-07 19:09] AdsonCicilioti commented on #303
Putz.. Agora vi que já tinha uma issue nesse sentido - #8 .

Mas minha proposta seria para deixar o padrão mais atual e no padrão HTML5, uma vez que esta é uma das premissas do projeto.

Apesar de ser um interesse próprio penso que é uma boa. Deixo a bola com vocês e peço desculpas por meio que ter duplicado a issue.

Abçs!

[2015-07-07 20:29] DaviMenezes opened #304 "O arquivo /assets/js/main.min.js Não existe. Na pasta contém o main.js"
Está causando erro no carregamento do arquivo. Se alguém puder colocar o arquivo que falta... eu pagaria uma cerveja

[2015-07-07 20:32] rafaelfunchal commented on #304
Está usando o que para compilar seus JavaScripts?

Dê uma olhada nesse IF que entenderá o que está sendo feito:
https://github.com/wpbrasil/odin/blob/master/functions.php#L222-L235

[2015-07-07 20:42] allysonsouza commented on #302
Olá @AdsonCicilioti , valeu pela resposta. Sim, o conteúdo esta sendo retornado. Acabei resolvendo da seguinte forma, exibindo meu conteúdo com a função wpautop() https://codex.wordpress.org/Function_Reference/wpautop

Mas valeu :+1:

[2015-07-07 20:42] #302 closed

[2015-07-07 21:12] AdsonCicilioti commented on #302
Sim. a option `'wpautop' => false` habilita a exibição das tags padrões do editor.
O Snippet que passei acima habilita todas as tags html.

É Nózes! (;))

[2015-07-08 04:27] adammacias opened #305 "Atualizar funções `odin_before_content` e `odin_after_content`"
Alterar funções `odin_before_content` e `odin_after_content` em [inc/woocommerce/functions.php](https://github.com/wpbrasil/odin/blob/master/inc/woocommerce/functions.php#L8-L36) de acordo com a [nova estrutura](https://github.com/adammacias/odin/commit/cb95f8a87ecf113511bad7cd13a3279c4103e08c).

ref https://github.com/wpbrasil/odin/pull/298#issuecomment-119363776

[2015-07-08 04:35] adammacias commented on #304
@rafaelfunchal + @wpbrasil/developers o que você acham mantermos o `main.min.js` no Odin, ele não está sendo enviado por causa do [.gitignore](https://github.com/wpbrasil/odin/blob/master/.gitignore#L36). Afinal de contas, não é todos que vão saber aproveitar o ótimo recurso dos automatizadores de tarefas. xD

[2015-07-08 05:16] AdsonCicilioti commented on #208
Comigo ocorre o mesmo que o @jonasrafael , usando o odin_breadcrumbs. Testei com o woocommerce_breadcrumb e a trilha ficou perfeita, exceto pela marcação html.

Vale deixar uma analise de como as duas funções se comportam.
1) Com **odin_breadcrumbs()** :
`Home / Produtos / variable / Nome do Produto` onde:
- `Home` cumpre seu papel
- `Produtos` é o nome do Post Type de itens do WooCommerce (ideal

[2015-07-08 14:33] AdsonCicilioti commented on #208
Será que vale a pena tentar arrumar isso @adammacias ?

[2015-07-08 18:48] rafaelfunchal commented on #304
@adammacias, uma das funcionalidades do Odin é já vir com as tasks já configuradas e, além disso, tem até página na nossa Wiki explicando como usar:

https://github.com/wpbrasil/odin/wiki/Usando-o-GruntJS

É só dar uma lida :-)

[2015-07-08 21:46] adammacias commented on #304
Sim @rafaelfunchal , esta muito bem explicado, as tasks estão tambem super simples de entender e tals :) Mas ainda continuo achando que não vai ser todos que vão conseguir instalar e configurar as coisas para usar o Grunt. :flushed:

Se compararmos isso com o CSS "vanilla", é quase o mesmo esquema,  o [css/style.css](https://github.com/wpbrasil/odin/blob/master/assets/css/style.css) vem compilado

[2015-07-08 21:51] adammacias commented on #208
Entendi @AdsonCicilioti , eu havia entendido que era a função `woocommerce_breadcrumb()` que estivesse dando problema, nem cheguei a testar o `odin_breadcrumbs()`.

Vou reabrir o tópico e ver no que o pessoal pode ajudar. @wpbrasil/developers

[2015-07-09 01:16] fdaciuk commented on #304
Já que tem as libs incluídas, acho que faz sentido manter o JS minificado também, pra quem quiser usar o Odin "como está".

[2015-07-09 10:42] vitorbritto commented on #304
Geralmente, os arquivos compilados e prontos para o ambiente de produção são colocados em uma pasta/diretório de nome `dist` para fins de organização e facilidade no uso/acesso.

Devo admitir que estou afastado do projeto há algum tempo, mas caso seja necessário, posso criar um scaffolding em Shell Script, NodeJS ou até mesmo um generator com o Yeoman. :neckbeard:

[2015-07-09 11:29] AdsonCicilioti commented on #304
Concordo com @fdaciuk . Eu mesmo quando fui testar o Odin pela primeira vez estranhei a falta do Js. Só daí parti para a checagem do Gruntfile.

[2015-07-09 11:33] AdsonCicilioti commented on #208
Acho que to conseguindo arrumar aqui. Assim que pronto já posso mandar um PR @adammacias ? Como posso proceder?

[2015-07-09 12:36] joao-parana opened #306 "Implementar Continuous Delivery no Odin usando Docker"
Minha sugestão é implementar  **Continuous Delivery** no projeto Odin usando Docker.

O pessoal do [Roots](https://roots.io)  criou o [Trellis](https://roots.io/trellis/) para automatizar a construção e implantação de sites WordPress usando o _Ansible_ e o _Vagrant_.

Minha proposta é fazer algo mais leve usando o **Docker** e seu Ecosistema.

Esta issue serve ao proposito de discussão sobre esta

[2015-07-12 23:30] matheusgimenez opened #311 "Classe de metabox para tela de edição de termos de uma taxonomia"
Galera, tô afim de implementar uma classe de metabox para categorias usando como base a classe de metabox mesmo.

Gostaria de saber a opinião de vcs, antes de sair soltando pull request sem avisar, hehe.

[2015-07-12 23:55] AdsonCicilioti commented on #311
Pra adicionar fields nas telas de criação de categorias?

[2015-07-13 00:19] matheusgimenez commented on #311
Sim, na tela de criação/edição de taxonomias (corrigi o titulo agora). Algo como o ACF faz.

[2015-07-13 16:25] AdsonCicilioti opened #312 "odin_post_related - O que fazer com posts sem thumbnail?"
Olá pessoal!

Estou a aplicar a função  odin_post_related() e percebi que em posts sem miniatura ele mantém o `<span class="thumb"><a ...` gerando esse visual quebrado:

![shot-post-relat](https://cloud.githubusercontent.com/assets/6278398/8654619/e505bd72-2961-11e5-824b-c5a5e3f21b36.JPG)

Vou fazer um ajuste na função aqui em meu projeto pessoal e também gostaria de propor um PR, porém gostaria d

[2015-07-13 21:45] #312 closed

[2015-07-13 22:31] #305 closed

[2015-07-14 03:13] adammacias commented on #303
@AdsonCicilioti acho que devemos tirar esse atributo **novalidate** e adicionar nos campos, `type` HTML5, e `required` nos obrigatórios.

[2015-07-14 03:15] adammacias commented on #303
@fdaciuk será que conseguimos fazer [aquela validação que vi no seu blog](http://blog.da2k.com.br/2015/02/16/acabando-com-spam-nos-seus-formularios/) aí? Seria bem útil! :dancers:

[2015-07-14 13:55] AdsonCicilioti commented on #303
Então, @adammacias, já deixei os campos obrigatórios com os atributos required através da variável `$html_req`.
Também coloquei a variável `$html5` que determina se o campo de email será type="text" ou `type="email"`, com base no suporte html5 que está habilitado no arquivo **functions.php** (linha 148).
Ambas variáveis são padrões WP.

A única coisa que está impedindo a validação html5 de funcion

[2015-07-14 15:12] ivanildodias commented on #303
Olá galera...
Pelo que entendo, *confesso que não é muito* :sweat_smile:, mesmo com esse `novalidate` aí no `<form>` o WordPress não deixa a mensagem ser enviada se os campos de Nome, Email e Comentário não estiverem preenchidos.

O `novalidate` só atrapalha a validação automática na hora que o usuário está preenchendo o formulário.

Seria esse o seu problema @AdsonCicilioti?
Usando o regexp no at

[2015-07-14 15:40] AdsonCicilioti commented on #303
Sim, @ivanildodias , o WP impede mas carrega aquela tela cinza da morte. Minha intenção é evitar o load desta tela através da validação html5, que é simples, mas por uma questão de usabilidade é bem mais amigável.

[2015-07-14 15:47] ivanildodias commented on #303
Sem usar JQuery não tem jeito mesmo.
Não tem nem como fazer um `str_replace()` nem nada assim porque essa parte do elemento `<form>` nem php é.
Complicado. :pensive:

[2015-07-14 15:49] ivanildodias commented on #303
Se usarmos essas actions `do_action( 'comment_form_must_log_in_after' );` e `do_action( 'comment_form_top' );` para definir a variável `$html5` como `false` e depois para `true`.
Seria uma opção?

[2015-07-14 15:50] ivanildodias commented on #303
Essas actions ficam exatamente acima e logo abaixo do elemento `<form>`.

[2015-07-14 15:56] fdaciuk commented on #303
Isso é bem simples de fazer.. [olhando na documentação](https://core.trac.wordpress.org/browser/tags/4.2.2/src/wp-includes/comment-template.php#L2277), vc tem um parâmetro `format`, que pode passar nos argumentos como `html5`. Quando você faz isso, ele adiciona o `novalidate` no form e faz a validação com `html5` ;)

[2015-07-14 16:42] AdsonCicilioti commented on #303
Eu vi isso @fdaciuk , mas não, ele não faz a validação html5, passando direto para validação tela cinza da morte do WP. Deveria ser o contrário, mas parece que eles passam o `novalidate` justamente para não haver essa camada de validação html5, tipo pra não atrapalhar validação de (plugins) terceiros.. sei lá..  Só Acho que deveria haver de tirar esse `novalidate` sem js, e não sei como :cry:

[2015-07-14 17:01] ivanildodias commented on #303
A minha solução das actions não é viável?

[2015-07-14 17:20] AdsonCicilioti commented on #303
Sim @ivanildodias acho que é o caminho. Acredito que só a `do_action( 'comment_form_top' );` já dê conta do recado. Olha o [Comentário do arquivo comment-template.php](https://core.trac.wordpress.org/browser/tags/4.2.2/src/wp-includes/comment-template.php#L2280).

Poderia mandar um exemplo de sua proposta?

[2015-07-14 17:31] adammacias commented on #303
Se o WordPress adiciona isso por padrão, eu acho melhor não modificar. Apenas a validação **HTML5** dos types esta bom, deixa o `novalidate` aí rs...Como você disse @AdsonCicilioti pode influenciar em plugins. :neutral_face:

[2015-07-14 17:40] ivanildodias commented on #303
@AdsonCicilioti tem que ser as duas actions mesmo. Uma para mudar o valor da variável `$html5` para `false` antes da tag `<form>` e a outra para retornar ao padrão logo depois da tag.

Estou tentando aqui mas não estou conseguindo uma forma de alterar essa variável através das actions. :confused:

[2015-07-14 18:28] AdsonCicilioti commented on #303
Claro @adammacias . Minha proposta é ativar a validação HTML5 sem mudar o padrão do core mas dando essa opção para quem não for usar plugins. dividamente Documentada na Wiki e no código.

Bom ainda gostaria de manter a issue aberta pois ainda estarei em busca de uma forma válida de fazer essa função.

[2015-07-14 20:39] ivanildodias commented on #303
Galera... Consegui fazendo assim:
[code]

[2015-07-14 21:02] fdaciuk commented on #306
Acho massa a ideia @joao-parana! Já tem alguma base para essa implementação? Nâo sei se seria o ideal estar dentro do Odin, mas talvez um projeto à parte, funcionando como um service.

[2015-07-14 21:29] joao-parana commented on #306
Sim @fdaciuk, já fiz umas provas de conceito e pretendo amadurecer um pouco mais. Seria importante saber dos colaboradores do projeto Odin quais os principais problemas enfrentados neste gerenciamento de ciclo de vida de projeto Wordpress, para que possamos desenhar uma solução eficiente e segura. Por exemplo a min incomoda o fato da configuração estar no arquivo `wp-config.php` na raiz do site. S

[2015-07-15 01:20] fdaciuk commented on #306
Na real, o `wp-config.php` não tem a ver diretamente com o tema. Ele faz parte da instalação do WP. E você pode colocá-lo até um nível antes da instalação do WP, que ele vai ser encontrado norlmalmente. Imagine que seu diretório público está em `/var/www/public_html`. O `wp-config.php` pode ficar em `/var/www` que o WP encontra ele, e mantém ele seguro, longe do diretório público.

Mas o que eu ac

[2015-07-15 02:08] adammacias commented on #306
Sou leigo nesse assunto, Docker, mas o [wp-cli](http://wp-cli.org/) já não faz essas coisas?

[2015-07-15 02:11] fdaciuk commented on #306
Não exatamente @adammacias.. o Docker cria um ambiente virtual (mais ou menos como o vagrant, mas mais rápido e mais integrado com o sistema).

O wp-cli pode inclusive estar dentro de um container Docker ;)

[2015-07-15 02:20] #304 closed

[2015-07-15 11:15] #208 closed

[2015-07-15 11:16] #236 closed

[2015-07-15 16:08] joao-parana commented on #306
oi  @fdaciuk eu concordo contigo em genro número e grau nesta questão do `wp-config.php`  não ter a ver com o tema. Mas lembre-se que o contêiner Docker deve facilitar o deploy do Wordpress para prover a melhoria na produtividade, então desejariamos passar as configurações no momento de colocar o contêiner para rodar como você citou. Por isso citei o problema do `wp-config.php`. A propósito gostar

[2015-07-15 20:26] fdaciuk commented on #306
Massa @joao-parana! Sobre o wp-config.php, é só colocar ele um nível antes da instalação do WP que ele reconhece, não precisa configurar nada ;)

[2015-07-15 22:46] matheusgimenez commented on #311
Gostaria de ter um OK (ou pelo menos um não) até o fds para poder fazer a tal classe.

Abraços.

[2015-07-15 22:58] allysonsouza commented on #311
O chato:"Tela edição de termos de uma taxonomia"

Eu acho que seria interessante, já em alguns projetos instalei ACF apenas para adicionar um único campo adicional na criação de termos de uma taxonomia.

[2015-07-16 00:19] matheusgimenez commented on #311
@allysonsouza Sim, já passei muito por isso.

Só não entendi a primeira parte da sua mensagem :(

[2015-07-16 00:23] allysonsouza commented on #311
É porquê se for pegar ao pé da letra não existe página de edição de taxonomia, a taxonomia tá criada, o que editamos são apenas termos :P

[2015-07-16 00:25] matheusgimenez commented on #311
Ahh sim, hehe. Nem atentei muito a isso.. vou trocar o titulo, sorry hehe

[2015-07-17 11:59] joao-parana commented on #306
oi @fdaciuk, estou procurando uma solução mas abrangente para este problema da localização do `wp-config.php`, algo que funcione também no serviço de Hospedagem onde dentro do diretório home aparece a lista de todos os sites hospedados e neste caso mover um diretório para cima não funcionaria pois afetaria outros sites existentes. [Neste post](https://www.ostraining.com/blog/wordpress/wordpress-co

[2015-07-17 21:48] AdsonCicilioti opened #317 "Erro upload de arquivo Odin Contact Form"
Olá pessoal!

Copiei o código de exemplo na documentação da Class Contact Form, e a única modificação foi mudar a opção `required` do field para `false`, para que não seja obrigatório o envio de arquivos em meu form, mas mesmo assim é retornado o alert `Arquivo No file was uploaded..`
![shot-er-file](https://cloud.githubusercontent.com/assets/6278398/8757822/203c9be0-2cb4-11e5-871b-8b96c50d14bf.JP

[2015-07-17 23:13] LuwkasLima commented on #311
Manda bala @matheusgimenez!

[2015-07-18 01:07] fdaciuk commented on #306
Nesse caso, acho que o mais simples seria poder passar o caminho do wp-config.php na hora de rodar o Docker. O que acha? Deixa por default no diretório da instalação do WP, e deixa a opção de passar o caminho ;)

[2015-07-21 00:04] joaovsilva commented on #182
@leobaiano Qual a situação da issue? Já foi resolvido?

[2015-07-21 00:12] leobaiano commented on #182
Até onde sei a issue está parada. Comecei a editar a documentação, mas não está completa ainda, se tiver com tempo pode focar isso @joaovsilva

[2015-07-23 18:08] adammacias opened #320 "Documentação para class-term-meta"
ref #318

[2015-07-23 18:08] adammacias commented on #320
@matheusgimenez tem a moral fazer essa para nossa [wiki](https://github.com/wpbrasil/odin/wiki) já que tu que [adicionou Metabox para tela de edição de terms](https://github.com/wpbrasil/odin/pull/318)?   :smiley:

[2015-07-23 18:15] matheusgimenez commented on #320
Eu pretendo fazer.. só tô esperando vagar um tempo aqui que eu tiver com animo de fazer. Provavelmente vai ser no fim de semana. Mas deixa comigo! :+1:

[2015-07-23 21:41] adammacias commented on #320
Tranquilo man, se eu conseguir faço antes, mas ta osso aqui por hora :+1: :smile:

[2015-07-23 22:27] matheusgimenez commented on #320
Se puderem deem uma revisada:
https://github.com/wpbrasil/odin/wiki/Classe-Odin_User_Meta

Usei como base a documentação do Metabox

[2015-07-23 23:06] romuloctba commented on #317
Testa aí https://github.com/wpbrasil/odin/pull/321

(alteração: https://github.com/wpbrasil/odin/commit/a02aad8eccbe9a775c206fbc001e2df55b8a4a45 )

[2015-07-26 15:12] romuloctba commented on #303
@AdsonCicilioti , a solução do @ivanildodias resolveu pra vc?

[2015-07-26 16:30] matheusgimenez commented on #320
Ops.. coloquei o link errado no comentário acima, hehe

https://github.com/wpbrasil/odin/wiki/Classe-Odin_Term_Meta

[2015-07-26 17:49] AdsonCicilioti commented on #303
Olá @romuloctba .. Ainda vou testar.. vou tirar um tempo ainda hoje.

[2015-07-27 14:26] AdsonCicilioti commented on #303
Bom galera, avaliando melhor essa implementação descobri o porquê o `novalidate` foi inserido no WP justo quando o suporte ao HTML5 é habilitado.
O Support HTML5 foi implementado por uma questão de usabilidade na escrita em dispositivos móveis, exemplo:
no preenchimento de campos do tipo `email`, `url` o teclado do dispositivo mostra os botões `@` e/ou `.com`, facilitando a escrita nos mesmos.
E t

[2015-07-27 15:34] ivanildodias commented on #303
Olá @romuloctba, você testou essa forma que eu coloquei? Comigo aqui funcionou.

O @AdsonCicilioti achou melhor manter o `novalidate` e deu uma ótima explicação do porquê.
Mas se quiser removê-lo sem usar **JS**, acho que a minha opção é válida. Fica sendo uma opção para cada um.

[2015-07-29 13:57] gustavaum opened #326 "Modificar o rótulo do button no odin_contact_form"
Olá pessoal,

Dei uma lida na documentação e não achei um caminho em que eu possa alterar o rótulo do botão usando o odin_contact_form.
É possível eu alterar esse rótulo de "enviar" para uma mensagem que eu queira?

(desculpa se não for elegante postar esse tipo de dúvida aqui =S )
obrigado desde já

[2015-07-30 23:29] adammacias commented on #326
@gustavaum não tem suporte para isso ainda, você pode tentar fazer isso na hora de renderizar seu formulário

[code]

\- ou -

Você mudar no arquivo fonte [abstract-front-end-form.php#L282](https://github.com/wpbrasil/odin/blob/e2b279a4823dc7d1cbb979ad2f5958e80615cf0e/core/classes/abstracts/abstract-front-end-form.php#L282) que eu **não recomendo**, pois faz parte do core do Odin.

[2015-07-30 23:30] #303 closed

[2015-07-31 15:48] AdsonCicilioti commented on #326
@gustavaum acho que rola criar como `attr` no shortcode. Mas teremos que mexer no core @adammacias, deixando o texto padrão (enviar) com a possibilidade de modificá-lo por shortcode, tipo assim: `[contact_form label="Confirmar"]`

[2015-07-31 16:23] gustavaum commented on #326
Obrigado pela ajuda =D

Odin salvando vidas hehehe

[2015-08-01 22:23] adammacias commented on #326
Sim @AdsonCicilioti , seria interessente, abre uma issue para isso. ;D

@gustavaum fechando a issue então! :)

[2015-08-01 22:23] #326 closed

[2015-08-01 22:29] adammacias opened #328 "Discussão Odin v3.0.0"
Pessoal, o @claudiosmweb sugeriu um hangout para discutirmos mudanças radicais no Odin, estou abrindo esse tópico para receber feedbacks do que podemos criar/remover/mudar e etc, daí a gente faz o hangout com base nesse tópico! :dancer:

cc:
@wpbrasil/owners
@wpbrasil/developers
@wpbrasil/contribuidores

[2015-08-01 23:21] AdsonCicilioti commented on #328
Bacana! Gostaria de colaborar com um redesign no BRANDING do Odin. Acho que a v3.0 merece. Mas tbm tive umas idéias q vou tentar reunir.

[2015-08-02 00:00] matheusgimenez commented on #328
Com certeza estarei presente!

[2015-08-02 00:01] matheusgimenez commented on #320
@adammacias Fecha esse issue aqui, hehe.. ou falta alguma coisa ainda na documentação?

[2015-08-02 18:44] adammacias commented on #320
:yum: :+1:

[2015-08-02 18:44] #320 closed

[2015-08-02 18:50] adammacias commented on #200
Fechando essa, deixar só a issue #94

[2015-08-02 18:50] #200 closed

[2015-08-02 18:54] #311 closed

[2015-08-02 19:00] adammacias commented on #106
- Adicionando Metabox para tela de edição de terms #318
- Documentação para class-term-meta #320
- https://github.com/wpbrasil/odin/wiki/Classe-Odin_Term_Meta

[2015-08-02 19:00] #106 closed

[2015-08-02 19:01] adammacias commented on #83
#317

[2015-08-02 19:01] #83 closed

[2015-08-04 03:43] vinigarcia87 opened #329 "Autoprefixer"
Como o odin resolve o problema dos autoprefixers?
Eu sou novo no grunt e nao consegui indentificar no gruntfile como o Odin aplica os prefixers no bootstrap.
Alguem poderia me explicar exatamente como isso funciona? :)
Obrigado!

[2015-08-04 04:21] AdsonCicilioti commented on #329
@vinigarcia87, ficou em desuso, pelo menos no odin, pois o odin já usa o bootstrap (Sass) mais atual que em seus mixins já possui os prefixos necessários para suportar os Browsers mais usados.

É bem verdade que ele suporta os browsers mais modernos, mas você ainda encontra, como por exemplo no mixin `opacity`que suporta transparencia para o IE8.

Você pode dar uma checada no arquivo `_vendor-pref

[2015-08-05 20:28] adammacias commented on #329
O pacote que usamos para renderizar o CSS, [faz o uso **compass**](https://github.com/gruntjs/grunt-contrib-sass#compass), você pode usa-la configurando o seu `Gruntfile.js`.

[2015-08-05 20:28] #329 closed

[2015-08-05 20:30] claudiosmweb commented on #329
*autoprefixer*?
Estamos em 2010 de novo?

[2015-08-05 23:20] vinigarcia87 commented on #329
Agradeço muito a resposta galera!
Nao sei se voltamos a 2010... mas como eu disse, sou novo nesse assunto e gostaria de entender pq o Odin nao usa o autoprefixer.
vlw!

[2015-08-05 23:22] claudiosmweb commented on #329
@vinigarcia87 porque ninguém usa mais autoprefixer, isso é coisa de idoso.

[2015-08-05 23:23] claudiosmweb commented on #329
Alias, escrever CSS com mil prefixos hoje em dia é provar que não manja ABSOLUTAMENTE PORRA NENHUMA de CSS.

[2015-08-05 23:27] vinigarcia87 commented on #329
ah muito obrigado por deixar claro, parceiro

[2015-08-06 14:32] romuloctba commented on #329
praticamente um alazão de delicadeza

[2015-08-08 20:13] nandomoreirame commented on #328
Legal, vou acompanhar com certeza..

Uma dia: Talvez fazer do Odin menos tema e mais framework... mais modularizado... tem muitas pessoas que não usam por achar que se trata de "mais um tema" no mercado...

Abrax

[2015-08-12 13:11] luizrw opened #333 "Odin_Metabox - possível bug 'image_plupload'"
Usando a classe Odin_Metabox criei um campo do tipo 'image_plupload'. Pra recuperar usei um foreach simples, como diz a documentação:

https://github.com/wpbrasil/odin/wiki/Classe-Odin_Metabox#image_plupload

"No seu tema é necessário converter essa informação para um array e assim utilizar as funções mostradas no campo image.
Veja um exemplo de como utilizar:"

[code]
Recupero os valores normais.

[2015-08-13 02:12] pauloiankoski commented on #333
Enviei correção para este problema há pouco. https://github.com/wpbrasil/odin/blob/master/core/assets/js/admin.js

[2015-08-13 02:21] #333 closed

[2015-08-16 17:42] joaovitorpf opened #336 "Pergunta bem novato , Como usar wordpress como web site? não quero blog e sim web site"
olá pessoal , sou bem novato mas vamos la conheci esse framework  pela internet e gostaria de saber como usar ele como site igual vi na parte de cases  muitos que nem parecem wordpress , gostaria de saber como usar como web site é so apenas usar como html sem usar os comandos php que o wordpress usa para aparecer certas coisas .

Entao minha pergunta é simples como usar wordpress como site.

[2015-08-16 17:43] valeriosouza commented on #336
Rapaz

[2015-08-16 18:47] fdaciuk commented on #336
Rapaz²

[2015-08-16 18:58] nandomoreirame commented on #336
Rapaz³

[2015-08-16 19:00] joaovitorpf commented on #336
?

[2015-08-16 19:17] celsofabri commented on #336
Não entendir

[2015-08-16 19:27] fdaciuk commented on #336
@joaovitorpf a forma como você vai utilizar o WordPress independe se você vai utilizar um framework ou não. Você precisa conhecer WordPress, HTML, CSS e JS. Com isso, você faz o que você quiser com WordPress!

Use esse canal para dúvidas específicas sobre o Odin! Para dúvidas sobre WordPress, use o [fórum oficial](https://br.forums.wordpress.org/) ou o [grupo no Facebook](https://www.facebook.com/

[2015-08-16 19:27] #336 closed

[2015-08-16 19:35] romuloctba commented on #336
Desculpa comentar Issue fechado, mas acho que nosso amigo poderia gostar
deste material:
http://pt.slideshare.net/rafaelfunchal/fazendo-milagres-com-wordpress

2015-08-16 16:27 GMT-03:00 Fernando Daciuk <notifications@github.com>:

[2015-08-18 22:50] adammacias opened #337 "Suporte para ícone (Favicon)"
Pessoal, como a alguns de vocês já sabem, a [versão 4.3](https://wordpress.org/news/2015/08/billie/) do WordPress permite o usuário fazer upload de um ícone para o tema. Acho que com isso, cria-se o seguinte dilema:

1. [Deletar o ícone padrão do Odin](https://github.com/wpbrasil/odin/blob/master/header.php#L17) e deixar o trabalho para WordPress.
2. Criar uma verificação: Caso não exista nenhum í

[2015-08-18 23:03] matheusgimenez commented on #337
Por mim vai via condicional mesmo.

[2015-08-19 00:56] everaldomatias commented on #337
Voto no item [2] também.

[2015-08-19 01:19] rafaelfunchal commented on #337
Opção 2 também

[2015-08-19 01:36] matheusilario commented on #337
Opção 2

[2015-08-19 01:46] matheusgimenez commented on #337
Fiz um PR já se forem usar a opção dois.

Abraços

[2015-08-19 02:20] adammacias commented on #337
Valeu pessoal

[2015-08-19 02:20] #337 closed

[2015-08-20 03:10] daviddesigner opened #340 "Carrossel de imagens 'image_plupload' no odin"
Pessoal, estou começando a desenvolver temas utilizando o odin. Criei algumas opções de tema e dentre elas tenho um campo "image_plupload" que pretendo utilizar as imagens em um carrossel no tema.

Estou tentando exibir as imagens
<?php
            foreach ( explode( ',', $gallery ) as $image_id ) {
             $clientes = get_option( 'clientes' );
            echo '<ul>';
            echo '<li>'

[2015-08-20 03:34] adammacias commented on #340
Use [markdown](https://guides.github.com/features/mastering-markdown/#examples) quando for mostrar pedaços de códigos.

Olha a diferença:

[code]

O que acontece nesse exemplo que você deve ter visto [aqui](https://github.com/wpbrasil/odin/wiki/Classe-Odin_Theme_Options#image_plupload), é que a cada loop você consegue pegar o **IDs** das imagens através de `$image_id`.

[2015-08-20 03:34] #340 closed

[2015-08-20 12:32] daviddesigner commented on #340
Olá adammacias, grato pela resposta. Na realidade não estou entendendo muito bem... eu preciso que cada imagem fique assim:
![tela-git](https://cloud.githubusercontent.com/assets/2729185/9383276/384167d2-471e-11e5-9783-61196cab254e.jpg)

seria possível?

Ps: Não consegui colocar o peço do código usando o markdown :(

grato

[2015-08-20 20:32] vilaboim commented on #340
David, você vai precisar chamar o [campo](https://github.com/wpbrasil/odin/wiki/Classe-Odin_Theme_Options#utilizando-os-campos), fazer o [foreach](https://github.com/wpbrasil/odin/wiki/Classe-Odin_Theme_Options#image_plupload), e dentro dele chamar as [imagens](https://github.com/wpbrasil/odin/wiki/Classe-Odin_Theme_Options#image).

[2015-08-20 20:39] matheusilario commented on #340
Boa tarde David, utilizei da seguinte forma:
[code]

[2015-08-21 15:04] rickbenetti commented on #328
Minha sugestão pode parecer contra a maré, mas eu tiraria o Bootstrap ou a necessidade dele, ter um padrão de classes próprio o tornaria mais universal.

[2015-08-21 16:00] matheusgimenez commented on #328
Acho importante levar em conta o issue #301, acho importante tentarmos manter no padrão do WP e deixarmos de lado a Settings API :)

[2015-08-23 20:20] matheusgimenez opened #341 "Implementar Field de Mapas para as classes de Options, Metabox e etc"
O que acham de adicionar fields para maps, nas classes de metabox?

Penso em fazer de uma forma que possamos usar o google maps ou o open street maps.

Enfim, opinem :)

[2015-08-25 02:22] adammacias commented on #341
É uma boa, pensei até que já tivesse rs.

[2015-08-25 13:53] Rahmon opened #342 "Duplicação do conteúdo ao ativar o plugin NextGen Gallery"
Testei outros plugins que tem o mesmo propósito do NextGen Gallery, mas apenas este apresentou o problema.

![odin-bug](https://cloud.githubusercontent.com/assets/6010232/9468340/85fc7e10-4b17-11e5-81cd-9975c8f4e378.png)

[2015-08-25 19:40] adammacias commented on #342
@Rahmon explica melhor sua dúvida por favor.

Chutando uma solução sem saber seu problema, acho que seu tema deve estar chamando mais de uma vez o `get_header()`.

[2015-08-25 19:56] rafaelfunchal commented on #342
Instalei o NextGen Gallery em localhost com Odin sem alterações (master) e não consegui replicar o erro.

[2015-08-25 21:06] Rahmon commented on #342
@adammacias eu também imaginei que o tema estivesse chamando duas vezes uma mesma função. Mas o que me deixou intrigado foi o fato de isso acontecer apenas quando eu ativo o plugin NextGen Gallery.

@rafaelfunchal vou verificar se tem algum outro plugin ativado. Se não, vou fazer uma nova instalação e ver se o problema continua.

Obrigado pelas contribuições.

[2015-08-25 21:46] adammacias commented on #342
Ok! Vou fechar o tópico então, pois acredito que não seja incompatibilidade com o Odin, já que o @rafaelfunchal deu o feedback positivo :smile:

[2015-08-25 21:46] #342 closed

[2015-09-01 13:05] wandersondantas opened #344 "Dúvida Odin_pagination"
Pessoal, bom dia, gostei muito de utilizar o odin como framework, porém algumas dúvidas surgiram, quando implemento o odin_pagination, ele aparece os mesmos posts nas duas páginas, será que alguém pode me ajudar?

[2015-09-01 13:30] Rahmon opened #345 "Criar método na classe Odin_Options_Helper para verificar se a opção foi setada"
O que vocês acham de criar um método na classe Odin_Options_Helper para verificar se uma opção foi setada?

Tenho usado a função `__toString()` para isso:
[code]

Mas será que não vale a pena criar um método específico?

[2015-09-01 17:09] adammacias commented on #344
Como você está implementando @wandersondantas ?

[2015-09-01 17:33] rafaelfunchal commented on #344
Parece que está alterando o loop principal em algum momento.

Poderia verificar isso, @wandersondantas ?

[2015-09-02 11:37] wandersondantas commented on #344
Meu código está assim:

<?php $query = new WP_Query(  array( 'post_type' => 'dicas', 'showposts' => 4) ); ?>

                <?php
                    // Start the Loop.
                    while ( $query->have_posts() ) : $query->the_post();
                ?>

                    <div class="col-xs-12 col-sm-12 col-md-12 lista-dicas">
                    	<div class="row">

[2015-09-02 12:31] leobaiano commented on #344
Comece trocando `showposts` por `posts_per_page`.

Em qual arquivo você está fazendo isso ai? Para listar os posts de um post type você utiliza o arquivo `archive.php` ou `archive-slug.php` para ser mais especifico. No seu caso o normal seria criar o `archive-dicas.php` e eu recomendaria o uso de `pre_get_posts` para alterar a quantidade de posts que serão exibidos.

Outra coisa, da uma olhada na

[2015-09-02 12:40] rafaelfunchal commented on #344
Mais alguns detalhes:

- Você não precisa acessar diretamente essa função. Dê uma olhada nesse [exemplo do archive.php](https://github.com/wpbrasil/odin/blob/master/archive.php#L46) onde usamos a `odin_paging_nav()`.
- Perceba também que a função precisa estar dentro do `if`, caso contrário ela não receberá a query.

[2015-09-02 21:11] pabloworks commented on #161
Pessoal os links da demo estão off

[2015-09-02 21:19] rafaelfunchal commented on #161
Temos que editar a documentação, @pabloworks . O demo não existe mais.

[2015-09-02 21:20] pabloworks commented on #161
@rafaelfunchal entendi, vlw.

[2015-09-03 17:48] valeriosouza commented on #301
Esse assunto, como ficou?

[2015-09-03 18:29] valeriosouza commented on #328
Não concordo em tirar o bootstrap e sim de facilitar a forma de incluir outros.

[2015-09-03 20:44] AdsonCicilioti commented on #328
Verdade @valeriosouza. Inclusive facilitar a inclusão de temas do próprio bootstrap, como os do https://bootswatch.com/

[2015-09-03 20:48] AdsonCicilioti commented on #328
Outra feature que poderia ser implementada é a customização dos mapas do google utilizando APi style dos mapas ou até mesmo algo mais elaborado com no https://snazzymaps.com/.

[2015-09-04 00:41] adammacias commented on #328
@valeriosouza concordo, acho que talvez uma boa solução para isso, seria deixar o Odin 100% preparado para ser um tema pai, e criar um tema filho o mais limpo possível, com o Bootstrap, Foundation ou etc.

[2015-09-04 01:45] matheusgimenez commented on #328
Não gosto da ideia de deixar o Odin como tema pai e filho ser editavel.. Eu por exemplo (com a Brasa), uso temas filhos de temas feito com o Odin em alguns projetos e com isso ficaria impossivel, quer dizer, não dá pra criar um tema neto..

[2015-09-04 02:31] rickbenetti commented on #328
Concordo com o @adammacias sobre o Odin ser um tema pai, eu faço isso com todos os projetos eu tenho 1 tema pai e temas filho para cada necessidade.

Mas veja bem @matheusgimenez neste caso eu acredito que deveria ser separado as versões assim com o Bootstrap está fazendo, a versão 2 continuou existindo, a versão 3 continuará, e a versão 4 e 5 surgirão, mas um projeto uma vez feito com uma versão

[2015-09-04 03:43] allysonsouza commented on #328
Não consigo ver benefícios em pensar o Odin como um tema preparado para ser um "parent theme".

Como ficaria o projeto? Viria com um Odin Theme + um My Child Theme com os templates duplicados? Ou fica por conta do usuário, sobrescrever os templates que deseja? No caso, eu sobrescreveria todos, porquê o Odin é um framework e a maioria dos templates dele precisam ser trabalhados para atender o desig

[2015-09-04 03:54] allysonsouza commented on #301
Achei bem legal essa Kirki @matheusgimenez. Acho que talvez incorporá-la, ou mesmo recomendá-la já que ela funciona como um plugin, a princípio, seja melhor do que pensar em desenvolver uma classe própria para isso. (Há menos que alguém esteja com tempo sobrando ai :stuck_out_tongue_winking_eye: )

[2015-09-04 03:58] allysonsouza commented on #341
Acho que é interessante. Antes não tínhamos classe para meta boxes em termos, ai eu instalava o ACF :P, esse também é um field que ele possui que pode ser útil em alguns projetos. :+1:

[2015-09-04 04:03] matheusgimenez commented on #301
@allysonsouza agora ele é um plugin, antes não era, hehe.. por isso sugeri.. Mas por aqui eu ainda continuo usando como um include. Mas talvez não seja uma boa prática isso, hehe
Talvez seja interessante pensar a abordagem de criar uma classe.. seria demorado.. mas creio que é uma coisa importante. Eu poderia tentar ajudar com isso (mas sem pressa).

Mas acho que esse é um assunto importante, já q

[2015-09-04 12:39] tiagofabre commented on #92
E se ao invés de criar um menu para as shortcodes, fosse utilizado/desenvolvido um criador de shortcodes que gera esse menu com todos os campos necessários 'automagicamente'?

[2015-09-04 16:19] diegorojas commented on #328
Ola gente, tudo bem? Como temos usado muito o Odin entendo esse horizonte de transforma-lo em um Parent Theme, mas a questão é que ele não foi concebido para isso. Ele foi feito para ser um framework gerador de Temas e isso não pode mudar, ao meu ver.

Temos dois caminhos... Fazer um projeto filho do Odin, que seria o Thor (por exemplo) para esse sim ser um Parent Theme, mas que precisaríamos pens

[2015-09-04 17:37] wandersondantas commented on #344
Eu utilizei o arquivo page-{slug}.php, mas até agora não resolvi, demorei a responder pois tinha dado uma pausa no projeto, vou tentar mudar para o archive.php e vê se resolve.

[2015-09-08 00:13] claudiosmweb commented on #328
Podem esquecer de ele virar um Parent Theme. O que pode acontecer é retirarmos várias coisas da versão 3.0.0 e transformar em plugins, mas não vai virar Parent Theme.

[2015-09-08 00:59] AdsonCicilioti commented on #328
O Odin já é o pai de todos. :+1:

[2015-09-08 01:19] claudiosmweb commented on #328
Sim, ideia é criar seu tema por cima dele e pronto.
Não manter ele como tema pai, nem vale esse esforço, além que hoje como ele está também nem é complicado fazer isso, já tem várias coisas que torna isso possível.
Então forcar nisso é cagada.

[2015-09-08 01:42] AdsonCicilioti commented on #328
@claudiosmweb aproveitando que vc está na área, estive observando a feature do tema Layers que torna diversas áreas personalizáveis, meio que 'widgetizando' elas para facilitar a edição/customização dos conteúdos no front através do "Personalizar" padrão do WP.
Como vc vê isso? Seria viável a implementação neste sentido no Odin?

[2015-09-08 01:43] claudiosmweb commented on #328
@AdsonCicilioti não, ideia aqui não é arrasta e solta.

[2015-09-08 01:45] AdsonCicilioti commented on #328
Certo. E o que vc já tem como meta para a v3.0?

[2015-09-08 01:51] claudiosmweb commented on #328
@AdsonCicilioti melhorar as classes do plugin, tornar mais simples ainda de criar as coisas com ele.
Rever algumas funcionalidades e remover o que não é usado.
Tudo coisa tangível, nada surreal ou que galera só vai dar ideia, não ter noção de como fazer e muito menos querer ajudar a desenvolver. O que eu quero qualquer um consegue ajudar.

[2015-09-08 02:07] AdsonCicilioti commented on #328
Sim claro. Verdade. Idéias vão chover mesmo. Queria saber se o Odin iria seguir essa linha de um tema para "não-programadores", o tornando mais digerível pro mercado, mas isso ficará a cargo de como vamos utilizá-lo em nossos projetos.

[2015-09-08 02:24] claudiosmweb commented on #328
@AdsonCicilioti me passa essas drogas ai que quero usar também.
Não foi e nunca será **"não-programadores"**, foco aqui sempre foi desenvolvimento rápido e ágil, para entregar algo limpo e simples para o cliente final. Cliente final vai fazer apenas o que foi deixado de opção do tema pra ele depois e ponto.
Ideia aqui nunca foi ser um Visual Composer, até porque se quer arrastar e soltar coisas qu

[2015-09-08 09:26] AdsonCicilioti commented on #328
Blz brow. Foi o que eu disse. Tais implementações, caso necessário, ficará a cargo de cada projeto, via plugin ou implementações 'na unha'.
Valew meu querido! Tamo junto!

Quanto as drogas, desculpa.. vou ficar te devendo brow...  Eu viajo muito mesmo.. imaginação muito fértil! XD

[2015-09-08 10:21] leobaiano commented on #328
Nessa próxima versão quero contribuir mais com o Odin. Acho que seria legal fazer uma lista do que entra e o que sai nessa próxima versão. Por exemplo, a criação de CPT e taxonomy são as funcionalidades que mais usei nos projetos com Odin, porém o ideal é criar essas coisas como plugin para que não fique atrelado ao visual, vai manter CPT e taxonomy no Odin? Das coisas para incluir acho que tem qu

[2015-09-08 13:41] matheusgimenez commented on #328
Sobre o customizer estamos debatendo isso no issue #301

[2015-09-08 15:46] AdsonCicilioti commented on #328
Quando mencionei o jeitão do tema Layers, me referi a forma em fazer uso melhorado do Customizer, para editar conteúdo e não Layout. Mas o @claudiosmweb entendeu Drag'n-Drop.. Enfim, acho que seria uma boa fazer uso deste recurso já que é padrão e nativo do WP.

Vou tentar colaborar com isso @matheusgimenez.

[2015-09-08 18:13] claudiosmweb commented on #328
Mesmo assim, Customize API é algo que provavelmente não vai entrar no Odin, simplesmente porque não precisa. O WordPress já tem uma API excelente para isso, sem a necessidade de ficar lidando como as opções aparecem (HTML e CSS), tanto quanto funcionalidades como no caso de upload ou adicionar colorpicker, sem contar também para salvar.

Alias, uma das ideias é transformar a forma que criamos algu

[2015-09-08 18:13] claudiosmweb commented on #301
Fechando por causa de: https://github.com/wpbrasil/odin/issues/328#issuecomment-138654298

[2015-09-08 18:13] #301 closed

[2015-09-08 18:15] claudiosmweb commented on #328
@leobaiano sobre essas coisas, sim o ideal é criar por plugin, mas aqui desde sempre focamos em entregar o projeto pronto para o cliente e livre dele alterar e quebrar o que foi implementado, o que iria acontecer usando plugins para fazer isso.
No formato que estamos aqui, não seria um problema ter isso dentro do Odin, entretanto se for levar tudo o que tem aqui para um plugin, ai também não seria

[2015-09-08 19:51] allysonsouza commented on #328
Concordo com o @claudiosmweb, estou fazendo um projeto com o Odin e utilizando a API de Customizer e a coisa já tá fina, fazer algo para criar os mesmos campos seria uma redundância, e no caso de precisar de campos adicionais o plugin que o @matheusgimenez postou na issue #301 atende bem.

[2015-09-08 19:59] AdsonCicilioti commented on #328
Entendi @allysonsouza. Valew

[2015-09-08 21:01] claudiosmweb commented on #328
Hoje temos um problema enorme aqui de repetir código, todas as classes repetem código para gerar HTML das opções, sem contar outras coisas.
Isso é algo que precisamos resolver nessa versão nova.

Até podemos adicionar algumas coisas do Kirki aqui para ajudar na Customize API, mas não fazer um wrapper dela como fazer para outras coisas.

[2015-09-09 14:51] rafaelfunchal commented on #344
Como a paginação funciona corretamente quando aplicada antes de fechar o if do loop ([veja o exemplo](https://github.com/wpbrasil/odin/blob/master/archive.php#L46)), estou fechando esse issue.

[2015-09-09 14:51] #344 closed

[2015-09-09 14:55] rafaelfunchal commented on #92
Está falando algo como o [Shortcake](https://wordpress.org/plugins/shortcode-ui/), @tiagofabre ?

[2015-09-09 15:29] tiagofabre commented on #92
Sim, exatamente isso @rafaelfunchal.
Adicionar o shortcode e os tipos de parâmetros que ele recebe, depois disso toda a interface é gerada. Isso evita bastante retrabalho e facilita o desenvolvimento de futuras shortcodes por não ter que se preocupar com Plugins tinyMCE, pequenos detalhes e etc...

[2015-09-09 15:55] claudiosmweb commented on #92
Nem, aqui a ideia era só ter menu para os shortcodes que já temos hoje.
É fácil pra caramba fazer isso: https://github.com/woothemes/woocommerce-shortcodes

[2015-09-09 15:55] claudiosmweb commented on #92
Esse é o tipo de issue que qualquer um poderia fechar, mas que vou acabar fechando porque ficaram com medo de fazer.

[2015-09-09 16:17] tiagofabre commented on #92
Concordo que adicionar as shortcodes existentes não é difícil. Mas o lance dessa ferramenta é a reutilização de código... Criar uma pagina não é difícil, mas mesmo assim existe um criador de páginas...

Talvez isso só devesse estar numa issue de sugestão...

Ah, pode deixar que eu fecho essa issue, faço o dropdown só dos existentes...

[2015-09-10 20:59] brunowindrop opened #347 "problema function field_image_plupload, ao re-ordenar as imagens, é criado um item vazio"
Ao re-ordenar as imagens tanto no metabox quanto no options_theme pelo pupload ele cria um item vazio. Fazia de tudo e não consigia mais tirar o item vazio. Resolvi da seguinte forma, :
(não sei se é gambiarra e acho tenso mecher na pasta core. Se realmente for um problema, acho que fica fácil arrumar uma soução oficial)
no arquivo: core/classes/class-metabox.php
protected function field_image_plu

[2015-09-14 16:47] nandomoreirame opened #348 "Adicionar schema BlogPosting e role="article""
Olá galera!

Poderíamos deixar como padrão alguns atributos schema na tag article e em outras tags importantes para um site.

Podemos adicionar role="article" também, o que acham?

[2015-09-19 04:47] tiagofabre commented on #92
segue o [pull request](https://github.com/wpbrasil/odin/pull/349)

[2015-09-20 16:17] adammacias commented on #328
Como o @claudiosmweb disse, tem boilerplate pacas nas classes! :+1: Isso esta dificultando a manutenção.

***

Outra coisa que eu gostaria saber a opinião de vocês, é, vale a pena trocar o **Grunt** pelo **Gulp**? :ghost:

[2015-09-20 17:00] claudiosmweb commented on #328
@adammacias acho que vale xD
Sinceramente eu comecei ser totalmente 100% a favor do gulp nas ultimas semanas :p

[2015-09-21 13:31] WPires opened #350 "Função de atualização para o tema"
Olá,

gostaria de saber como eu posso criar uma função de atualização para o um tema utilizando o Odin.

A ideia é que essa função busque em um servidor externo a versão mais recente do tema e caso necessário baixe as novas versões dos arquivos e substitua pelos atuais de forma automática.
Se tiverem links de artigos aonde eu consiga saber como fazer isto, já é o suficiente.

Se este não for o lug

[2015-09-21 14:40] rafaelfunchal commented on #350
Isso não tem nada relacionado com Odin, @WPires, mas sim com WordPress em geral.

Você pode pesquisar isso de um modo geral.

[2015-09-21 14:40] #350 closed

[2015-09-21 14:58] WPires commented on #350
Entendo, obrigado.

[2015-09-23 00:38] adammacias commented on #328
Show @claudiosmweb , o @fdaciuk tbm curti Gulp que eu sei, nunca tive a oportunidade de usa-lo ainda, mas confio em vocês que seja melhor que Grunt! haha

[2015-09-23 00:59] claudiosmweb commented on #328
Mas estou vendo que vou ter que criar uns modulos para o Gulp para fazer umas coisas que quero aqui xD

[2015-09-23 01:03] fdaciuk commented on #328
Preciso tomar vergonha na cara e terminar o odin-gulp :stuck_out_tongue_winking_eye:

[2015-09-24 19:31] tiagofabre opened #352 "Parâmetros das shortcodes"
Alguns parâmetros das shortcodes "Group button" e "Progress" não estão funcionando OU eu não entendi como inserir. Gostaria de saber se isso é bug ou se eu que inseri errado ( dependendo da resposta vou precisar corrigir o menu de shortcodes)

Segue os exemplos
![group](https://cloud.githubusercontent.com/assets/1669523/10084252/d172cf7e-62d8-11e5-83df-160f0a66a4c5.png)
![progress](https://cloud.g

[2015-09-27 20:25] brunopulis commented on #348
@nandomoreirame A role="article" não precisa de ser incluida mais, por padrão os leitores de tela conseguem interpretar que a tag <article> já se referencia a um <article>. Deve ser utilizado somente em casos especificos.

Segue um link explicando um pouco :)

http://html5doctor.com/using-aria-in-html/

[2015-09-27 20:58] #348 closed

[2015-10-02 14:32] wandersondantas opened #353 "Lista de Taxonomia criada"
Boa tarde pessoal.

Como faço pra exibir no meu tema, uma lista de uma taxonomia que criei para um post personalizado??

[2015-10-05 18:31] allysonsouza commented on #353
O que é uma "lista de uma taxonomia"? Seria a lista de termos de uma taxonomia? Se for, você faria da mesma forma que faria sem o Odin. https://codex.wordpress.org/Function_Reference/get_terms

[2015-10-07 11:59] wandersondantas commented on #353
Isso mesmo @allysonsouza , ainda estou me acostumando com os termos, consegui resolver, agora eu queria uma outra ajuda.

Essa página de produtos: http://wandersondantas.com/clientes/kilder/produtos/ , é um custom post, o que eu queria fazer era, poder adicionar uma categoria nova e aparecer na lista (já consegui), a bronca é, ao clicar em cada categoria, só aparecer os produtos daquela categoria

[2015-10-07 12:12] claudiosmweb commented on #353
Faça do mesmo jeito que você faria com o WordPress normalmente.

[2015-10-07 12:12] #353 closed

[2015-10-15 01:34] trsenna commented on #328
cai no site do odin agora pouco, e parei aqui depois de navegar um pouco na documentacao e código. Permitam-me opinar sobre o que eu acharia legal numa próxima versao

* que o odin continuasse sendo um tema de partida, e moveria as funcionalidades de framework para um plugin ou outro projeto no github (para ser incluido usando submodule)
* vi que ja foi discutido nas threads anteriores, mas concor

[2015-10-16 20:46] guilima opened #359 "Breadcrumb sub-categoria maior que o segundo nível"
Na página template de uma sub-categoria maior que o segundo nível ex.:
* Notícias
 * Ensino Fundamental
   * **Fundamental 7ª série**

Acontece o seguinte bug:
![Imagem breadcrumb bug](http://i.imgur.com/5Vo98GL.png)
Tanto a categoria 'Notícia' e 'Ensino Fundamental' estão ficando contidos no mesmo bloco `<li></li>` uma vez que a função `get_category_parents()` chama todas as categorias pais inclu

[2015-10-18 12:20] AdsonCicilioti commented on #359
Testa aí @guilima #360

Aqui foi de boa! :D

[2015-10-19 11:16] guilima commented on #359
Perfeito @AdsonCicilioti agora as categorias estão aparecendo corretamente no breadcrumb.
Valeu pela solução.

[2015-10-19 11:45] #359 closed

[2015-10-20 01:30] AdsonCicilioti commented on #341
Vale inclusive um Campo para incluir Estilos para os Mapas (do Google) com código Json, como no Snazzy Maps - https://snazzymaps.com

[2015-10-26 14:59] romuloctba opened #363 "[Solicitação de revisão] Adicionando ícones para os Post Types no wp-admin"
Achei que seria relevante essa informação na WIKI, então editei.

Peço que avaliem e me digam se acham que está ok.

https://github.com/wpbrasil/odin/wiki/Classe-Odin_Post_Type#adicionando-%C3%ADcones-para-o-post-type-no-wp-admin

[2015-10-26 16:36] fdaciuk commented on #363
LGTM :+1:

[2015-10-26 16:37] romuloctba commented on #363
blz vou fechar. Se alguém visualizar aqui e quiser indicar alguma alteração ou fazer alguma obs, sinta-se a vontade para reabrir a issue.

^^ :octocat:

[2015-10-26 16:37] #363 closed

[2015-10-27 20:19] romuloctba opened #364 "Checkbox com default 1 retorna undefined index"
Se criarmos uma checkbox com default 1, embora ela apareça checada nas theme options, ao solicitar ela pelo php, recebemos `undefined index`, já que ela não é definida.

Para solicitar corretamente no front precisamos usar um fallback com `isset()`, ou salvar a checkbox desmarcada, e depois marcando novamente ela.

[2015-10-27 20:21] romuloctba commented on #364
[code]

[2015-10-27 20:21] romuloctba commented on #364
é que não achei a linha ainda pra poder editar no `class-metabox.php`, mas pretendo fazer.. por isso abri a issue. caso alguem faça antes, td bem, por enqnto to usando o isset().

[2015-10-27 20:23] fdaciuk commented on #364
@romuloctba já tem um bug aberto pra isso em https://github.com/wpbrasil/odin/issues/124.

Tem algumas ideias de solução lá, mas ainda não foi testado.

[2015-10-27 20:24] romuloctba commented on #364
ih carai, foi mal

[2015-10-27 20:24] #364 closed

[2015-10-27 20:25] romuloctba commented on #124
+1

[2015-10-27 20:26] fdaciuk commented on #124
Coloquei pra eu fazer mas acabei ficando sem tempo e nem mexi nisso.. se alguém quiser tentar :)

[2015-10-27 20:27] romuloctba commented on #124
Pretendo tendar depois, nao vou prometer :P qual a solução q vc acha q achou?

[2015-10-27 20:27] fdaciuk commented on #124
A do `hidden` no checkbox: https://github.com/wpbrasil/odin/issues/124#issuecomment-42114502

Pode ser que funcione xD

[2015-11-17 09:10] killuawax opened #368 "Links de exemplo quebrados"
Os links de exemplo dos shortcodes estão todos quebrados.
Abaixo os link:
https://claudiosmweb.com/shortcodes/buttons/
https://claudiosmweb.com/shortcodes/button-groups/
https://claudiosmweb.com/shortcodes/alerts/
https://claudiosmweb.com/shortcodes/labels/
https://claudiosmweb.com/shortcodes/badges/
https://claudiosmweb.com/shortcodes/icons/
https://claudiosmweb.com/shortcodes/wells/
https://clau

[2015-11-17 14:41] claudiosmweb commented on #368
Pronto, removi todos os links.

[2015-11-17 14:41] #368 closed

[2015-12-10 03:14] matheusgimenez opened #369 "Item estranho na documentação"
Hoje estava fuçando a documentação e vi que tem um item meio WTF lá no meio:

https://github.com/wpbrasil/odin/wiki/ATPS-da-disciplina-Compiladores---Prof%C2%BA-Michel.

[2015-12-10 03:21] claudiosmweb commented on #369
Isso que da liberar para a galera poder editar a wiki xD

[2015-12-10 03:21] #369 closed

[2015-12-10 04:44] allysonsouza commented on #369
hahaha, que brisa isso xD

[2015-12-18 14:45] matheusgimenez opened #371 "Fazer versão do site em inglês"
Olá galera,

Não acha que ta na hora de colocarmos um site em inglês pro Odin? Deixando ainda o atual em portugues, mas fazendo uma versão do mesmo em outro endereço (subdominio, talvez?) em inglês.

O que acham?

Me proponho a começar isso.. Só preciso de um OK!

[2015-12-19 00:55] LuwkasLima commented on #371
Posso ajudar nessa!

[2015-12-19 01:56] matheuscl commented on #371
também posso ajudar se precisar.

[2015-12-19 03:52] claudiosmweb commented on #371
Melhor seria o principal ser em Inglês e ai ter uma pasta para pt_BR mesmo.
So mandar Pull Request :P